/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-search-error-indicator {
  position: absolute;
  top: 2.875rem;
  left: 3.75rem;
  width: 30rem;

  font-size: 0.75rem;
  color: #6b8088;
  background: #1b2733;
  padding: 0.5rem 1rem 0.5rem 2rem;
  margin: 0 0.4rem 0 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid #637282;
  border-top: 0;

  &__icon {
    position: absolute;
    text-indent: 0;
    left: 0.5rem;
    top: 0.5rem;

    border-radius: 100%;
    color: rgb(255, 222, 0);
    border: 1px solid rgb(255, 222, 0);
    padding: 0 0.4rem 0.05rem;
    line-height: 0.9rem;
    font-weight: bold;
    transform: scale(0.9);
    display: inline-block;
    font-size: 0.8rem;
  }
}
