/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
@import '~in-themes/active.less';
@import './dimensions.less';

.in-search-presets {
  position: absolute;
  top: 3.8rem;
  right: 7.7rem;
  right: 0.7rem;
  width: 25rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #fff;

  max-height: 50vh;
  overflow-y: auto;

  padding: 1rem 0.6rem 0.4rem 0.6rem;
  border: 1px solid @lib__colors__N300;

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__save {
    color: #90a3ab;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 0.813rem;

    &:hover {
      color: #fafbfb;

      .in-search-presets__save-icon {
        fill: #fafbfb;
      }
    }

    &--disabled,
    &--disabled:hover {
      color: #586c74;

      .in-search-presets__save-icon {
        fill: #586c74;
      }
    }
  }

  &__save-icon {
    fill: #90a3ab;
    margin: 0 0.3rem 0 0;
  }

  &__preset-list {
    margin: 0 0 0;
    padding: 0 0 0;
    font-size: 0.813rem;
    list-style: none;
  }

  &__preset-item {
    margin: 0;
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #90a3ab;

    &:hover {
      background: @lib__colors__N300;
    }
  }

  &__edit,
  &__remove {
    text-decoration: none;
    color: #90a3ab;
    margin: 0 0 0 0.6rem;

    &:hover {
      color: #fff;
    }
  }

  &__no-filters-help-text {
    margin-left: 0.625rem;
    line-height: 1.875rem;
    color: #6b8088;
  }
}
