/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-search-menu-heading {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--ids-color-option-neutral-500);
  margin: 0 0.5rem 0.6rem 0.5rem;
  padding: 0 0 0.6rem 0;

  border-bottom: 1px solid var(--ids-color-option-neutral-300);
}
