/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
@import '~in-themes/active.less';

.in-search-save-dialog {
  &__actions {
    margin: 0.5rem 0 0;
  }

  &__error {
    color: @lib__colors__failure;
    display: inline;
    margin: 0 0 0 1rem;
    font-weight: bold;
  }
}
