/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';

.in-search-save-dialog {
  &__actions {
    margin: 0.5rem 0 0;
  }

  &__error {
    color: var(--ids-color-option-red-500);
    display: inline;
    margin: 0 0 0 1rem;
    font-weight: bold;
  }
}
