@import '~in-themes/active.less';
@import './dimensions.less';

.in-search-suggestions {
  position: absolute;
  top: 2rem;

  width: 30rem;
  margin: 0 0.4rem 0 -0.563rem;
  padding: 0.3rem 0;

  border-radius: 0 0 0.25rem 0.25rem;
  font-size: 0.813rem;
  background: #fff;
  color: @lib__colors__N300;

  max-height: calc(~'100vh - ' (@in-app-header-height + @search-bar-height + @timeline-footer-collapsed-height));
  overflow-y: auto;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0.25rem 0.5rem;
  }

  &__item {
    display: flex;
    align-items: center;

    padding: 0.25rem 0.5rem;
    color: @lib__colors__N700Medium;
    cursor: pointer;

    &:hover,
    &--selected {
      background: @lib__colors__N300;
    }
  }

  &__description,
  &__term-type {
    margin-left: 1rem;
    color: @lib__colors__N500;
  }

  &__term-type {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 0.75rem;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    background: @lib__colors__N200;
    font-family: Monaco, Monospace;
    vertical-align: baseline;
    border-radius: 0.25em;
    text-transform: lowercase;
  }

  &__label {
    white-space: nowrap;
  }
}
