/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';

.in-search-use-filter-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: @lib__colors__N500;
}
