/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-search-use-filter-link {
  display: block;
  width: 80%;
  text-decoration: none;
  color: var(
    --ids-color-option-neutral-500
  ) !important; // needs !important so that it will not overruled by of :visited, or :active styling
}

.in-search-filter-item {
  cursor: pointer;
  color: var(--ids-color-option-neutral-500) !important;
  width: 100%;
}
