.in-detail-panel__problem {
  background: rgba(255, 255, 255, 0.04);
  padding: 6px 8px;
  margin: 0 0 2px;
  border-radius: 2px;

  &s {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-text {
    display: flex;
    justify-content: space-between;

    margin: 0;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &-start {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    text-align: right;
  }

}
