.in-dashboard-link {
  color: #2D4048;

  &:hover {
    color: #8c969a;
  }

  &__icon {
    max-width: 0.8rem;
    max-height: 0.8rem;
    margin: 0.313rem;
    filter: brightness(0);
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
  }
}
