.in-hierarchical-link {

  &__dark {
    color: #2D4048;

    &:hover {
      color: #8c969a;
    }
  }

  &__light {
    color: #8c969a;

    &:hover {
      color: #fff;
    }
  }

  &__icon {
    max-width: 0.8rem;
    max-height: 0.8rem;
    margin: 0.313rem;
    filter: brightness(0);
  }

  &__info-icon {
    min-width: 0.75rem;
    min-height: 0.75rem;
    margin: 0.125rem 0.4rem 0 0.15rem;
    cursor: pointer;
    position: relative;
    top: 5px;

    &--dark {
      fill: #2D4048;

      &:hover {
        fill: #8c969a;
      }
    }

    &--light {
      fill: #8c969a;

      &:hover {
        fill: #fff;
      }
    }
  }

  &__link-wrapper {
    display: flex;
  }
}
