.in-expand-hierarchy {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    max-width: 0.8rem;
    max-height: 0.8rem;
    margin: 0.313rem;
    filter: brightness(0);
  }
}
