@import "~in-themes/active.less";

.in-healthindicator {
  height: 3px;
  padding: 1px;
  background: rgba(255, 255, 255, 0.1);

  &__progress {
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
  }
}
