@import "~in-themes/active.less";

.in-healthindicator {
  position: relative;
  top: -50px;
  left: -25px;

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__inner-circle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
