@import '~in-themes/active.less';

.in-label {
  color: @lib__colors__N700Medium;
  margin-bottom: 0.5rem;

  &--has-error {
    color: @lib__colors__failure;
  }

  &[disabled] {
    color: #63757d7a;
  }
}
