@import "~in-themes/active.less";

.in-chart-with-legend {
  position: relative;

  &__rollup-indicator {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: .313rem .5rem;
    font-size: 0.625rem;
    color: #6B8088;
  }

  &__rollup-warning {
    cursor: help;
    fill: #ffde00;
  }
}
