@import "~in-themes/active.less";

.in-chart-with-legend {
  position: relative;

  &__rollup-indicator {
    position: absolute;

    padding: 5px;
    top: -20px;
    right: 0px;
    font-size: 0.625rem;
    color: #6B8088;
    display: flex;
    align-items: center;
  }

  &__rollup-warning {
    cursor: help;
    fill: #ffde00;
  }
}
