@import "~instana-ui-theme/components/TenantSwitcher/TenantSwitcher.less";
@import "~in-themes/active.less";

.in-account {
  white-space: nowrap;
  height: 25px;

  &__menu {
    position: absolute;
    top: ~'calc(100% - 10px)';
    right: 200px;

    margin-top: 10px;
    padding: 20px;
    background: @menu__background;
  }

  &__tenants {
    font-size:  0.75rem;
    margin-bottom: 20px;
  }

  &__icon {
    width: 25px;
    background: white;
    border-radius: 50%;
    opacity: 0.65;
    cursor: pointer;
  }
}

.in-tenant-switcher {
  max-height: 14.75rem;
  overflow-y: auto;
}
