@import "~in-themes/active.less";

.in-account {
  white-space: nowrap;

  &__menu {
    position: absolute;

    top: 100%;
    right: -5px;
    margin-top: 10px;
    padding: 20px;
    width: 250px;

    background: @menu__background;

    &:before {
      content: ' ';
      position: absolute;

      top: -11px;
      right: 20px;

      padding: 0;

      border: 6px solid;
      border-color:
        transparent
        @menu__background
        @menu__background
        transparent;
    }
  }

  &__tenants {
    font-size:  0.75rem;
    margin-bottom: 20px;
  }

  &__toggle-button, &__toggle-button--opened {
    height: 32px;
    &:hover {
      .in-account-menu__icon {
        opacity: 1;
      }
    }
  }

  &__icon {
    padding: 4px;
    width: 24px;
    background: white;
    border-radius: 50%;
    opacity: 0.65;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
  }
}
