@import "~instana-ui-theme/components/TenantSwitcher/TenantSwitcher.less";
@import "~in-themes/active.less";

.in-account {
  white-space: nowrap;

  &__menu {
    position: absolute;
    top: ~'calc(100% - 10px)';
    right: 191px;

    margin-top: 10px;
    padding: 20px;
    background: @menu__background;
  }

  &__tenants {
    font-size:  0.75rem;
    margin-bottom: 20px;
  }

  &__icon {
    color: #6B8088;
    font-size: 2rem;

    &:hover {
      color: white;
    }
  }
}

.in-tenant-switcher {
  max-height: 14.75rem;
  overflow-y: auto;
}
