.in-tenant-switcher {
  @tenant-switcher__headline-background-color: #435b65;
  @tenant-switcher__tag-color: #62c0ec;

  &__tenant, &__tenant-short-name {
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    cursor: pointer;
  }

  &__tenant, &__tenant-name {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: @tenant-switcher__headline-background-color;
  }

  &__tenant-short-name {
    width: 20px;
    margin-right: 15px;
    text-align: center;
    background-color: @tenant-switcher__tag-color;
  }
}
