.in-tenants {
  list-style: none;

  &__item {
    margin-left: 27px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      .in-tenants__link {
        color: white;
      }
    }
  }

  &__link {
    color: grey;

    &:hover {
      color: white;
    }
  }
}
