@import "~in-themes/active.less";

.in-sticky-note-process-metric {
  position: absolute;
  top: calc(0 - 25px);

  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 5px 7px 7px 10px;

  &__label {
    font-size: 0.8rem;
    height: 20px;
  }
}
