.in-sticky-note-process-metriclist {
  margin-top: -25%;

  &__heading-line {
    width: 40px;
    height: 2px;
  }

  &__metric {
    float: left;
    padding-right: 10px;

    &__label {
      font-size: 0.75rem;
      color: #92A5AE;
    }
  }
}
