@import "~instana-ui-themes/less/constants.less";

.in-tooltip__node__heading__warning {
  color: @map__tooltips__critical;
}

.in-tooltip__node__heading__danger {
  color: @map__tooltips__danger;
}

.in-tooltip__node__heading__ok {
  color: @map__tooltips__font;
}
