@import "~instana-ui-themes/less/constants.less";

.fix {
  position: absolute;
  top: -30px;
  left: 18px;

  z-index: @z-index__sticky-notes;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.in-tooltip__node-heading--warning {
  color: @map__tooltips__critical;
}

.in-tooltip__node-heading--danger {
  color: @map__tooltips__danger;
}

.in-tooltip__node-heading--ok {
  color: @map__tooltips__font;
}
