.in-trace-tree-span-element {
  position: relative;
  border-radius: .25rem;

  &--error {
    border: 1px solid #D73C52;
    .in-trace-tree-span-element__left-border {
      background: #D73C52 !important;
      opacity: 1;
    }
  }

  &--highlighted .in-trace-tree-span-element__background {
    background: yellow !important;
    opacity: .7;
  }

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: .438rem;
    opacity: 0.1;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    z-index: 1;

    transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out;

    .in-trace-tree-span-element:hover & {
      opacity: .3;
    }
  }

  &__left-border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: .438rem;
    z-index: 2;
    opacity: .3;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    transition: opacity 0.15s ease-in-out;

    .in-trace-tree-span-element:hover & {
      opacity: .5;
    }
  }

  &__error-icon {
    position: absolute;
    left: -.375rem;
    background: #D73C52 !important;
    border-radius: 100%;
    z-index: 3;
    padding: .188rem;
    top: .75rem;

    path {
      fill: #fff;
    }
  }

  &__content-wrapper {
    position: relative; // only required for z-index stacking
    z-index: 4;
    font-size: .625rem;
  }

  &__header {
    display: flex;
    align-items: center;
    min-height: 2.75rem;
    padding: 0 1rem;
    cursor: pointer;
    overflow: hidden;
  }

  &__category-icon {
    margin-right: .688rem;
  }

  &__self-time-label {
    font-weight: bold;
  }

  &__horizontal-divider {
    width: 1px;
    height: 1.75rem;
    margin: 0 .75rem;
    opacity: 0.5;
  }

  &__descriptions {
    display: flex;
    flex-direction: column;
    width: ~"calc(100% - 3.5rem)";
    box-sizing: border-box;
    overflow: hidden;
    margin: 0.5rem 0;
  }

  &__span-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__span-type {
    font-weight: bold;
  }

  &__first-entity {
    margin-right: 3rem;
  }

  &__toggle-details {
    position: absolute;
    right: .625rem;
    cursor: pointer;

    path {
      fill: #92A5AE;
    }
  }

  &__details {
    border-top: 1px solid #000;
    margin: 0 0 0 .438rem;
    padding: 0.1rem 1rem;
  }

  &__total-time {
    position: absolute;
    left: 1rem;
    margin-top: .125rem;
    font-size: .625rem;
    color: #6B8088;
    width: 3rem;
  }

  &__total-time-indicator {
    width: 100%;
    height: .438rem;
    background: #EEF2F4;
    border-radius: .125rem;
    overflow: hidden;
    margin: .188rem 0 0;
  }

  &__total-time-indicator-bar {
    height: 100%;
    background: #D5DFE4;
  }

  &__async-icon {
    position: absolute;
    left: -1.875rem;
    top: .188rem;
    background: #6B8087;
    padding: .25rem;
    border-radius: 100%;

    path {
      fill: #fff;
    }
  }
}
