.in-trace-view-stack-trace {
  font-size: .625rem;
  background: #F8F8F8;
  padding: .25rem .688rem;
  border-radius: .125rem;
  position: relative;

  &--clickable {
    cursor: pointer;
  }

  &__toggle-details {
    position: absolute;
    top: .313rem;
    right: .625rem;
    cursor: pointer;

    path {
      fill: #92A5AE;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
  }

  &__in {
    color: #aaa;
    margin: 0 0.3rem;
  }

  &__method {
    font-weight: bold;
  }
}
