/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/mixins.less';

.in-snapshot-description {
  display: flex;

  align-items: center;
  margin-top: 10px;

  &__icon {
    margin-right: 0.5rem;
  }

  &__label {
    font-size: 0.7rem;
    color: #818a8f;
    .breakWord();
  }
}
