.in-sticky-note {
  position: absolute;
  color: white;

  @title-size: 1.2em;
  margin-top: @title-size * -1;

  img {
    width: auto;
    height: @title-size * 1.1;
    margin: 0 .6em;
  }

  h2 {
    font-size: @title-size;
    display: inline;
  }

  p {
    color: #8ea6ab;
    margin: 0.5em 0 0 2.5em;
  }
}
