.in-sticky-note {
  @img-height: 1.6em;

  position: absolute;

  // align with connecting line
  margin-top: @img-height * -1;
  margin-left: 0.2em;

  color: white;
  white-space: nowrap;
}

.in-sticky-note__host-icon {
  width: 1.6em;
  height: 1.6em;
  border: 1px solid white;
  float: left;

  background: black url('./server_ip_icon.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50% 50%;
}

.in-sticky-note__content {
  margin-left: 2.8em;
}

.in-sticky-note__host-id, .in-sticky-note__details {
  opacity: 0;
  transition: opacity .5s;
}

.in-sticky-note__host-id {
  font-size: 1.2em;
  margin: 0;
  padding-top: 0.1em;

  .in-map--zoom-50 &, .in-map--zoom-100 & {
    opacity: 1;
  }
}

.in-sticky-note__details {
  color: #8ea6ab;
  margin: 0.5em 0 0;
  line-height: 1.4;

  .in-map--zoom-100 & {
    opacity: 1;
  }
}
