.in-navigation-timing-vertical {
  margin: 0;

  &__timings {
    display: flex;
    line-height: 1.4;
  }

  &__label {
    min-width: 6rem;
  }

  &__time {
    margin: 0;
    min-width: 5rem;
  }

  &__indicator-wrapper {
    position: relative;
    width: 100%;
  }

  &__indicator {
    position: absolute;
    top: 6px;
    height: 4px;
    background: #888;
    border-radius: 2px;
  }
}
