.in-pagination {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  height: 24px;

  &__element {
    display: inline-block;
    background-color: #92A5AE;
    color: #fff;
    height: 100%;
    overflow: hidden;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: 1px solid #40535b;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: 1px solid #40535b;
    }
  }

  &__page-indicator {
    display: flex;
    font-weight: bold;
    align-items: center;
    height: 100%;
    padding: 0 8px;
  }

  &__switch {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 0 8px;

    &:hover {
      color: #fff;
      background: #6B8088;
    }

    &--disabled, &--disabled:hover {
      color: #ddd;
      cursor: not-allowed;
      background: inherit;
    }
  }

  &__switch-icon {
    fill: #fff;
  }
}
