.in-pagination {
  list-style: none;
  margin: 0;
  padding: 0;

  &__element {
    display: inline-block;
    background-color: #172429;
    border: 1px solid #6B8088;
    border-left: 0;
    color: #6B8088;

    &:first-child {
      border-left: 1px solid #6B8088;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  &__page-indicator {
    padding: 3px 9px;
    display: block;
  }

  &__switch {
    text-decoration: none;
    padding: 3px 9px;
    display: block;
    color: #6B8088;

    &:hover {
      color: #fff;
    }

    &--disabled {
      color: #777;
      cursor: not-allowed;
      border-color: #6B8088;

      &:hover {
        border-color: #6B8088;
      }
    }
  }
}
