.in-table-view-entry {
  font-size: 0.75rem;
  margin: 0 0 0.1875rem;
  padding: 0 1rem;
  line-height: 2.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover, &--highlighted, &--selected, &--expanded {
    .in-table-view-entry__label {
      // Brute force overwrite to overwrite color pool specific color which is set via
      // style attribute.
      color: #fff !important;
    }

    .in-table-view-entry__toggle {
      color: #fff;
    }
  }

  &::before {
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    border-top: 1px solid #6B8088;
    margin-top: -19px;

    .in-browser-safari & {
      margin-top: 0;
    }
  }

  &--first-child::before {
    display: none;
  }

  &--root {
    font-weight: bold;
  }

  &__toggle {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: #92A5AE;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  &__label {
    color: #92A5AE;
  }

  &__child-count {
    color: #92A5AE;
    margin-left: 0.4rem;
  }

  &__health {
    position: absolute;
    left: ~"calc(100% - 10rem)";
    margin-right: 50%;
    margin-top: -0.5rem;

    .in-browser-chrome &, .in-browser-safari & {
      margin-top: 0;
    }
  }
}
