.in-table-view-expand-collapse {
  display: inline-flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 0.875rem;

  &__collapse, &__expand {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #92A5AE;

    &:hover {
      color: #fff;

      .in-table-view-expand-collapse__expand-icon {
        border-color: #fff;
      }
    }
  }

  &__collapse {
    margin-left: 0.7rem;
  }

  &__expand-icon, &__collapse-icon {
    font-size: 2rem;
    border-radius: 4px;
    border: 1px solid #92A5AE;
    line-height: 1rem;
    margin: 0 0.3rem 0 0;
  }

  &__collapse-icon {
    transform: rotate(180deg);
  }
}
