.in-table-view-zone-entry {
  background: #2D4048;
  font-size: 0.75rem;
  margin: 0 0 0.1875rem;
  padding: 0.1rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;

  &__toggle {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: #92A5AE;
  }

  &__label {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__child-count {
    color: #92A5AE;
    margin-left: 0.4rem;
  }

  &:hover, &--highlighted, &--selected, &--expanded {
    .in-table-view-zone-entry__label {
      // Brute force overwrite to overwrite color pool specific color which is set via
      // style attribute.
      color: #fff !important;
    }

    .in-table-view-zone-entry__toggle {
      color: #fff;
    }
  }
}
