.in-eum-keys-config-key {
  background: #fff;
  border-radius: .188rem;
  padding: .1rem .625rem .625rem;
  margin-bottom: 1rem;

  pre&__tracking-code {
    padding-left: 0;
    margin: .25rem 0 0;
  }

  &__remove {
    margin-left: .2rem;
  }
}
