.in-kubernetes {
  max-width: 65rem;
  min-width: 35rem;
  flex-grow: 1;
  margin: 3rem 5rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__fullscreen-overview {
    display: flex;
    justify-content: center;
  }
}
