.in-tags-filter {
  margin: 1rem 0 0 0;
  background: #435b65;
  color: #fff;
  border-radius: 0.38rem;
  box-sizing: border-box;
  padding: 0.6rem 1rem;
  border: 0px;
  width: 100%;
  font-size: 0.8rem;
}
