/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-table-view-left-header {
  height: 2.25rem;
  background: #40535b;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  &__selector {
    margin-left: 1.5rem;
  }
}
