/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-metric-selector {
  display: flex;
  align-items: center;
  color: #fff;

  &__label {
    margin-right: 0.3rem;
  }

  &__selection {
    margin: 0;
  }
}
