/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-table-view-right-header {
  height: 2.25rem;
  padding: 0 0.75rem;
  background: #40535b;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  &__toggle-aggregations {
    color: #fff;
    margin: 0 1rem 0 0.5rem;
  }
}
