.in-jail {
  &__error {
    color: #ebccd1;
    background-color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 0.2rem;
    padding: 0.5rem;
    display: inline-block;
  }

  &__error-reason {
    font-family: monospace;
  }
}
