@import "~in-themes/mixins.less";

.in-event-description-content {
  &__header {
    font-size: .688rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
    .breakWord();
  }

  &__suggestion {
    font-size: .688rem;
    color: #818a8f;
    margin: 0px 0 10px 0;
    .breakWord();

    white-space: normal;
  }
}
