@import "~in-themes/active.less";

.in-event-description {
  display: flex;
  background: @map__tooltips__background;
  margin: 5px 0;
  max-width: 25rem;

  &__icon {
    margin: 29px 0 0 10px;
    font-size: 1.5rem;
  }

  &__description {
    padding: 0px 10px 5px 5px;
    width: 100%;
  }

  &__header, &__incident-started {
    font-size: .688rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
    word-break: break-word;

    .in-browser-ff & {
      word-break: break-all;
    }
  }

  &__suggestion {
    font-size: .688rem;
    color: #818a8f;
    margin: 0px 0 10px 0;
    word-break: break-word;

    .in-browser-ff & {
      word-break: break-all;
    }
  }

  &__time {
    font-size: .625rem;
    color: #cdd3d5;

    margin-bottom: 5px;
  }

  &__end {
    text-align: right;
    white-space: nowrap;
  }

  &__incident-started {
    font-weight: normal;
    text-transform: none;
  }
}
