@import "~in-themes/mixins.less";

.in-event-description {
  display: flex;
  background: #203036;
  max-width: 25rem;

  &__icon {
    margin: 29px 0 0 10px;
  }

  &__description {
    padding: 0px 10px 5px 5px;
    width: 100%;
    white-space: normal;
  }

  &__header, &__incident-started {
    font-size: .688rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;

    .breakWord();
    white-space: normal;
  }

  &__suggestion {
    font-size: .688rem;
    color: #818a8f;
    margin: 0px 0 10px 0;

    .breakWord();
    white-space: normal;
  }

  &__time {
    font-size: .625rem;
    color: #cdd3d5;

    margin-bottom: 5px;
  }

  &__end {
    text-align: right;
    white-space: nowrap;
  }

  &__incident-started {
    font-weight: normal;
    text-transform: none;
  }
}
