@import "~instana-ui-themes/less/constants.less";

.in-tooltip__statusline {
  display: flex;

  justify-content: space-between;

  margin:0 0 5px;
  padding: 0;
}

.in-tooltip__statusline__hostname {
  font-size: 10px;

  color: white;
}

.in-tooltip__statusline__time {
  font-size: 10px;

  color: @map__colors__default;
}
