.in-event-view-event-details {
  padding: 0.625rem;
  border-radius: .188rem;
  font-size: .688rem;
  background: #fff;

  transition: background 0.25s ease-in-out;

  &--highlighted {
    background: yellow !important;
  }
}
