.in-loading-indicator {
  width: 50px;
  height: 100%;
  display: inline-block;
  transform: rotateZ(360deg);

  &--block {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    display: block;
  }

  &__rect {
    background-color: #fff;
    height: 100%;
    width: 6px;
    margin: 0 1px;
    display: inline-block;
    animation: in-loading-indicator-animation 1.2s infinite ease-in-out;

    &--dark {
      background-color: #2D4048;
    }
  }

  &__rect--1 { animation-delay: -1.2s; }
  &__rect--2 { animation-delay: -1.1s; }
  &__rect--3 { animation-delay: -1.0s; }
  &__rect--4 { animation-delay: -0.9s; }
  &__rect--5 { animation-delay: -0.8s; }
}

@keyframes in-loading-indicator-animation {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
