.in-agent-view-table {
  &__link {
    display: flex;
    align-items: center;
  }

  &__plugin-icon {
    margin: 0 0.313rem 0 0;
  }

  &__button {
    display: flex;
    align-items: center;

    padding: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
