.in-dev-panel-map-stats {
  min-width: 15rem;

  &__key-value {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 5px;
    margin: 5px;

    background: #3b4e57;
  }
}
