@in-sidebar-content-width: 19em;
@in-sidebar-tabs-width: 6em;

.in-sidebar {
  position: absolute;
  top: 5em;
  bottom: 5em;
  right: 3em;
  max-height: 50em;

  width: @in-sidebar-content-width + @in-sidebar-tabs-width;
}

.in-sidebar__tab-content {
  width: @in-sidebar-content-width;
  height: 100%;

  background: hsla(214, 23%, 12%, 0.95);

  overflow-x: hidden;
  overflow-y: auto;
}

.in-sidebar__header {
  font-weight: 300;
  margin: 0;
  padding: 0.8em 1em;
  background: #48545A;
}

.in-sidebar__tabs {
  width: @in-sidebar-tabs-width;
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}

.in-sidebar__tab {
  height: 6em;

  background: #101519;
  color: #384046;
  font-size: 0.8em;
  text-align: center;

  cursor: pointer;

  &--active {
    background: #1A2127;
    color: white;
  }
}
