.in-sidebar-server-listing__zones {
  margin: 0;
  padding: 0;
}

.in-sidebar-server-listing__zone {
  list-style: none;
}

.in-sidebar-server-listing__zone-label {
  font-size: 1.1em;
  font-weight: 300;
  border-bottom: 1px solid #29323C;
  padding: 0 0 0.5em;
}

.in-sidebar-server-listing__snapshots {
  margin: 0;
  padding: 0;
}
