.in-sidebar-server-listing__snapshot {
  list-style: none;
  border-bottom: 1px solid #29323C;

  max-height: 2.5em;
  overflow: hidden;

  transition: max-height .5s ease;

  &--open {
    max-height: 10em;
  }
}

.in-sidebar-server-listing__snapshot-label {
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: 200;
  cursor: pointer;

  .in-snapshot-icon {
    margin-right: 1rem;
  }

  // we need to increase specificity in order to avoid CSS file ordering issues
  .in-sidebar-server-listing__snapshot-toggle {
    float: right;
    display: none;
  }

  &:hover .in-sidebar-server-listing__snapshot-toggle {
    display: block;
  }
}

.in-sidebar-server-listing__listing {
  dt {
    float: left;
    width: 3em;
    text-align: right;
    font-size: 0.7em;
    color: #ccc;
    padding: 0.4em 0 0;
  }

  dd {
    margin-left: 4em;
    font-size: 0.9em;
    line-height: 1.6;
  }
}
