@import "~in-themes/active.less";

.in-filterbar__close-button {
  font-size: 14px;
  margin-bottom: 10px;
  height: 60px;

  color: @filterbar__controls__close-button-label;

  &__wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &:hover {
    color: @filterbar__controls__close-button-label-highlight;

    .in-sidebar__close-button__icon {
      color: @filterbar__controls__close-button-icon-highlight;
    }
  }

  &__icon {
    color: @filterbar__controls__close-button-icon;
    margin-right: 10px;
    font-size: 32px;
  }
}
