@import "~in-themes/active.less";

.in-filterbar-controls {
  position: absolute;
  top:~'calc(50% - 100px)';
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;

  transition: right 0.25s ease-in-out;

  &__open {
    right: 25rem;
  }

  &__control {
    padding: 7px 7px 4px 11px;
    background: #6b8088;
    border-bottom: 1px solid #eef2f4;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: white;
      color: black;
    }
  }

  &__icon {
    font-size: 2rem;
  }
}
