@import "~in-themes/active.less";

.in-sidebar-controls {
  @focus-transition-duration: 0.2s;
  @control-icon-padding: 0.34rem;
  @control-icon-width: 2rem;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  z-index: @z-index__sidebar-controls;


  &__control-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin: 0;
    padding: 0;
  }

  &__control-item {
    display: block;

    list-style: none;
    border-bottom: 1px solid #7a8d94;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

    transition: background @focus-transition-duration ease-in-out;
    color: @filterbar__controls__label;

    &:first-child {
      border-radius: 4px 0 0 0;
    }

    &:last-child {
      border-bottom: 1px solid transparent;
      border-radius: 0 0 0 4px;
    }

    &--enabled {
      background: @filterbar__controls__background__regular;

      &:hover {
        background: @filterbar__controls__background__regular-hover;
      }
    }

    &--active {
      color: @filterbar__controls__label-highlight;
      background: @filterbar__controls__background__active;

      &:hover {
        color: @filterbar__controls__label;
        background: @filterbar__controls__background__active-hover;
      }
    }

    &--start-of-group {
      margin-top: 1rem;
    }
  }

  &__control-icon {
    width: @control-icon-width;
    font-size: @control-icon-width;
    box-sizing: content-box;

    display: inline-block;
    color: inherit;
    padding: @control-icon-padding;

    text-align: center;

    opacity: 1;
    transition: opacity @focus-transition-duration ease-in-out;
  }
}
