@import "~in-themes/active.less";

.in-filterbar {
  @content-width: 21rem;
  @transition-duration: .5s;
  @transition-easing: ease-in-out;

  &__controls {
    right: 0;
    transition: right @transition-duration @transition-easing;

    &--open {
      right: @content-width;
    }
  }

  &__content {
    position: absolute;
    top: @header__height * 1px;
    right: @content-width * -1;
    bottom: @footer__height * 1px;
    width: @content-width;
    padding: 1.25rem;
    box-sizing: border-box;

    z-index: @z-index__sidebar;
    transition: bottom 0.25s ease-in-out, right @transition-duration @transition-easing;

    background: @filterbar__background;
    overflow-x: hidden;
    overflow-y: auto;

    &--open {
      right: 0;
    }

    &--timeline-expanded {
      bottom: @footer__height-open * 1px;
    }
  }
}
