@import "~in-themes/active.less";

.in-sidebar-listheader {
  display: flex;
  align-items: center;

  &__title {
    margin: 0;
    font-size: 1rem;
    font-weight: lighter;
    color: @filterbar__controls__list-header;
  }
}
