@import "~in-themes/active.less";

.in-sidebar-metric-tree--leaf {
  padding: 8px 8px 8px 12px;
  margin: 2px 2px 2px -20px;
  color: @filterbar__metrics__leaf__text;

  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    transition: color .25s ease-in-out;
    transition: background .25s ease-in-out;

    color: @filterbar__metrics__leaf__text-highlight;
    background: @filterbar__metrics__leaf__background-highlight;
  }

  &__active {
    background: @filterbar__metrics__leaf__background-highlight;
  }
}
