@import "~in-themes/active.less";

.in-sidebar-metric-tree {
  &__ul {
    padding: 0;
    margin: 0;
  }

  &__li {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 25px;
  }

  &__collapsible {
    margin-right: 10px;
    border-top: 1px solid @filterbar__metrics__collapsible__line;
    border-bottom: 0;

    &__header {
      color: @filterbar__metrics__collapsible__text-opened;

      &__closed {
        color: @filterbar__metrics__collapsible__text-closed;
      }

      &:hover {
        color: @filterbar__metrics__collapsible__text-opened;
      }
    }
  }
}
