@import "~in-themes/active.less";

.in-sidebar-zone-list {
  &__collapsible {
    margin-right: 10px;
    border-top: 1px solid @filterbar__metrics__collapsible__line;

    &__header {
      text-transform: uppercase;

      &:hover {
        // important because color is set via style attribute
        color: white !important;
      }
    }
  }
}
