.in-view-switcher-view {
  padding: 0.25rem 0;

  text-transform: capitalize;
  line-height: 0.625rem;
  font-size: 0.688rem;

  color: #6B8088;
  transition: color 0.25s ease-in-out;

  &:hover, &__active {
    .in-view-switcher-view__link {
      color: white;
    }

    .in-view-switcher-view__icon {
      fill: white;
    }
  }

  &:hover {
    .in-view-switcher-view__expand-icon {
      fill: white;
    }

    .in-view-switcher-view__menu {
      display: block;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    cursor: pointer;
    text-decoration: none;
    padding: 0.188rem 1.5rem 0.188rem 0;
  }

  &__icon {
    margin: .125rem 0.2rem .188rem;
  }

  &__expand-icon {
    margin-left: 0.5rem;
  }

  &__menu {
    position: absolute;
    top: 100%;

    display: none;
  }
}
