@import "~in-themes/active.less";

.in-view-switcher {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: @z-index__view-switcher;

  &__wrapper {
    display: flex;
    margin-left: -50%;
  }
}
