.in-detail-pane-panel {
  &__heading {
    text-align: right;
    font-weight: 300;
    color: #888;
    font-size: 20px;
    border-bottom: 1px solid #666;
    padding: 0 0 6px;
  }

  &__content {

  }
}
