/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';

.Select-control,
.Select-control:hover {
  box-sizing: border-box;
  height: 1.875rem;
  color: @lib__colors__N900Primary;
  background-color: @lib__colors__N050;
  background-image: none;
  border: 1px solid @lib__colors__N400;
  border-radius: @lib__shapes__radius_medium;
}

.Select-control,
.Select-input {
  height: 1.875rem;
  min-width: 5rem;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 1.875rem;
}

.Select-placeholder {
  color: @lib__colors__N600Light;
}

.Select-value {
  position: relative;
  top: -2px;
}

.Select-menu-outer {
  z-index: @z-index__select-box-flyouts;
}
