@import '~in-themes/active.less';

.Select-control,
.Select-control:hover {
  box-sizing: border-box;
  height: 2rem;
  padding: 0 0.5rem;
  color: @lib__colors__N900Primary;
  background-color: @lib__colors__N050;
  background-image: none;
  border: 1px solid @lib__colors__N400;
  border-radius: @lib__shapes__radius_small;
}

.Select-control,
.Select-input {
  height: 2rem;
  min-width: 5rem;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 2rem;
}

.Select-placeholder {
  color: #757575;
}

.Select-value {
  position: relative;
  top: -2px;
}
