/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.Select.menu-direction-bottom {
  .Select__menu {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-color: rgb(230, 230, 230);
  }
}

.Select.menu-direction-top {
  .Select__menu {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-color: rgb(230, 230, 230);
  }
}
