# We use CODEOWNERS at the moment to map ui-client packages to delivery teams.

# What does "ownership" mean? This team is the **first contact** when it comes to anything regarding this package. For
# example, technical, design, behavioral and functional changes and questions.

# What does "ownership" NOT mean?
# Ownership does NOT mean that the owner-team is the only team that may change code in this package. But you should
# consult the owner-team if you plan more significant changes. Ownership does NOT mean that the owner-team is the only
# team responsible for the package's stability and functioning. We are all responsible for a stable and working Instana.
# But if anything breaks, then the owner-team is the best place to start looking for help. Ownership does NOT mean that
# the owner-team has ownership over all the code within a package. It might well be that a component serves different
# purposes (and teams). But if in doubt, the owner-team at least knows whom to ask for advice, i.e., which other team or
# person.

packages/in-amp                     @pr-approval @instana/eng-enterprise @instana/eng-portal @instana/eng-ui
packages/in-alerting                @pr-approval @instana/eng-ui @instana/eng-stan
packages/in-analyze                 @pr-approval @instana/eng-application @instana/eng-eum @instana/eng-ui
# Deprecated: We should not make any more changes within this package (aside from code removal)
packages/in-api                     @pr-approval @instana/eng-ui
packages/in-applications            @pr-approval @instana/eng-application @instana/eng-ui
packages/in-applications/alerting   @pr-approval @instana/eng-application @instana/eng-ui @instana/eng-stan
packages/in-client                  @pr-approval @instana/eng-ui
# No clear ownership: Fallback to eng-ui
packages/in-cloudfoundry            @pr-approval @instana/eng-ui
# No clear ownership: Fallback to eng-ui
packages/in-cockpit                 @pr-approval @instana/eng-ui
packages/in-components              @pr-approval @instana/eng-ui
packages/in-components/alerting     @pr-approval @instana/eng-ui @instana/eng-stan
packages/in-connection              @pr-approval @instana/eng-ui
packages/in-custom-dashboards       @pr-approval @instana/eng-eum @instana/eng-ui
packages/in-custom-dashboards/widgets/Slo @pr-approval @instana/eng-eum @instana/eng-ui @instana/eng-stan
packages/in-events                  @pr-approval @instana/eng-stan @instana/eng-ui
# Shared ownership
# packages/in-forge

packages/in-forge/plugins           @pr-approval @instana/eng-sensors
packages/in-hoc                     @pr-approval @instana/eng-ui
packages/in-hooks                   @pr-approval @instana/eng-ui
packages/in-infrastructure          @pr-approval @instana/eng-infrastructure @instana/eng-ui
packages/in-init                    @pr-approval @instana/eng-ui
packages/in-integrations            @pr-approval @instana/eng-sensors @instana/eng-ui
# Shared ownership
# packages/in-internal
packages/in-kubernetes              @pr-approval @instana/eng-infrastructure @instana/eng-ui
packages/in-logging                 @pr-approval @instana/eng-logs @instana/eng-ui
# No clear ownership: Fallback to eng-ui
packages/in-map                     @pr-approval @instana/eng-infrastructure @instana/eng-ui
packages/in-mobile-apps             @pr-approval @instana/eng-eum @instana/eng-application @instana/eng-ui
# No clear ownership: Fallback to eng-ui
packages/in-profiling               @pr-approval @instana/eng-ui
packages/in-sdk                     @pr-approval @instana/eng-ui
packages/in-server                  @pr-approval @instana/eng-ui
packages/in-services                @pr-approval @instana/eng-ui
packages/in-settings                @pr-approval @instana/eng-ui @instana/eng-sensors @instana/eng-stan @instana/eng-enterprise @instana/eng-application
packages/in-stores                  @pr-approval @instana/eng-ui
# Deprecated: We should not make any more changes within this package (aside from code removal)
packages/in-subscription            @pr-approval @instana/eng-ui
packages/in-test                    @pr-approval @instana/eng-ui
packages/in-themes                  @pr-approval @instana/eng-ui
packages/in-types                   @pr-approval @instana/eng-ui
packages/in-vsphere                 @pr-approval @instana/eng-infrastructure @instana/eng-ui
# Shared ownership
# packages/in-waiting-for-deployment
packages/in-websites                @pr-approval @instana/eng-eum @instana/eng-application @instana/eng-ui
packages/in-websites/alerting       @pr-approval @instana/eng-eum @instana/eng-ui @instana/eng-stan
packages/in-custom-dashboards/widgets/_shared/MetricConfigurator/sources/application       @pr-approval @instana/eng-application @instana/eng-ui
packages/in-custom-dashboards/widgets/_shared/MetricConfigurator/sources/event             @pr-approval @instana/eng-stan @instana/eng-ui
packages/in-custom-dashboards/widgets/_shared/MetricConfigurator/sources/infrastructure    @pr-approval @instana/eng-infrastructure @instana/eng-ui
packages/in-custom-dashboards/widgets/_shared/MetricConfigurator/sources/mobileApp         @pr-approval @instana/eng-application @instana/eng-ui
packages/in-custom-dashboards/widgets/_shared/MetricConfigurator/sources/sli               @pr-approval @instana/eng-stan @instana/eng-ui
packages/in-custom-dashboards/widgets/_shared/MetricConfigurator/sources/websites          @pr-approval @instana/eng-application @instana/eng-ui

# Container images
/containers/ @pr-approval @instana/eng-delivery-enablement
