.in-sticky-note-service-expand-icon {
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  background: #92a5ae;
  margin-left: 3px;

  &--expanded {
    background: white;
  }

  &__icon {
    margin: 0 0 0.25rem 0.25rem;
  }
}
