.in-sticky-note-service-heading {
  display: flex;
  align-items: center;

  margin: 2px 0 0 10px;
  padding-top: 3px;
  font-size: 0.8rem;
  white-space: nowrap;
  color: #92a5ae;
  cursor: pointer;

  &--highlighted, &--expanded {
    color: white;
  }
}
