@import "~in-themes/active.less";

.in-sticky-note-process-cluster-entity-list {
  font-size: 0.75rem;
  color: #92a5ae;
  padding: 8px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;

    border-radius: 3px;
    padding: 5px 0 5px 8px;
    cursor: pointer;
    white-space: nowrap;

    &:hover, &--selected {
      background: #42565e;
    }
  }

  &__plugin-icon {
    height: 18px;
    min-width: 18px;
    margin-right: 5px;
    color: white;
  }

  &__health-icon {
    margin-left: 10px;
  }

  &__entity-information {
    display: flex;
    align-items: center;
  }

  &__kpis {
    display: flex;
    align-items: center;

    margin: 0 0.625rem;
  }
}
