.in-sticky-note-service-instance-list {
  font-size: 0.75rem;
  color: #92a5ae;
  padding: .5rem 0 .5rem .5rem;
  max-height: 200px;
  overflow-y: scroll;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
