.in-sticky-note-service-instance {
  display: flex;
  justify-content: space-between;

  padding: .313rem 0 .313rem .5rem;
  border-radius: .188rem;
  cursor: pointer;

  &--selected {
    background: #42565e;
  }

  &__entity-information {
    display: flex;
    align-items: center;

    white-space: nowrap;
  }

  &__plugin-icon {
    margin-right: .313rem;
  }

  &__kpis {
    margin: 0 0.625rem;
  }

  &__kpi-list {
    float: left;
    margin-top: .125rem;
  }

  &__health-icon {
    margin-left: .625rem;
  }
}
