.in-kpi-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__kpi {
    float: left;
    padding-right: 10px;
    font-size: 0.625rem;

    &:last-child {
      padding-right: 0;
    }

    &__label {
      color: #92A5AE;
      font-size: 0.5rem;
      text-transform: uppercase;
    }
  }
}
