@import "~in-themes/active.less";

.in-notification-counter {
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 14px;
  font-size: 13px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  color: black;
  opacity: 0.65;

  &:hover {
    opacity: 1;
  }
}
