@import "~in-themes/active.less";

.in-notification-counter {
  position: relative;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 14px;
  font-size: 13px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  color: #203036;
  opacity: 0.65;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &__notification-center {
    position: absolute;
    top: 35px;
    right: 5px;
  }
}
