@import "~instana-ui-themes/less/constants.less";

.in-search {
  position: absolute;
  top: 40px;
  right: 180px;
  height: 50px;
  padding: 0;

  z-index: @z-index__sidebar;

  background: #20272D;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.in-searchbar__input {
  background: #20272D;
  color: white;

  width: 200px;
  font-size: 13px;

  padding: 10px;
  border: 0;
}

.in-searchbar__button {
  background: #99F4F5;
  color: #20272D;
  font-size: 13px;
  text-transform: uppercase;

  border: 0;
  padding: 15px;

  cursor: pointer;
}
