@import "~in-themes/mixins.less";

.in-sidebar-header {
  &__entity {
    display: flex;
    align-items: flex-start;
  }

  &__entity-icon {
    width: 1.5625rem;
    height: auto;
    filter: brightness(0);
    margin: 0.25rem 0.75rem 0 0.5625rem;
  }

  &__entity-label {
    font-size: 0.875rem;
    font-weight: normal;
    color: #172429;
    margin: 0 0 0.4rem;
    .breakWord();
  }

  &__entity-type {
    font-size: 0.75rem;
    color: #6B8088;
    margin: 0 0.35rem 0 0;
  }

  &__type-id-wrapper {
    .breakWord();
    line-height: 1.8;
  }
}
