.in-sidebar-health-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__bar {
    width: 7.5rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background: #D5DFE4;
    margin: 0 3.125rem 0 0;
    position: relative;
    overflow: hidden;
  }

  &__bar-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 0.25rem;
  }

  &__bar-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0.063rem 0 0 rgba(0, 0, 0, 0.05);
  }
}
