/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-tooltip-node-metric {
  list-style: none;

  margin: 0 0 0;
  padding: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__value {
    font-size: 11px;
    font-weight: bold;
    color: white;
  }

  &__name {
    font-size: 11px;
    font-weight: bold;

    margin-right: 15px;
  }
}
