@common__font-family: 'Open Sans', sans-serif;
@common__font-color: #fcfcfc;
@common__background-color: #0D1217;

@z-index__sticky-notes: 1;
@z-index__header: 2;
@z-index__footer: 2;
@z-index__sidebar: 2;
@z-index__fly-out-notifications: 3;
@z-index__notification-center: 4;
@z-index__detail-pane: 5;

@charts__area-chart__area1: #2dfffe;


@map__colors__render-clear-color: #0d1217;