@common__font-family: 'Open Sans', sans-serif;
@common__font-color: #fcfcfc;

@z-index__sticky-notes: 1;
@z-index__fly-out-notifications: 2;
@z-index__sidebar: 3;
@z-index__notification-center: 4;
@z-index__lettering: 5;

@charts__area-chart__area1: #2dfffe;


@map__colors__render-clear-color: #0d1217;