@common__font-family: sans-serif;
@common__font-color: #ddd;

@charts__area-chart__area1: #2dfffe;
@charts__area-chart__background: #202020;


@map__colors__render-clearColor: #000000;
@map__colors__ambient-color: #202020;
@map__colors__ground-color: #2dfffe;
@map__colors__light-color: #2dfffe;
@map__colors__mid-color: #015473;
@map__colors__error: #880000;
@map__colors__warning: #ffd000;
@map__colors__connection-color: #ff8000;


@map__colors__render-clearColor: #ff8000;
@map__colors__ambient-color: #ffd000;
@map__colors__ground-color: #880000;
@map__colors__light-color: #015473;
@map__colors__mid-color: #2dfffe;
@map__colors__error: #2dfffe;
@map__colors__warning: #202020;
@map__colors__connection-color: #000000;