@common__font-family: sans-serif;
@common__font-color: #ddd;

@charts__colors__cyan: #2dfffe;
@charts__colors__razzmatazz: #e50066;
@charts__colors__eastern-blue: #1d90a9;
@charts__colors__governor-bay: #3d2dcf;
@charts__colors__tory-blue: #0b5cad;
@charts__colors__dodger-blue: #15aafe;
