---
  env:
    browser: true
    es6: true

  ecmaFeatures:
    modules: true
    jsx: true

  globals:
    Promise: true
    require: false
    module: true
    exports: false

  rules:
    brace-style: [2, '1tbs', { 'allowSingleLine': true }]
    complexity: [2, 10]
    global-strict: [2, 'always']
    max-len: [2, 120, 4]
    no-use-before-define: [2, 'nofunc']
    quotes: [2, 'single', 'avoid-escape']
