[submodule "packages/history"]
	path = packages/history
	url = https://github.com/instana/history.git
[submodule "build/ci-shared-tools"]
	path = build/ci-shared-tools
	url = https://github.com/instana/ci-shared-tools.git
