*.log
*.log*
/node_modules/*
!/node_modules/in-*
/target
.npmrc
/tmp
!/packages/in-forge/tracing/log.log4j
!/packages/in-forge/tracing/log.log4j2
/packages/in-themes/active*
/packages/in-server/node_modules
/packages/in-server/serverConfig.json
git-env.properties
/licenses.txt
/storybookTarget
