*.log
*.log*
!/packages/in-forge/tracing/log.log4j
!/packages/in-forge/tracing/log.log4j2
/node_modules
/target
/storybookTarget
/tmp
/packages/in-themes/active*
/packages/in-server/node_modules
/packages/in-server/serverConfig.json
/metricOverviewForDocs.md
/metricOverviewForGrafana.ts
/metricOverviewForUiBackend.json
ui-client.iml
.npmrc
git-env.properties
/licenses.csv
/.idea/
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/tasks.json
!/.vscode/javascript.code-snippets
!/.vscode/settings.json
ui-client-license-report.csv
ui-server-license-report.csv
