*.log
*.log*
!/packages/in-forge/tracing/log.log4j
!/packages/in-forge/tracing/log.log4j2

/node_modules
/target
/storybookTarget
/tmp
/packages/in-themes/active*
/packages/in-server/node_modules
/packages/in-server/serverConfig.json
/metricOverviewForDocs.md
/metricOverviewForGrafana.ts

.npmrc
git-env.properties
/licenses.txt
