# - copy this file and name it .npmrc
# - update the following props and take note of the _auth description

registry=https://repo-internal.instana.io/nexus/content/groups/instana-npm-all/
always-auth=true
init.author.name=Ben Ripkens
init.author.email=ben@instana.com
init.author.url=http://bripkens.de
email=ben@instana.com

# generate the auth token the following via
# echo -n '<your account name>:<your account password>' | openssl base64
_auth=<your token>
