# - copy this file and name it .npmrc
# - update the following props and take note of the _auth field

registry=https://repo-internal.instana.io/nexus/content/groups/instana-npm-all/
always-auth=true
progress=false

# Generate the auth token via
#
# echo -n '<your nexus account name>:<your nexus account password>' | openssl base64
#
# No Nexus account? Ask in the chat :)
_auth=<your token>
