@common__font-family: 'Open Sans', sans-serif;
@common__font-color: #fcfcfc;
@common__background-color: #0D1217;

@z-index__sticky-notes: 1;
@z-index__sidebar: 2;
@z-index__search: 2;
@z-index__header: 3;
@z-index__notification-center: 5;
@z-index__dashboard: 5;
@z-index__footer: 6;
@z-index__fly-out-notifications: 7;
@z-index__timepicker: 8;
@z-index__menu-popup: 8;
@z-index__tooltips: 100;

@health__danger: #FF4229;
@health__warning: #FFD823;
@health__ok: #667B86;

@map__colors__render-clear-gradient1: #435964;
@map__colors__render-clear-gradient2: #2B3F46;
@map__colors__warning: #FFD823;
@map__colors__critical: #FF4229;
@map__colors__default: #667B86;
@map__colors__layer: #8ea2ad;
@map__colors__connection: #00C9E3;
@map__colors__unknown-status: #44535D;

@map__metric-colors__pink: #ED1C63;
@map__metric-colors__pink2: #FF3A8B;
@map__metric-colors__pink3: #FF58A9;
@map__metric-colors__pink4: #FF6CC7;
@map__metric-colors__purple_light: #A526BB;
@map__metric-colors__purple_light2: #C344D9;
@map__metric-colors__purple_light3: #E162F7;
@map__metric-colors__purple_light4: #FF80FF;
@map__metric-colors__purple: #6A3BBD;
@map__metric-colors__purple2: #8859DB;
@map__metric-colors__purple3: #A681F9;
@map__metric-colors__purple4: #C49FFF;
@map__metric-colors__slate_blue: #3F51B5;
@map__metric-colors__slate_blue2: #5D6FD3;
@map__metric-colors__slate_blue3: #7B8DF1;
@map__metric-colors__slate_blue4: #99ABFF;
@map__metric-colors__blue: #269AF6;
@map__metric-colors__blue2: #44B8FF;
@map__metric-colors__blue3: #62D6FF;
@map__metric-colors__blue4: #80F4FF;
@map__metric-colors__cyan: #00C9E3;
@map__metric-colors__cyan2: #1EE7FF;
@map__metric-colors__cyan3: #3CFFFF;
@map__metric-colors__cyan4: #5AFFFF;
@map__metric-colors__teal: #00A696;
@map__metric-colors__teal2: #1EC4B4;
@map__metric-colors__teal3: #3CE2D2;
@map__metric-colors__teal4: #5AFFF0;
@map__metric-colors__green: #4CBB51;
@map__metric-colors__green2: #6AD96F;
@map__metric-colors__green3: #88F78D;
@map__metric-colors__green4: #A6FFAB;
@map__metric-colors__green_light: #8BC34A;
@map__metric-colors__green_light2: #A9E168;
@map__metric-colors__green_light3: #C7FF86;
@map__metric-colors__green_light4: #E5FFA4;
@map__metric-colors__lime: #D0E035;
@map__metric-colors__lime2: #EEFE53;
@map__metric-colors__lime3: #FFFF71;
@map__metric-colors__lime4: #FFFF8F;
@map__metric-colors__orange: #FF9800;
@map__metric-colors__orange2: #FFB61E;
@map__metric-colors__orange3: #FFD43C;
@map__metric-colors__orange4: #FFF25A;

@map__sticky-notes__node-hightlight-background-color: #20272C;

@map__tooltips__font: #FFFFFF;
@map__tooltips__background: #121416;
@map__tooltips__critical: #FFD823;
@map__tooltips__danger: #FF4229;