.in-trace-analytics-selected-traces {
  max-height: 100%;
  overflow-y: auto;

  &__remove-trace, &__view-trace {
    fill: #000;
    cursor :pointer;
  }

  &__remove-trace {
    margin: 0 0 0 10px;
  }
}
