.in-trace-analytics-selected-traces {
  max-height: 100%;
  overflow-y: auto;

  &__remove-trace, &__view-trace {
    fill: #2D4048;
    cursor :pointer;
  }

  &__row {
    &:hover, &--marked {
      background: #ddd;
    }
  }
}
