.in-trace-analytics-groupings {
  overflow-y: auto;
  max-height: 100%;
  margin: 20px;

  &__error {
    color: #ebccd1;
  }

  &__groupings {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__calls {
    display: inline-block;
    width: 4rem;
  }

  &__total-time {
    display: inline-block;
    width: 4rem;
  }

  &__min {
    display: inline-block;
    width: 4rem;
  }

  &__avg {
    display: inline-block;
    width: 4rem;
  }

  &__max {
    display: inline-block;
    width: 4rem;
  }

  &__errors {
    display: inline-block;
    width: 4rem;
  }

  &__call {
    display: inline-block;
  }
}
