.in-trace-analytics-grouping {
  &__sub-groupings {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__group {
  }

  &__type {
    display: inline-block;
    width: 4rem;
  }

  &__type-icon {
    width: 1rem;
    height: 1rem;
  }

  &__type-icon-wrapper {
    width: 1rem;
    border-radius: 100%;
    padding: .313rem .313rem .125rem .313rem;
  }

  &__calls {
    display: inline-block;
    width: 4rem;
  }

  &__total-time {
    display: inline-block;
    width: 4rem;
  }

  &__min {
    display: inline-block;
    width: 4rem;
  }

  &__max {
    display: inline-block;
    width: 4rem;
  }

  &__errors {
    display: inline-block;
    width: 4rem;
  }

  &__call {
    display: inline-block;
  }

}
