/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/mixins.less';

.in-agent-view-table-reporting-indicator {
  position: relative;
  padding-left: 10px;

  &::before {
    position: absolute;

    content: '';
    margin: 9px 0px 0px -13px;
    border: 4px solid;
    color: var(--ids-color-option-red-500);
    border-radius: 50%;
  }

  &__is-reporting {
    &::before {
      color: var(--ids-color-option-green-500);
    }
  }

  &__is-degraded {
    &::before {
      color: var(--ids-color-option-yellow-500);
    }
  }
}
