@import '~in-themes/mixins.less';
@import '~in-themes/active.less';

.in-agent-view-table-reporting-indicator {
  position: relative;
  padding-left: 10px;

  &::before {
    position: absolute;

    content: '';
    margin: 9px 0px 0px -13px;
    border: 4px solid;
    color: @lib__colors__failure;
    border-radius: 50%;
  }

  &__is-reporting {
    &::before {
      color: @lib__colors__success;
    }
  }

  &__is-degraded {
    &::before {
      color: @lib__colors__warning;
    }
  }
}
