.in-detail-pane__chart-legend {
  &-heading {
    display: flex;
    justify-content: space-between;
  }

  &-metrics {
    margin: 0 0 5px;
  }

  &-metric {
    display: inline-block;
    margin: 0 10px;
    font-weight: 300;

    &:last-child {
      margin-right: 0;
    }
  }

  &-metric-title {
    display: inline;
    padding-right: 10px;
  }

  &-metric-value {
    display: inline;
  }

}
