.in-eum {
  max-width: 65rem;
  min-width: 35rem;
  flex-grow: 1;
  margin: 3rem auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__configure {
      text-decoration: none;
      color: #06b7ba;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }
}
