@import "~in-themes/active.less";

.in-sidebar-detail-list {
  padding: 1.25rem;
  width: 18.5rem;

  height: auto;
  max-height: 100%;
  overflow-y: auto;

  overflow-x: hidden;
  background: @sidebar__background;
}
