@import "~in-themes/active.less";

.in-sidebar-detail-list {
  padding: 0 1.25rem 0.5rem 1.25rem;
  width: 18.5rem;

  height: auto;
  overflow-y: auto;

  overflow-x: hidden;
  background: @sidebar__background;
}
