@import "~in-themes/active.less";
@import "~in-themes/mixins.less";

.in-detail-pane__description {
  &-list {
    margin: 0;
  }

  &-item {
    justify-content: space-between;
    font-size: .688rem;
    margin: .5rem 0;

    &--with-separator {
      border-top: 1px solid #E2E9EC;
      padding: .625rem 0 0;
      margin-top: .625rem;
    }
  }

  &-title {
    display: block;
    color: #172429;
    font-weight: bold;
    margin: 0 0 .063rem;
  }

  &-text {
    display: block;
    color: #2D4048;
    .breakWord();
    margin: 0;
  }
}
