@import "~in-themes/active.less";

.in-detail-pane__description {
  &-list {
    margin: 0;
  }

  &-item {
    justify-content: space-between;
    font-size: 12px;
    padding: 3px 8px 3px 0;
    border-radius: 2px;
    display: flex;
  }

  &-title {
    float: left;
    color: @sidebar__discription-list__title;
    text-transform: capitalize;
    margin-right: 5%;
    width: 40%;
  }

  &-text {
    color: @sidebar__discription-list__text;
    width: 55%;
    margin: 0;
    word-break: break-all;

    &--link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
