@import "~in-themes/active.less";

.in-detail-pane__description {
  &-list {
    margin: 0;
  }

  &-item {
    justify-content: space-between;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 2px;
    clear: both;
  }

  &-title {
    float: left;
    color: @sidebar__discription-list__title;
    text-transform: capitalize;
    float: left;
    margin-right: 5%;
    width: 40%;
  }

  &-text {
    color: @sidebar__discription-list__text;
    float: right;
    width: 55%;
    margin: 0;
    word-break: break-all;
  }
}
