@import "~in-themes/active.less";

@import "~in-themes/active.less";

.in-sticky-note__unknown-node {
  .in-map--zoom-0 & {
    display: none;
  }

  position: absolute;
  top: 0;

  z-index: @z-index__sticky-notes;
  color: @map__tooltips__font;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.in-sticky-note__note__unknown-node--stack-wrapper {
  position: relative;

  margin-left: -50%;
}

.in-sticky-note__note__unknown-node--stack-children {
  display: flex;
  flex-direction: column;

  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
