@import "~in-themes/active.less";

.in-settingentry {
  display: flex;
  align-items: center;

  margin: 5px;
  padding: 5px;

  &__label, &__content {
    color: @settings__entry-text;
    font-size: 0.9rem;
    padding: 5px;
  }

  &__label {
    width: ~"calc(61.8% - 10px)";
    text-align: right;
  }

  &__help {
    width: ~"calc(61.8% - 10px)";
    text-align: right;
    margin: -15px 0 10px 0;
    font-size: 0.75rem;
    color: @settings__help-text;
  }

  &__wrapper {
    width: 100%;
  }

  &__content {
    width: ~"calc(38.2% - 10px)";
  }
}
