@import "~in-themes/active.less";

.in-settings {
  display: flex;
  flex-direction: column;
  align-items: left;

  width: 600px;
  padding: 0 0 10px 0;
  background: #52626a;

  &__header {
    background: #4d5c64;
    height: 69px;
    border-bottom: 1px solid grey;
  }

  &__wrapper {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    z-index: @z-index__demo-sign-in;
  }

  &__section {
    width: ~"calc(100% - 60px)";
    margin: 5px 30px 5px 30px;
    border-bottom: 1px solid grey;
  }

  &__section-end {
    width: 100%;
    border-bottom: 1px solid grey;
  }

  &__button-close--wrapper {
    padding-left: ~"calc(100% - 120px)";
  }

  &__button-close {
    height: 35px;
    width: 100px;
    margin: 10px 10px 0 10px;
  }

  &__button-close:hover {
    color: white;
    cursor: pointer;
  }

  &__button-notifications {
    height: 35px;
    margin: 5px;
  }
}
