@import "~in-themes/active.less";

.in-settingentry {
  display: flex;
  align-items: center;

  margin: 5px;
  padding: 5px;

  &__label, &__content {
    color: silver;
    font-size: 0.9rem;
    padding: 5px;
  }

  &__label {
    width: ~"calc(61.8% - 10px)";
    text-align: right;
  }

  &__content {
    width: ~"calc(38.2% - 10px)";
  }
}
