@import "~in-themes/active.less";

.in-settings {
  display: flex;
  flex-direction: column;
  align-items: left;

  width: 40rem;
  padding: 50px;
  border-radius: 13px;
  background: @settings__background;

  &__header {
    background: @settings__heading__background;
    padding-bottom: 20px;
    font-size: 1.6rem;
    font-weight: lighter;
    color: @settings__heading__text;
  }

  &__button-wrapper {
    text-align: right;
    margin-bottom: -16px;
    margin-right: -16px;
  }

  &__button-close {
    width: 32px;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 1rem;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}
