@import "~in-themes/active.less";

.in-sidebar-map {
  @borderRadius: 5px;

  position: absolute;
  top: 5rem;
  left: 5rem;
  max-width: 342px;
  min-width: 342px;

  z-index: @z-index__sidebar;

  &__heading-navigation {
    border-radius: @borderRadius @borderRadius 0 0;
  }

  &__heading {}

  &__detail-list {
    border-radius: 0 0 @borderRadius @borderRadius;
  }

  &__tabs {
    position: absolute;
    left: 100%;
    margin-left: 10px;

    &__tab {
      &:first-child {
        border-radius: @borderRadius @borderRadius 0 0;
      }

      &:last-child {
        border-radius: 0 0 @borderRadius @borderRadius;
      }
    }
  }
}
