.in-health-info-bar {
  @height: 0.75rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: @height;
  width: 150px;

  &__outer {
    width: 100px;
    border-radius: 7px;
    height: @height;
    overflow: hidden;
    background: #ccc;
    box-shadow: inset 0px 3px 3px 0px #aaa;
  }

  &__inner {
    border-radius: 7px;
    height: @height;
  }

  &__counter {
    padding: 4px 9px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0px #bbb;
  }
}
