.in-tag {
  @light: #b5bfc3;
  @dark: #6b8088;

  display: inline-block;
  border-radius: 24px;
  border: 1px solid @light;

  padding: 7px 12px 7px 12px;
  margin: 2px;

  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: @dark;

  &:hover {
    background: @dark;
    cursor: pointer;

    color: @light;
  }

  &__label {
    margin-top: -3px;
  }

  &__point {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 4px 9px 0 0;

    float: left;
  }
}
