@import "~in-themes/active.less";

.in-notificationcenter-eventitemlist {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;

  &__header-label {
    margin: 5px 5px 10px 0;
    font-size: 0.9rem;
  }

  &__list-item {
    list-style: none;
  }

  &__item, &__item__selected {
    margin: 0;
    padding: 15px 0 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;

    &:hover, &__selected {
      background: @notification-center__background-highlight;
    }
  }

}
