@import "~in-themes/active.less";

.in-notificationcenter-filterbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  padding: 10px 0 14px 0;
  font-size: 0.9rem;

  background: #2d4148;
}
