.in-layout-controls {
  position: absolute;
  top: 20px;
  right: 30px;

  padding: 2px 6px;
  font-size: 0.8rem;
  border-radius: 4px;
  border: 2px solid white;
  cursor: pointer;

  &:hover {
    border: 2px solid #96a9b2;
  }
}
