.in-responsive-table {
  overflow-x: auto;
  width: 100%;

  border-spacing: 0 2px;

  th, td {
    padding: 7px;
    color: #6b8088;;
  }

  th {
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    background: rgba(255, 255, 255, 0.04);
    font-size: 14px;
  }

  tr.active td {
    background: rgba(255, 255, 255, 0.2);
  }

  &__clickable tr:hover td {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}
