.in-sidebar-server-listing__snapshot {
  list-style: none;
  background: rgba(255, 255, 255, 0.05);
  color: #ccc;
  font-size: 13px;
  padding: 8px 13px;
  margin-bottom: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
}
