.in-sidebar-server-listing__header {
  font-weight: 300;
  font-size: 20px;
  color: #aaa;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  margin: 0;
  padding: 0 0 15px;

  .ok {
    color: #fff;
  }
}

.in-sidebar-server-listing__zones {
  margin: 0;
  padding: 0;
}

.in-sidebar-server-listing__zone {
  list-style: none;
}

.in-sidebar-server-listing__zone-label {
  font-size: 17px;
  font-weight: 300;
  padding: 0 10px;
  text-align: right;
  text-transform: uppercase;
  margin: 20px 0;
}

.in-sidebar-server-listing__server-count {
  margin: 0 0 0 10px;
  padding: 3px 5px;

  color: #000;
  font-weight: 400;
  font-size: 12px;

  position: relative;
  top: -2px;
  
  border-radius: 10px;
}

.in-sidebar-server-listing__snapshots {
  margin: 0;
  padding: 0;
}
