@import "~in-themes/active.less";

.in-fixed-time-window-picker {
  position: relative;
  display: flex;
  padding: 30px 10px 5px;

  &__apply-button {
    position: absolute;
    top: 20px;
    right: 20px;
    text-transform: uppercase;
  }
}
