@import "~in-themes/active.less";

.in-time-range-picker {
  padding: 20px 15px;

  &__item {
    padding: 5px 10px;
    margin: 5px;
    background: @timeline__timepicker__time-range-picker__button-background;
    color: @timeline__timepicker__time-range-picker__button-foreground;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;

    &--selected, &:hover {
      background: @timeline__timepicker__time-range-picker__button-background-highlight;
      color: @timeline__timepicker__time-range-picker__button-foreground-highlight;
    }
  }
}
