.in-objective-form {
  &__details-wrapper {
    padding: .5rem .625rem .25rem;
  }

  &__value, &__severity {
    margin-right: 1rem;
  }

  &__flex-wrapper {
    display: flex;
    align-items: center;
  }
}
