/*
 * (c) Copyright IBM Corp. 2022
 * (c) Copyright Instana Inc.
 */

.test_channel_dialog {
  display: flex;
  align-items: center;
  .button {
    height: fit-content;
    margin-right: 1rem;
  }

  &_child {
    margin-bottom: 1rem;
  }
}
