@import "~in-themes/active.less";

.in-tag-list-all {
  overflow-y: scroll;
  max-height: 10rem;
  width: 20rem;

  &__no-tags {
    font-size: .875rem;
    color: @filterbar__tags__no-tags-defined-text;
  }
}
