.in-service-extraction-form {
  &__details-wrapper {
    padding: .5rem .625rem .25rem;
  }

  &__order-icons {
    display: flex;
    align-items: center;
  }

  &__order-down, &__order-up {
    padding: .563rem .5rem;
    &:hover {
      cursor: pointer;
      fill: #6B8088;
    }
  }

  &__button {
    margin-right: .5rem;
  }
}
