.in-service-extraction-form {
  &__details-wrapper {
    padding: .5rem .625rem .25rem;
  }

  &__order-icons {
    display: flex;
    align-items: center;
  }

  &__order-down, &__order-up {
    padding: .563rem .5rem;
    &:hover {
      cursor: pointer;
      fill: #6B8088;
    }
  }

  &__button {
    margin-right: .5rem;
  }

  &__endpoint-list {
    list-style: none;
    margin: 0;
    padding: .2rem 0 0 1.5rem;
  }

  &__endpoint-list-item {
    margin: .2rem;
    padding: .25rem .5rem;
    border-radius: .125rem;
    background: #E2E9EC;
  }
}
