.in-auto-layout-button {
  margin-right: 5px;
  padding: 0.625rem 0.625rem 0.1875rem 0.625rem;
  background: #2d4048;

  border-radius: 0.1875rem;
  cursor: pointer;

  transition: background 0.25s ease-in-out;

  &:hover {
    background: #9fffff;
  }
}
