@import "~in-themes/active.less";

.in-logical-view-zoom {
  margin-left: 10px;

  &__button {
    margin-top: 5px;
    padding: 10px 10px 5px 10px;
    background: #2d4048;

    border-radius: 3px;
    cursor: pointer;

    transition: background 0.25s ease-in-out;

    &:hover {
      background: #9fffff;
    }
  }
}
