.in-timeline {
  position: absolute;
  left: 10px;
  top: 100px;
  bottom: 100px;

  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__line {
    width: 2px;
    height: 90%;
    margin: 10px 0;
    background: gray;
    position: relative;
  }

  &__from, &__until {
    font-size: 13px;
  }

  &__problem {
    position: absolute;
    font-size: 32px;
    left: -15px;
  }
}
