/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-table-row {
  outline: 0;
  background: transparent;

  &:hover {
    background: #e1e8eb;
  }

  &--selected {
    background: #fff;
    border-left: 0.5rem solid #24d8d8;

    &:hover {
      background: #fff;
    }
  }

  &--clickable {
    cursor: pointer;
  }

  &__toggle {
    fill: #2d4048;
    position: relative;
    top: 0.25rem;
    cursor: pointer;

    &:hover {
      fill: #8c969a;
    }
  }
}
