/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-table-sort-indicator {
  padding: 0 0.5rem;
  line-height: 1.625rem;

  color: #fff;
  font-weight: normal;
  font-size: 0.688rem;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &:hover {
    color: #fff;
  }

  &--active {
    background: #40535b;
    color: #fff;
    font-weight: bold;
  }

  &__icon {
    fill: #6b8088;
    border-radius: 0.188rem;
    background: #92a5ae;

    &--hidden {
      // do not use display: none as we want it to continue to occupy the
      // space so that the columns do not change their widths when resorting.
      visibility: hidden;
    }
  }

  &:hover &__icon {
    background: white;
  }
}
