.in-config-view-nav {
  width: 18.75rem;
  background: #fafafa;
  box-shadow: 0 0 5px gray;
  border-right: 1px solid gray;

  &__heading {
    font-size: 1.125rem;
    margin: 1.4rem 1rem 1rem;
  }
}
