.in-config-view-nav-item {
  list-style: none;
  padding: 0.5rem;
  border-top: 1px solid #D5E0E4;

  &__borderless {
    border-top: 0;
  }

  &__link {
    cursor: pointer;
    color: #6B8088;
    text-decoration: none;

    &:hover {
      color: #8c969a;
    }

    &--active {
      font-weight: bold;
    }
  }
}
