.in-spark-chart {
  &__chart {
    margin: 1rem 0;
  }

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__title, &__value {
    font-size: .688rem;
  }

  &__value {
    font-weight: bold;
  }
}
