@import "~instana-ui-themes/less/constants.less";

.in-sticky-note__node {
  position: absolute;
  top: 0;

  z-index: @z-index__sticky-notes;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.in-sticky-note__node-stack-children {
  display: flex;
  flex-direction: column;

  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.in-sticky-note__node-stack-wrapper {
  position: relative;

  margin-left: -50%;
}
