.in-editable-text-input {
  margin-top: 0;

  &__simple-input {
    padding: 0.438rem 0 0.063rem;
    font-size: 0.75rem;
  }

  &__input {
    width: 100%;
    margin-top: 0.313rem;
  }

  &__control {
    margin-left: 0.25rem;
    cursor: pointer;
    color: #92a5ae;

    &:hover {
      color: #6b8088;
    }
  }
}
