@import "~instana-ui-themes/less/constants.less";

.in-sticky-note__node__highlight {
  position: absolute;
  top: -114px;
  left: -30px;

  width: 200px;
  height: 50px;

  background-color: @map__sticky-notes__node-hightlight-background-color;
  border-radius: 5px;
  padding: 10px;

  font-size: 10px;

  color: white;

  white-space: nowrap;

  z-index: @z-index__sticky-notes;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.in-sticky-note__node__highlight:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 60px;
  border: 10px solid;
  border-color:
    @map__sticky-notes__node-hightlight-background-color
    transparent
    transparent
    @map__sticky-notes__node-hightlight-background-color;
}

.in-sticky-note__node__highlight__header__ok {
  color: white;
}

.in-sticky-note__node__highlight__header__warning {
  color: yellow;
}

.in-sticky-note__node__highlight__header__danger {
  color: red;
}

.in-sticky-note__node__highlight__content {
  margin-top: 7px;
  font-size: 9px;

  color: #666b6f;
}
