/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
@import '~in-themes/active.less';

.dropwizard-extension-select-box {
  &__select {
    color: #fff;
    background-color: @lib__colors__primary1;
    font-size: @lib__typography__button__font-size;
    font-weight: @lib__typography__button__font-weight;
    margin-left: 0.5rem;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
