/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.dropwizard-extension-select-box {
  &__select {
    color: #fff;
    background-color: var(--ids-color-option-teal-500);
    font-size: var(--ids-font-size-option-body-regular);
    font-weight: var(--ids-font-weight-option-heading-400);
    margin-left: 0.5rem;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
