.in-detail-pane__chart-legend {
  &-heading {
    display: flex;
    justify-content: space-between;
  }

  &-metrics {
    margin: 0 0 5px;
  }

  &-metric {
    display: inline-block;
    margin: 0 22px;
  }

  &-metric-title {
    display: block;
    font-size: 20px;
    font-weight: 300;
  }

  &-metric-value {
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 30px;
  }

  &-metric-unit {
    font-weight: 300;
    font-size: 13px;
    position: relative;
    top: -10px;
    left: 2px;
  }
}
