.in-sidebar-separator {
  border: 0;
  border-bottom: 1px solid #E2E9EC;
  margin: .625rem -.75rem;

  .in-dashboard & {
    border-color: #D5DFE4;
    margin: .625rem 0;
  }
}


.in-sidebar-separator + .in-sidebar-separator {
  display: none;
}
