@import "~in-themes/active.less";

.in-controls {
  position: absolute;
  right: 1.25rem;

  display: flex;
  align-items: flex-end;

  z-index: @z-index__view-controls;
  transition: bottom 0.25s ease-in-out;
}
