@import "~in-themes/active.less";

@import "~in-themes/active.less";

.in-sticky-note__unknown-node {
  .in-map--zoom-0 & {
    display: none;
  }

  position: absolute;
  top: -50px;
  left: -25px;

  z-index: @z-index__sticky-notes;

  &__icon {
    margin: 0;
    padding: 0;

    width: 50px;
    height: 50px;

    cursor: pointer;
  }
}
