.in-sidebar-server-listing {

  &__zone {
    text-transform: uppercase;
  }

  &__server-count {
    margin: 0 10px 0;
    padding: 2px 7px;

    color: #000;
    font-weight: 400;
    font-size: 12px;

    position: relative;
    top: -2px;
  }

  &__snapshots {
    margin: 0;
    padding: 0;
  }

}
