.in-sidebar-server-listing {

  &__zone {
    text-transform: uppercase;
  }

  &__server-count {
    margin: 0 10px 0;
    padding: 2px 7px;

    color: #000;
    font-weight: 400;
    font-size: 12px;

    position: relative;
    top: -2px;
  }

}

.in-sidebar-server-listing__zones {
  margin: 0;
  padding: 0;
}

.in-sidebar-server-listing__zone {
  list-style: none;
}

.in-sidebar-server-listing__zone-label {
  font-size: 17px;
  font-weight: 300;
  padding: 0 10px;
  text-align: right;
  text-transform: uppercase;
  margin: 20px 0;
}



.in-sidebar-server-listing__snapshots {
  margin: 0;
  padding: 0;
}
