/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-release-notes-dialog {
  max-width: 40rem;

  a {
    color: #6b8088;

    &:hover,
    &:active {
      color: #8c969a;
    }
  }
}
