/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

// reverting link back to blue
.in-release-notes-dialog {
  a {
    color: revert;
  }

  // Prevent font reset for markdown content
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li,
  p {
    font: revert;
    padding: revert;
  }
  // Restore style for ordered and unordered list
  ol,
  ul {
    list-style: initial;
  }

  p,
  ul,
  li {
    font-size: var(--cds-body-01-font-size);
  }

  h1 {
    font-size: var(--cds-heading-03-font-size);
  }

  h2 {
    font-size: var(--cds-heading-02-font-size);
  }

  h3 {
    font-size: var(--cds-heading-01-font-size);
  }
}
