@import "~in-themes/active.less";

.in-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: @footer__height * 1px;
  z-index: @z-index__footer;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  background: #20292f;
  box-sizing: border-box;
}
