@import "~in-themes/active.less";

.in-notificationcenter-issueitemlist {
  padding: 0 15px;
  overflow-y: auto;

  &__header-label {
    margin: 5px 5px 5px 0;
    font-size: 0.9rem;
  }

  &__list-item {
    list-style: none;
  }
}
