@import "~in-themes/active.less";

.in-notificationcenter-issue-list-switcher {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 0 10px;

  &__button {
    width: 40%;
    padding: 5px;
  }
}
