@import "~in-themes/active.less";

.in-notificationcenter-issueitem {
  padding: 10px 10px 10px 0;
  margin-top: 10px;
  border-top: 1px solid @notification-center__issue-item__border-line;

  &:hover {
    cursor: pointer;
    background: #2a3a44;
  }

  &__header {
    display: flex;

    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;
  }

  &__suggestion {
    font-size: 0.7rem;
    color: @notification-center__issue-item__text-suggestion;

    margin: 10px 0 10px 30px;
  }

  &__time {
    font-size: 0.7rem;
    color: @notification-center__issue-item__text-time;

    margin: 10px 0 0 30px;
  }

  &__icon {
    font-size: 2rem;
    width: 30px;

    margin-top: -5px;
    margin-bottom: -10px;
  }
}
