@import "~in-themes/active.less";

.in-date-picker {
  position: absolute;
  bottom: 15%;

  background: #2e4048;
  padding: 5px;
  border-radius: 5px 5px 0 0;

  &__heading {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
  }

  &__apply-button {
    padding: 8px 10px;
  }

  &__reset-button {
    margin-top: -5px;
    font-size: 1.75rem;
    cursor: pointer;
    color: #80939c;

    &:hover {
      color: white;
    }
  }

  &__inputs {
    margin-left: 15px;
    display: flex;
  }
}

.DayPicker-Day {
  font-size: 0.75rem;
  border: 1px solid @datepicker__matte;

  &:hover {
    color: @datepicker__matte;
    background: @datepicker__highlight;
  }
}

.DayPicker-Day--selected {
  background: @datepicker__matte;
}

.DayPicker-Weekday {
  font-size: 0.75rem;
}

.DayPicker-Day--today {
  color: @datepicker__highlight;
}

.DayPicker-Day--inactive {
  color: #43565e;
}

.DayPicker-Month {
  font-size: 0.9rem;
  font-weight: lighter;
}
