.in-timeline-date-picker {
  overflow: hidden;
  margin-left: 1rem;

  transition: width .25s ease-in-out;
}

.DayPicker-Day {
  font-size: 0.75rem;
  border: 1px solid #435b64;

  &:hover {
    color: #435b64;
    background: white;
  }
}

.DayPicker-wrapper {
  padding: 0 0 1px;
}

.DayPicker-Caption {
  font-size: 0.75rem;
  height: 1rem;
}

.DayPicker-NavButton {
  width: 1rem;
  height: 1rem;
}

.DayPicker-Day {
  padding: 0.25rem 0;
}

.DayPicker-Weekday {
  padding: 0.25rem 0;
  min-width: 1.75rem;
}

.DayPicker-Day--today {
  color: #9fffff;
}

.DayPicker-Weekday {
  font-size: 0.75rem;
}

.DayPicker-Day--inactive {
  color: #43565e;
}

.DayPicker-Month {
  font-size: 0.9rem;
  font-weight: lighter;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #9fffff;
  background: #9fffff;
  color: #435b64;
}

.DayPicker-NavBar {
  top: 0;
}
