@import "~in-themes/active.less";

.in-date-picker-select-box {
  margin-top: 0.5rem;

  &__select {
    width: 6.25rem;
    height: 1.688rem;
    font-size: 0.8rem;
    font-weight: lighter;
    border: 1px solid @datepicker__matte;
    color: @datepicker__highlight;
    background: transparent;
    cursor: pointer;

    &:hover {
      background: #6b8088;
    }
  }

  &__heading {
    font-size: 0.75rem;
    color: #6b8088;
  }
}
