@import "~in-themes/active.less";

.in-date-picker-text-input {
  margin-right: 0.5rem;

  &__input {
    width: 6.875rem;
    padding: .313rem 0 .313rem .313rem;
    font-size: 0.8rem;
    font-weight: lighter;
    border-radius: 0.188rem;
    border: 1px solid @datepicker__matte;
    color: @datepicker__highlight;
    background: transparent;
  }

  &--invalid {
    background: rgba(255, 66, 41, 0.75);
    border: 1px solid white;
  }

  &--hint {
    border: 1px solid #ffde00;
  }

  &__heading {
    font-size: 0.75rem;
    color: #6b8088;
  }

  &__timerange {
    display: flex;
    align-items: center;
  }

  &__timestamp {
    position: relative;
    margin: 0 .3rem 0 .4rem;
  }
}
