.in-download-button {
  position: relative;

  &__icon {
    margin: .25rem .25rem 0;
    cursor: pointer;

    &:hover {
      filter: brightness(0);
    }
  }

  &__popup {
    position: absolute;
    right: 0;

    margin-top: .2rem;
    padding: 0.5rem;
    background: white;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
}
