.in-download-button {
  position: relative;

  &__icon {
    margin: 0.25rem;
    cursor: pointer;

    &:hover {
      filter: brightness(0);
    }
  }

  &__popup {
    position: absolute;
    right: 0;

    padding: 0.5rem;
    background: white;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
}
