@import "~in-themes/active.less";

.in-view-switcher {
  flex-grow: 1;
  z-index: @z-index__view-switcher;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    height: @header__height * 1px;
    padding: 0;
    list-style: none;
  }
}
