.in-right-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  &__left {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 1rem;
    font-weight: lighter;
    color: white;
  }
}
