.in-prop-list {
  &__wrapper {
    display: inline-block;
    margin-right: 1.7rem;
    padding: 2px;
  }

  &__label {
    display: inline-block;
  }

  &__value {
    display: inline-block;
    background: #EEF2F4;
    border-radius: 4px;
    color: #2C4048;
    font-weight: bold;
    margin: 0 0.642rem;
    padding: 0.3rem 0.642rem;
  }

  &__note {
    color: #92A5AE;
  }
}
