.in-sticky-note-node {
  padding: .25rem .375rem;
  margin: .125rem 0 0 1.25rem;

  font-size: .6875rem;
  font-weight: bold;

  border-radius: 0 .188rem .188rem .188rem;
  color: white;
  background: #203036;
}
