.in-spark-chart {
  &__wrapper {
    position: relative;
  }

  &__canvas {
    display: block;
    z-index: 1;
  }

  &__tooltip-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: red;
  }

  &__tooltip {
    position: absolute;
    bottom: 0;
    display: none;
    z-index: 2;

    background: #21282E;
    border-radius: 3px;
    font-size: 11px;
    color: #fff;
    padding: 3px 5px;
  }

  &__glass-pane {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
  }

  &__no-data {
    height: 60%;
    top: 20%;
    position: absolute;
    left: 50%;
    margin-left: -10%;
  }
}
