.in-config-service-extraction-rule-form {
  max-width: 50rem;
  background: #fff;
  padding: .75rem;
  margin-bottom: .25rem;
  border: 1px solid transparent;
  border-radius: .188rem;
  border-top-right-radius: 0;

  &--has-error {
    border-color: #a94442;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__name-group {
    width: 100%;
    margin-right: .938rem;
  }

  &__without-bottom-margin {
    margin-bottom: 0;
  }

  &__buttons {
    text-align: right;
  }

  &__remove-match {
    float: right;
    color: #2D4048;
    font-weight: normal;
    margin-right: 10%;

    &:hover, &:active {
      color: #8c969a;
    }
  }

  &__helpfified_input {
    width: 100%;
  }

  &__checkbox {
    display: flex;
    align-items: center;
  }

  &__toggle {
    transform: scale(0.75);
  }
}
