.in-views-service-extraction-endpoint-form {
  margin: 1rem 0 0;

  &__invalid-row {
    color: #a94442;
  }

  &__order-icons {
    display: flex;
    align-items: center;
  }

  &__order-down, &__order-up {
    padding: .563rem .5rem;
    &:hover {
      cursor: pointer;
      fill: #6B8088;
    }
  }

  &__order-down {
    margin-right: 1rem;
  }

  &__remove-endpoint {
    color: #2D4048;
    font-weight: normal;

    &:hover, &:active {
      color: #8c969a;
    }
  }

  &__sub-section {
    margin-left: 1rem;
    max-width: 52.5rem;
  }
}
