.in-views-service-extraction-endpoint-form {
  margin: 1rem 0 0;

  &__buttons {
    text-align: right;
  }

  &__remove-match, &__remove-endpoint {
    float: right;
    color: #2D4048;
    font-weight: normal;

    &:hover, &:active {
      color: #8c969a;
    }
  }

  &__sub-section {
    margin-left: 1rem;
    max-width: 52.5rem;
  }
}
