@import "~in-themes/active.less";

.in-sidebar-heading-metadata {
  padding: 10px 20px 20px 20px;
  background: @sidebar__header__background;
  width: ~'calc(100% - 40px)';

  &__label {
    display: block;

    max-width: 300px;
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    color: @sidebar__header__heading;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__zone {
    margin: 0 10px 0 10px;
  }

  &__plugin-type {
    margin: 0;
    line-height: 2;
    font-size: 0.875rem;
    color: @sidebar__header__plugin;
  }

  &__health {
    float: right;
  }
}
