@import '~in-themes/active.less';

.spacings() {
  &.spacing-disabled > * { margin-bottom: 0; }
  &.spacing-xxsmall > * { margin-bottom: .25rem; }
  &.spacing-xsmall > * { margin-bottom: .5rem; }
  &.spacing-small > * { margin-bottom: .75rem; }
  &.spacing-normal > * { margin-bottom: 1rem; }
  &.spacing-medium > * { margin-bottom: 1.25rem; }
  &.spacing-large > * { margin-bottom: 2rem; }
  &.spacing-xlarge > * { margin-bottom: 3rem; }
  &.spacing-xxlarge > * { margin-bottom: 6rem; }

  &.spacing-gutter > * { margin-bottom: @grid__gutter * 1px; }


  &.stack > *:last-child { margin-bottom: 0; }
}
