@import "~in-themes/active.less";

.in-collapsible {
  border-bottom: 1px solid @collapsible__line;

  &:last-child {
    border-bottom: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    word-break: break-word;
    font-size: .75rem;
    color: #6B8088;
    cursor: pointer;

    transition: color .25s ease-in-out;

    &:hover {
      color: lighten(#6B8088, 20%);

      .in-collapsible__toggle {
        color: lighten(#6B8088, 20%);
      }
    }
  }

  &__content {
    margin: 7px 0 7px 10px;
  }

  &__toggle {
    font-size: 32px;
    color: #6B8088;
    height: 14px;
    position: relative;
    top: -9px;

    transition: color .25s ease-in-out;
  }
}
