@import "~in-themes/active.less";
@import "~in-themes/mixins.less";

.in-collapsible {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .breakWord();
    font-size: .75rem;
    color: #6B8088;
    cursor: pointer;

    transition: color .25s ease-in-out;

    &:hover {
      color: lighten(#6B8088, 20%);

      .in-collapsible__toggle {
        color: lighten(#6B8088, 20%);
      }
    }
  }

  &__content {
    margin: .438rem 0 0 .625rem;

    & > .in-clickable-list {
      margin-left: -.625rem;
    }
  }

  &__toggle {
    font-size: 2rem;
    color: #6B8088;
    height: .875rem;
    position: relative;
    top: -.563rem;

    transition: color .25s ease-in-out;
  }
}
