@import "~in-themes/active.less";

.in-collapsible {
  padding: 3px 1.25rem 4px;
  margin: 0 -1.25rem;
  border-bottom: 1px solid @collapsible__line;

  &:last-child {
    border-bottom: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    padding: 0 0 5px;
    margin-top: 5px;

    color: @collapsible__header__opened-text;
    transition: color .25s ease-in-out;
    cursor: pointer;

    &__closed {
      color: @collapsible__header__closed-text;
    }

    &:hover {
      color: @collapsible__header__closed-text;

      .in-collapsible__toggle {
        color: @collapsible__header__closed-text;
      }
    }
  }

  &__content {
    margin: 10px 0;
  }

  &__toggle {
    font-size: 32px;
    color: @collapsible__header__opened-text;
    margin-right: 6px;

    transition: color .25s ease-in-out;
  }
}
