@import "~in-themes/active.less";

.in-sidebar-dashboard {
  z-index: @z-index__sidebar;
  height: 100%;

  &__heading {
    padding: 10px 20px 10px 20px;
  }

  &__detail-list {
    max-height: ~"calc(100% - 150px)";
  }

  &__tabs {
    position: absolute;
    left: 21rem;
    top: 30%;

    &__tab {
      &:first-child {
        border-radius: 0 5px 0 0;
      }

      &:last-child {
        border-radius: 0 0 5px 0;
      }
    }
  }
}
