@import "~instana-ui-themes/less/constants.less";

.in-sticky-note__node-id {
  font-size: 1.2em;
  margin: 0;
  padding-top: 0.1em;

  color: transparent;
  transition: color .5s;

  .in-map--zoom-50 &, .in-map--zoom-100 & {
    color: white;
  }
}
