@import "~instana-ui-themes/less/constants.less";

@import "~instana-ui-themes/less/constants.less";

.in-sticky-note__unknown__node {
  position: absolute;
  top: 0;

  color: white;
  white-space: nowrap;

  z-index: @z-index__sticky-notes;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
