/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-table-view-image-and-label {
  display: flex;
  align-items: center;

  &__image {
    margin-right: 0.3rem;
    opacity: 0.7;
  }
}
