.in-dash-sum-snap-label {
  font-weight: normal;
  font-size: 1.188rem;
  margin: 0.2rem 0 1.2rem;
  border-bottom: 1px solid #d5dfe4;
  padding: 0 0 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__actions > * {
    margin: 0 0 0 0.5rem;
  }
}
