.in-eum {
  margin: 3rem;

  &__header {
    display:flex;
    justify-content: space-between;

    &__configure {
      margin-bottom: 2.5rem;
      text-decoration: none;
      font-weight: bold;
      color: #06B7BA;
    }

  }
}
