.in-eum {
  max-width: 65rem;
  min-width: 45rem;
  flex-grow: 1;
  margin: 3rem 5rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &__configure {
      text-decoration: none;
      color: #06B7BA;
    }
  }

  &__fullscreen-overview {
    display: flex;
    justify-content: center;
  }
}
