.in-eum {
  margin: 3rem;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &__configure {
      text-decoration: none;
      font-weight: bold;
      color: #06B7BA;
    }
  }
}
