@import "~instana-ui-themes/less/constants.less";

.in-sticky-note__tag-frame {
  position: absolute;
  top: -70px;

  z-index: @z-index__sticky-notes;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.in-tooltip__node__tag-ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.in-tooltip__node__tag-li {
  color: white;

  margin: 0;
  padding: 0;
}
