@import "~instana-ui-themes/less/constants.less";

.in-sticky-note__tag-frame {
  width: 40px;
  margin-left: -50%;

  text-align: center;
}

.in-tooltip__node__tag-ul {
  display: inline-block;

  margin: 0;
  padding: 0;
}

.in-tooltip__node__tag-li {
  display: inline-block;

  margin: 2px;
}
