.in-dynamic-rule-dialog-sensitivity-preview {
  margin-top: 0.625rem;

  &__button-group {
    display: flex;
    margin-bottom: 0.625rem;
  }

  &__button {
    padding: 0.438rem 0.625rem;
    background: #eef2f4;
    cursor: pointer;

    &__active {
      background: #2d4048;
      color: white;
    }

    &__left {
      border-radius: 4px 0 0 4px;
    }

    &__right {
      border-radius: 0 4px 4px 0;
    }
  }

  &__legend {
    display: flex;
    margin-top: 0.5rem;
  }

  &__legend-block {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    line-height: 0.75rem;
  }

  &__legend-rect {
    border-radius: 2px;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.25rem;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 0.25rem;
  }

  &__chart-wrapper {
    position: relative;
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__training-indicator {
    position: absolute;
    right: 0.5rem;
    top: 2rem;

    display: flex;
    align-items: center;

    padding: 0.125rem 0.313rem;
    background: #2d4048;
    color: white;
    border-radius: 3px;
    font-size: 0.625rem;
    text-transform: uppercase;
  }
}
