@import "~instana-ui-themes/less/constants.less";

.in-floating-frame {
  position: absolute;
  top: 20px;
  left: 20px;
  max-height: ~"calc(100% - 150px)";
  overflow: hidden;

  z-index: @z-index__sidebar;

  display: flex;
  flex-direction: column;
  min-height: 50px;

  &:first-child {
    margin-top: 0;
  }

  &--closed {
    display: block;
  }

  &__header {
    margin: 0;
    padding: 11px 17px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: #20272D;
    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    &--closed {
      width: auto;
      float: left;
    }
  }

  &__header:hover &__icon {
    color: #fff;
  }

  &__icon {
    font-size: 28px;
    font-weight: 300;
    margin-left: 13px;
    color: #7BDEDC;
  }

  &__content {
    background: #2F434C;
    padding: 20px;
    width: 300px;
    overflow-y: auto;
  }
}
