@import "~instana-ui-themes/less/constants.less";

.in-sidebar {
  position: absolute;
  top: 40px;
  bottom: 100px;
  left: 40px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: @z-index__sidebar;
}
