.in-sidebar-metrics {

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 20px;
  }

  &__clear-button {
    font-size: 11px;
    font-weight: bold;
    color: #99F6F6;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
  }

  &__icon {
    font-size: 24px;
  }
}
