@import '~in-themes/less/constants.less';

.in-menu {
  margin: 0 17px 0 19px;
  white-space: nowrap;
  flex-shrink: 0;

  &__toggle-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;

    background: transparent;
    color: #868f94;
    font-size: 13px;
  }

  &__toggle-button:hover {
    color: #fff;

    .in-menu__icon, .in-menu__icon-close {
      color: #fff;
    }
  }

  &__icon {
    font-size: 32px;
    color: #99F4F5;
    margin: 0 0 0 10px;
  }

  &__panel {
    position: absolute;

    display: flex;
    align-items: center;
    flex-direction: column;

    bottom: 100%;
    right: 10px;
    width: 190px;
    z-index: @z-index__menu-popup;

    padding: 10px 20px 0px 20px;
    border-radius: 4px 4px 0 0;

    background: #22292e;
  }

  &__menu-entry {
    height: 30px;
    width: 100%;

    padding-top: 8px;

    border-bottom: 1px solid #333a3e;
  }

  &__menu-entry__last {
    height: 30px;
    width: 100%;

    padding-top: 10px;
  }

  &__menu-entry:hover, &__menu-entry__last:hover {
    cursor: pointer;

    .in-menu__menu-entry--text, .in-menu__menu-entry--signout {
      color: #fff;
    }
  }

  &__menu-entry--text {
    font-size: 12px;
    color: #91e1df;
  }

  &__menu-entry--signout {
    font-size: 10px;
    color: #787d81;
  }

   &__button {
     margin: 5px;
   }
}
