@import "~in-themes/active.less";

.in-menu {
  margin: 0 17px 0 19px;
  white-space: nowrap;
  flex-shrink: 0;

  &__toggle-button-closed, &__toggle-button-opened {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;

    background: transparent;
    color: #868f94;
    font-size: 13px;
  }

  &__toggle-button-opened {
    color: #fff;

    .in-menu__icon, .in-menu__icon-close {
      color: #fff;
    }
  }

  &__toggle-button-closed:hover {
    .in-menu__icon, .in-menu__icon-close {
      color: #fff;
    }
  }

  &__icon {
    font-size: 32px;
    color: #99F4F5;
    margin: 0 0 0 10px;
  }

  &__panel {
    position: absolute;

    display: flex;
    align-items: center;
    flex-direction: column;

    bottom: 100%;
    right: 10px;
    width: 190px;
    z-index: @z-index__menu-popup;

    padding: 10px 20px 0px 20px;
    border-radius: 4px 4px 0 0;

    background: #20292f;
  }

  &__menu-entry, &__menu-entry-signout {
    height: 30px;
    width: 100%;

    padding-top: 8px;
    font-size: 12px;
    color: #a1fefc;

    border-bottom: 1px solid #333a3e;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__menu-entry-signout {
    font-size: 10px;
    color: #7f878b;
  }

  &__signout {
    font-size: inherit;
    color: inherit;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
  }

   &__button {
     margin: 5px;
   }
}
