.in-ui-config {
  &__section-heading {
    color: #6B8088;
    margin: 2rem 0 0.6rem;
  }

  &__slider {
    max-width: 12.5rem;
  }

  &__heading-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__label {
  }

  &__wrapper {
    position: relative;
    justify-content: space-between;

    height: 1.375rem;
    padding: .313rem 1rem .313rem 1.625rem;
  }

  &__info-icon {
    position: absolute;
    left: .625rem;
    top: .438rem;
  }

  &__warning {
    color: #ffde00;
  }
}
