.in-ui-config {
  &__section-heading {
    color: #6B8088;
    margin: 2rem 0 0.6rem;
  }

  &__slider {
    max-width: 12.5rem;
  }

  &__heading-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__label {
    margin: 0 .625rem;
  }

  &__wrapper {
    position: relative;
  }

  &__info-icon {
    position: absolute;
    right: 0.625rem;
    top: 0.7rem;
  }

  &__warning {
    color: #ff4229;
  }
}
