.in-ui-config {
  padding: .5rem 1rem;
  max-width: 51.5rem;

  &__requires-refresh {
    color: #fe0000;
    margin: 5px 0 0;
    font-size: 11px;
  }

  &__section-heading {
    margin: 2rem 0 0.6rem;
  }

  &__zoom-speed {
    max-width: 12.5rem;
  }
}
