.in-trace-view-network-element {
  font-size: 0.625rem;
  color: #6b8088;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &__dashed-filler {
    width: 100%;
    border-bottom: 1px dashed #6b8088;
    position: relative;
    top: 1px;
    margin-left: 0.5rem;
  }
}
