.in-timeline-date-time-picker-button-panel {
  font-size: 0.75rem;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon-button {
    cursor: pointer;
    fill: #888;
    margin-left: 0.5rem;

    &:hover {
      fill: #fff;
    }
  }

  &__live-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__checkbox {
    transform: scale(0.75);
  }
}
