.in-chart {
  position: relative;
  transform: translateZ(0);

  &__content {
    // we need to hide overflowing elements in X direction in order to make
    // sure that width calculations are functional.
    overflow-x: hidden;
  }

  &__canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    text {
      fill: #777;
      font-size: 13px;
    }

    .y.axis text {
      fill: #6b8088;
    }

    .y.axis .domain, .top-axis, .bottom-axis {
      stroke: rgba(0, 0, 0, 0.1);
      fill: none;
    }

    x.axis .domain {
      display: none;
    }

    .tooltip-note {
      stroke: red;
    }
  }

  &__tooltip {
    position: absolute;
    top: 0;
    padding: 7px;

    background: #21282E;
    border-radius: 3px;
    font-size: 13px;

    &-time {
      margin: 0;
      color: #6C7275;
    }

    &-metrics {
      margin-bottom: 0;
    }

    &-metric {
      display: flex;
      justify-content: space-between;
    }

    &-label {
      display: inline-block;
      margin-right: 5px;
    }

    &-value {
      display: inline-block;
    }
  }
}
