.in-search-available-keyword-description {
  width: 18rem;

  &__usage-hint {
    color: #9FFFFF;
    margin: 0 0 1rem;
    font-size: .7rem;
  }

  &__description {
    margin: 0;
    color: #8c969a;
  }
}
