.in-search-error-indicator {
  position: absolute;
  top: 2.2rem;
  left: 0;
  right: 0;

  font-size: 0.75rem;
  color: red;
  background: rgba(45, 64, 72, 0.98);
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
