@import "~in-themes/active.less";

.in-search-presets {
  position: absolute;
  top: 4.55rem;
  right: 0.7rem;
  width: 25rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #2D4048;;

  z-index: @z-index__search-menu;

  padding: 1rem 0.6rem 0.4rem 0.6rem;

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__save {
    color: #90A3AB;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: .813rem;

    &:hover {
      color: #FAFBFB;

      .in-search-presets__save-icon {
        fill: #FAFBFB;
      }
    }

    &--disabled, &--disabled:hover {
      color: #586c74;

      .in-search-presets__save-icon {
        fill: #586c74;
      }
    }
  }

  &__save-icon {
    fill: #90A3AB;
    margin: 0 0.3rem 0 0;
  }

  &__preset-list {
    margin: 0 0 0;
    padding: 0 0 0;
    font-size: .813rem;
    list-style: none;
  }

  &__preset-item {
    margin: 0;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #90A3AB;

    &:hover {
      color: #FAFBFB;
      background: #42565E;
    }
  }

  &__edit, &__remove {
    text-decoration: none;
    color: #90A3AB;
    margin: 0 0 0 0.6rem;

    &:hover {
      color: #fff;
    }

  }
}
