.in-search-presets {
  &__save {
    margin: 0 0 0 2rem;
  }

  &__heading {
    margin: 0;
    font-size: 0.9rem;
    font-weight: bold;
  }

  &__preset-list {
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
  }

  &__preset-item {
    margin: 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__edit {
    fill: #94eced;
    cursor: pointer;
  }

  &__remove {
    fill: #d9534f;
    cursor: pointer;
  }
}
