@import "~in-themes/active.less";

.in-search-menu {
  position: absolute;
  top: 4.75rem;
  right: 0;
  width: 50rem;
  border-bottom-left-radius: 3px;
  background: hsla(197, 28%, 13%, 0.95);

  z-index: @z-index__search-menu;

  padding: 1rem;
}
