@import "~in-themes/active.less";

.in-search-menu {
  position: absolute;
  top: 4.55rem;
  right: 0;
  width: 25rem;
  border-bottom-left-radius: 3px;
  background: #2D4048;;

  z-index: @z-index__search-menu;

  padding: 1rem 0.6rem 0.4rem 0.6rem;
}
