@import "~in-themes/active.less";

.in-two-column-view {
  height: 100%;
  overflow: hidden;

  &__left, &__right {
    float: left;
    position: relative;
    padding: 2.25rem 0 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
