@import "~in-themes/active.less";

.in-two-column-view {
  position: absolute;
  top: @header__height * 1px;
  left: 0;
  right: 0;
  bottom: @footer__height * 1px;

  z-index: @z-index__trace-view;

  overflow-x: hidden;
  overflow-y: hidden;

  background: #EEF2F4;
  font-size: 0.75rem;
  color: #2D4048;

  transition: bottom 0.25s ease-in-out;

  &__left, &__right {
    float: left;
    position: relative;
    padding: 2.25rem 0 0;
    box-sizing: border-box;
    height: 100%;
  }

  &__left {
    max-width: 40rem;
    width: 100%;
  }

  &__right {
    width: 100%;
    max-width: ~"calc(100% - 40rem)";
  }
}
