.in-timepicker {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 5px;
  padding: 5px;

  background: #20272D;

  &__button {
    background: #2e373e;
    margin: 5px;
  }
}
