.in-timepicker {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 5px;
  padding: 5px;

  background: #232f38;

  &__button {
    background: #2d3c43;
    margin: 5px;

    color: #868f94;
  }
}

.in-timepicker:before {
  content: ' ';
  position: absolute;

  bottom: -7px;
  margin-left: 15px;
  padding: 0;

  border: 6px solid;
  border-color:
    #232f38
    transparent
    transparent
    #232f38;
}
