@import "~in-themes/active.less";

.in-sticky-note-process-metric {
  position: absolute;
  top: calc(0 - 40px);
  left: 10px;

  &__wrapper {
    &--highlighted {
      .in-sticky-note-process-metric__chart-wrapper {
        background: #203036;
      }
    }
  }

  &__heading {
    margin: 0 0 5px 10px;
    color: #ccc;
    font-size: 0.75rem;
  }

  &__chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-radius: 4px;
    background: rgba(45, 64, 75, 0.5);
    font-size: 0.75rem;
    max-width: 300px;
    padding: 6px 10px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__chart {
    margin: 0.5rem 0;
  }

  &__title {
    color: #7e9099;
  }

  &__value {
    color: white;
    font-weight: bold;
  }
}
