@import "~in-themes/active.less";

.in-sidebar-heading-metadata {
  display: flex;

  padding: 10px 20px 20px 20px;
  background: @sidebar__header__background;

  &__label {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
  }

  &__text {
    color: @sidebar__header__heading;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
  }

  &__zone {
    margin: 0 10px 0 10px;
    float: right;
  }

  &__plugin-type {
    margin: 0;
    line-height: 2;
    font-size: 14px;
    color: @sidebar__header__plugin;
  }

  &__health {
    float: right;
  }
}
