.in-spark-chart-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__chart {
    margin: 1rem 0;
  }

  &__title, &__value {
    font-size: .688rem;
  }

  &__value {
    font-weight: bold;
  }
}
