.in-dynamic-rule-dialog-matchin-entities-table {
  width: 100%;
  margin-top: 0.625rem;

  &__exclude-label {
    color: #6a7e86;
    cursor: pointer;

    &:hover {
      color: #9dafb6;
    }
  }
}
