.in-dynamic-rule-dialog-matchin-entities-table {
  width: 100%;
  margin-top: 0.625rem;

  &__exclude-label {
    color: #6a7e86;
    cursor: pointer;

    &:hover {
      color: #9dafb6;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__plugin-icon {
    margin: 0 0.313rem 0 0;
  }
}
