.in-dynamic-rule-dialog-sensitivity-preview {
  margin-top: 0.625rem;

  &__button-group {
    display: flex;
    margin-bottom: 0.625rem;
  }

  &__button {
    padding: 0.438rem 0.625rem;
    background: #eef2f4;
    cursor: pointer;

    &__active {
      background: #2d4048;
      color: white;
    }

    &__left {
      border-radius: 4px 0 0 4px;
    }

    &__right {
      border-radius: 0 4px 4px 0;
    }
  }
}
