.in-dynamic-rule-dialog-step-3 {
  &__severity {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.625rem 1.875rem;
    margin-bottom: 0.625rem;
    border: 1px solid #d5dfe4;
    border-radius: 0.25rem;
    cursor: pointer;

    &__active--5 {
      border: 1px solid transparent;
      color: white;
      background: #ffde00;
    }

    &__active--10 {
      border: 1px solid transparent;
      color: white;
      background: #ff4229;
    }
  }

  &__icon {
    margin-right: 0.313rem;
  }

  &__triggering-group {
    align-items: flex-end;
  }

  &__triggering {
    display: flex;
    align-items: center;
  }

  &__toggle {
    margin-left: 0.625rem;
  }

  &__description {
    resize: vertical;
    min-height: 6.25rem;
  }

  &__event-preview {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    margin-top: -0.625rem;
  }

  &__preview-icon {
    margin-right: 0.313rem;
  }

  &__event-preview-wrapper {
    display: flex;
    align-items: center;

    color: #6b8088;
  }

  &__issue-preview {
    border-radius: 3px;
    min-width: 18.75rem;
  }
}
