.in-dynamic-rule-dialog-step-1 {
  &__helpfified_input {
    width: 100%;
  }

  &__matching-entities-help-box {
    position: relative;

    margin-top: 1.938rem;
    padding: 1.25rem;
    background: #2d4048;
    color: #e2e9ec;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: lighter;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.3);

    &::after {
      content: '';
      width: 0;
      height: 0;
      right: -0.625rem;
      top: 50% - 6;
      border-bottom: 0.75rem solid transparent;
      border-left: 0.625rem solid #2d4048;

      position: absolute;
      top: 0.625rem;
    }
  }

  &__matching-entities-help-box-beta {
    padding: 0.188rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #22d8d8;
    text-transform: uppercase;
    font-size: 1rem;
    color: #22d8d8;
  }

  &__filter-label-wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 0.313rem;
  }

  &__filter-label {
    margin-bottom: 0;
  }

  &__num-entities-during-beta {
    font-weight: bold;
  }

  &__matching-entities-indicator {
    display: flex;
    justify-content: flex-end;

    margin-top: 0.5rem;
    color: #6b8088;
  }
}
