.in-dynamic-rule-dialog-step-4 {
  display: flex;
  padding: 1rem;

  &__left {
    display: flex;
    flex-direction: column;

    width: 60%;
  }

  &__toggle-wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 0.75rem;
  }

  &__toggle {
    margin-right: 0.625rem;
  }

  &__help-text {
    color: #6b8088;
  }

  &__right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    width: 40%;
  }
}
