@import "~in-themes/active.less";

.in-searchbar {
  &__input {
    background: #2D4048;
    color: #fff;
    border-radius: 0.38rem;
    box-sizing: border-box;
    padding: 0.4rem 0.9rem;
    border: 0px;
    width: 15rem;
    font-size: 0.8rem;
  }
}
