@import "~in-themes/active.less";

.in-searchbar {
  position: relative;
  display: flex;
  align-items: center;

  width: 15rem;
  background: #2D4048;
  border-radius: 0.2rem;
  font-size: 0.8rem;

  &__input {
    width: 100%;
    height: 1.813rem;
    padding: 0.5rem 1rem 0.5rem 1.8125rem;
    box-sizing: border-box;
    background: #2D4048;
    border: 0px;
    color: #fff;
    border-radius: 0.125rem;
  }

  &__search-icon {
    position: absolute;;
    left: 0.67rem;
    top: 0.4rem;

    font-size: 1rem;
    color: white;
  }

  &__help {
    position: absolute;
    right: -2rem;
    top: 0.15rem;
    text-decoration: none;
    line-height: 1.4rem;
    padding: 0 0.48rem;
    border-radius: 1rem;
    border: 2px solid #6b8088;
    color: #6b8088;
    font-weight: bold;
    transform: scale(0.8);
    font-size: 1rem;

    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;

    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
}
