@import "~in-themes/active.less";

.in-searchbar {
  position: absolute;
  top: @header__height * 1px;
  left: 0;
  right: 0;
  padding: 0 0.9rem .313rem .9rem;

  z-index: @z-index__search-bar;

  background: #172429;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);

  display: flex;
  align-items: center;

  &__field-wrapper {
    width: 100%;
    position: relative;
  }

  &__search_icon {
    position: absolute;
    left: 0.6rem;
    top: 0.45rem;
  }

  &__icon {
    fill: #6B8088;
  }

  &__input {
    width: 100%;
    display: block;
    height: 1.75rem;
    padding: 0.4rem 1rem 0.4rem 1.8125rem;
    box-sizing: border-box;
    background: #0E1619;
    border: 1px solid #2D4048;
    color: #fff;
    border-top-left-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
  }

  &__help, &__expand-collapse-wrapper{
    height: 1.75rem;
    box-sizing: border-box;
    border: 1px solid #2D4048;
    border-left: 0;
    padding: 0 .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #0E1619;
  }

  &__expand-collapse-wrapper {
    cursor: pointer;

    &--menu-visible, &:hover {
      background: #2D4048;

      .in-searchbar__expand-collapse {
        fill: #fff;
      }
    }
  }

  &__help {
    color: #6B8088;
    text-decoration: none;
  }
}
