/*
 * IBM Confidential
 * PID 5737-N85, 5900-AG5
 * Copyright IBM Corp. 2024
 */

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.item {
  display: flex;
  flex-direction: column;
}
