/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';
@import '~in-themes/mixins.less';

.in-event-description {
  display: flex;
  background: @lib__colors__navy900;
  max-width: 25rem;
  color: #fff;

  &__icon {
    margin: 29px 0 0 10px;
  }

  &__icon_in_preview {
    margin-top: 37px;
    margin-left: 2px;
  }

  &__description {
    padding: 0 10px 5px 5px;
    width: 100%;
    white-space: normal;
  }

  &__header,
  &__incident-started {
    font-size: 0.688rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;

    .breakWord();
    white-space: normal;
  }

  &__suggestion {
    font-size: 0.688rem;
    color: #818a8f;
    margin: 0 0 10px 0;

    .breakWord();
    white-space: normal;
  }

  &__time {
    font-size: 0.625rem;
    color: #cdd3d5;

    margin-bottom: 5px;
  }

  &__end {
    text-align: right;
    white-space: nowrap;
  }

  &__incident-started {
    font-weight: normal;
    text-transform: none;
  }

  code {
    color: #fff;
    text-shadow: none;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
