.in-auto-layout-button {
  margin-right: 0.3125rem;
  padding: 0.3125rem 0.3125rem 0.0625rem;
  background: #2d4048;

  border-radius: 0.1875rem;
  cursor: pointer;

  transition: background 0.25s ease-in-out;

  &:hover {
    background: #9fffff;
  }
}
