.in-trace-view-network-element {
  font-size: .625rem;
  color: #6B8088;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &__dashed-filler {
    width: 100%;
    border-bottom: 1px dashed #6B8088;
    position: relative;
    top: 1px;
    margin-left: .5rem;
  }
}
