@import '~in-themes/active.less';

.in-account {
  display: flex;
  align-items: center;

  white-space: nowrap;
  cursor: pointer;

  &__avatar-wrapper {
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 0;
    overflow: hidden;
    margin: 0 0 0 1.5rem;
    width: 1.8rem;
    height: 1.8rem;
    outline: none;
    transition: background 0.25s ease-in-out;

    &--active {
      background: #7d8b8f;
      border-color: #fff;
    }
  }

  &:hover {
    .in-account__avatar-wrapper {
      background: #7d8b8f;
      border-color: #fff;
    }

    .in-account__icon {
      fill: white;
    }
  }

  &__icon {
    fill: #7d8b8f;
  }

  &__avatar {
    width: 100%;
    height: 100%;
  }
}

.in-tenant-switcher {
  max-height: 14.75rem;
  overflow-y: auto;
}
