@import '~in-themes/active.less';

.in-account {
  display: flex;
  align-items: center;

  white-space: nowrap;
  cursor: pointer;

  &:hover {
    .in-account__avatar {
      fill: #fff;
    }

    .in-account__icon {
      fill: white;
    }
  }

  &__expanded {
    .in-account__avatar {
      fill: #fff;
    }

    .in-account__icon {
      fill: white;
    }
  }

  &__icon {
    fill: @lib__colors__N500;
  }

  &__avatar {
    margin-left: 1.5rem;
    fill: @lib__colors__N500;
  }
}

.in-tenant-switcher {
  max-height: 14.75rem;
  overflow-y: auto;
}
