.in-event-view-event-table {
  &__no-events {
    text-align: center;
    font-style: italic;
  }

  &__entity-wrapper {
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  &__entity-icon {
    margin-right: 0.313rem;
    flex-shrink: 0;
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__icon-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.625rem;
    width: 2.25rem;
  }
}
