.in-event-details-traces {
  position: relative;
  width: 100%;

  &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 0.313rem;
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__metrics {
    display: flex;
  }

  &__item {
    margin-right: 2rem;
  }
}
