.in-event-view-event-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &__left-side,
  &__right-side {
    display: flex;
    align-items: center;
  }

  &__right-side {
    margin-right: 1rem;
  }

  &__title {
    height: 1.625rem;
    margin: 0.563rem 0 0 1rem;
    padding: 0 0.25rem;

    font-size: 0.688rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    color: #91a3ac;
    transition: color 0.25s ease-in-out;

    &:hover,
    &--selected {
      color: white;
      border-bottom: 2px solid white;
    }
  }

  &__refresh {
    cursor: pointer;

    path {
      fill: #d5dfe4;
    }

    &:hover path {
      fill: #fff;
    }
  }

  &__toggle-left {
    cursor: pointer;
    margin: 0.063rem 0 0 0.688rem;

    path {
      fill: #d5dfe4;
    }

    &:hover path {
      fill: #fff;
    }
  }
}
