.in-related-snapshot-list {
  &__header {
    display: flex;
    align-items: center;
  }

  &__plugin-icon {
    height: 1rem;
    min-width: 0.9rem;
    margin-right: .938rem;
    filter: brightness(0.5);
  }
}
