.in-event-view-detail-chart-time-axis {
  &__topline, &__tick {
    position: absolute;
    top: 0;
    background: #e2e9ec;
  }

  &__topline {
    left: 0;
    height: 1px;
  }

  &__tick {
    bottom: 0;
    width: 0;

    border-left: 1px solid #e2e9ec;
    color: #6b8088;
    font-size: 11px;
    white-space: nowrap;
  }
}
