@import "~instana-ui-themes/less/constants.less";
@import '../../Icon/Icon.less';

.in-tooltip__connections-ul {
  list-style: none;

  margin-bottom: -5px;
  padding: 0;
}

.in-tooltip__connection-li:last-child {
  margin-bottom: -13px;
}

.in-tooltip__connection-li {
  margin: -5px 0 0 0;
}

.in-tooltip__connections-li--arrow {
  color: @map__tooltips__font;
  opacity: 0.4;

  margin-top: -5px;
  margin-right: 5px;
}

.in-tooltip__connections-li--header {
  font-size: 11px;
  font-weight: bold;

  min-width: 75px;

  margin-right: 5px;
}

.in-tooltip__connections-li--ip {
  font-size: 11px;

  opacity: 1; //results in color: white
  font-weight: bold;

  color: @map__tooltips__font;
}

.in-tooltip__connections-li--wrapper {
  display: flex;
  justify-content: flex-start;
}
