/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-notification {
  font-weight: bold;
  margin: 0 0 0 1rem;
  display: inline-flex;
  align-items: center;

  &--loading {
    position: relative;
    top: 0.25rem;
  }

  &--success {
    color: #449d44;
  }

  &--failure {
    color: #a94442;
  }
}
