.in-config-role {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: .125rem;
  padding: .313rem .625rem;
  background: #eef2f4;
  margin-bottom: .375rem;

  font-weight: bold;
}
