.in-event-view-affected-service-marker {
  padding: .125rem .5rem .188rem .438rem;

  background: #22d8d8;
  color: white;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.563rem;
  white-space: nowrap;
}
