.in-event-view-event-table-row {
  height: 1.625rem;
  width: ~'calc(100% - 0.5rem)';
  margin-left: .5rem;

  line-height: 1.625rem;
  color: #2D4048;
  font-size: .688rem;
  cursor: pointer;

  transition: background, color 0.25s ease-in-out;

  &:hover, &--selected.in-event-view-event-table-row {
    border-radius: 3px;
    background: #2d4048;
    color: white;
  }

  &__cell {
    display: inline-block;
    box-sizing: border-box;

    width: 20%;
    padding-left: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #D5DFE4;
    border-right: 1px solid #D5DFE4;

    &:last-child {
      border-right: 0;
    }

    &:nth-child(3) {
      width: 45%;
      padding-left: .938rem;
    }

    &:nth-child(4) {
      padding-left: 1.063rem;
      width: 15%;
    }
  }
}
