.in-event-view-event-filter-bar {
  display: flex;
  margin-left: 5rem;
  font-size: .688rem;
  font-weight: bold;
  color: white;

  &__checkbox {
    margin: 0 .313rem;
    padding: 0.2rem .313rem;
    border-radius: .188rem;
    cursor: pointer;
    border: 2px solid transparent;

    &:hover, &--active {
      border: 2px solid white;
    }
  }
}
