.in-event-view-event-table-row {
  height: 1.625rem;

  line-height: 1.625rem;
  color: #2D4048;
  font-size: .688rem;
  cursor: pointer;

  &:hover, &--selected.in-event-view-event-table-row {
    background: #2d4048;
    color: white;

    .in-event-view-event-table-row__entity-icon {
      filter: brightness(1);
    }
  }

  &__cell {
    display: inline-block;
    box-sizing: border-box;

    padding-left: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #D5DFE4;
    border-right: 1px solid #D5DFE4;

    &:nth-child(1) {
      width: 5%;
      padding-left: 0;
    }

    &:nth-child(2), &:nth-child(3) {
      width: 16%;
    }

    &:nth-child(4) {
      width: 29%;
    }

    &:nth-child(5) {
      width: 34%;
    }

    &:last-child {
      border-right: 0;
    }
  }

  &__entity-wrapper {
    display: flex;
    align-items: center;
  }

  &__entity-icon {
    width: 0.875rem;
    height: 0.875rem;
    margin-right: 0.313rem;
    filter: brightness(0);
  }
}
