.in-event-view-event-table-header {
  width: 100%;
  color: #6B8088;
  font-size: .688rem;

  &__cell {
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    width: 20%;

    &:nth-child(3) {
      width: 50%;
    }

    &:nth-child(4) {
      width: 10%;
    }
  }

  &__cell-toggle {
    padding-left: 10px;
    background: #D5DFE4;
    line-height: 1.5rem;
    cursor: pointer;

    &:hover, &--selected {
      background: #92A5AE;
      color: #fff;
      font-weight: bold;
    }
  }

  &__filter {
    position: absolute;
    top: 100%;
    z-index: 1;
  }
}
