.in-event-view-event-table-row {
  height: 1.625rem;
  margin-left: .5rem;

  line-height: 1.625rem;
  color: #2D4048;
  font-size: .688rem;
  cursor: pointer;

  &:hover, &--selected.in-event-view-event-table-row {
    border-radius: 3px;
    background: #2d4048;
    color: white;
  }

  &__cell {
    display: inline-block;
    box-sizing: border-box;

    width: 22%;
    padding-left: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #D5DFE4;
    border-right: 1px solid #D5DFE4;

    &:nth-child(1) {
      width: 6%;
    }

    &:nth-child(4) {
      width: 50%
    }

    &:last-child {
      border-right: 0;
    }
  }
}
