.in-event-filter-menu {
  background: #40535b;
  min-width: 14rem;
  border-radius: 0 0 .188rem .188rem;

  &__title {
    width: 100%;
    padding: .313rem;
    border-bottom: 1px solid #e2e9ec;
  }

  &__row {
    display: flex;
    justify-content: flex-start;

    padding: .25rem;
  }

  &__button {
    margin: .313rem;
  }
}
