.in-event-view-event-problem {
  display: flex;
  align-items: center;

  padding: 0 1rem;

  background: #41545c;
  background: linear-gradient(#2d4048, #43565e);
  border-radius: 0.25rem;

  &__icon-wrapper {
    width: 20px;
  }

  &__text-wrapper {
    margin: 0.625rem 0 0 1rem;
  }

  &__heading {
    color: white;
    font-size: .75rem;
  }

  &__suggestion {
    font-size: .688rem;
    color: #818a8f;
    word-break: break-word;
  }
}
