.in-website-no-website-landing-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  &__image {
    background: url('./landingImage.png');
    background-size: contain;
    background-repeat: no-repeat;

    width: 11.25rem;
    height: 8.125rem;
    margin-bottom: 1.375rem;

    white-space: nowrap;
    overflow: hidden;
  }

  &__description {
    max-width: 33.75rem;
    font-size: 0.875rem;
    text-align: center;
    color: #4B626B;
    font-weight: lighter;
    line-height: 1.5rem;
  }
}
