.in-website-table-header {
  color: #b9b9b9;
  display: flex;

  &__id {
    width: 30%;
    padding-left: 1.875rem;
  }

  &__kpis {
    display: flex;
    width: 70%;

    &__kpi {
      padding-right: 1.2rem;

      &:nth-child(1) {
        width: 4.375rem;
      }

      &:nth-child(2) {
        width: 6.375rem;
      }
    }
  }
}
