.in-website-table-header {
  color: #b9b9b9;
  display: flex;
  height: 1.4rem;

  &__id {
    width: 30%;
    padding-left:1rem;
  }

  &__kpis {
    display: flex;
    width: 70%;

    &__kpi {
      width: 7rem;
    }
  }
}

.in-table-sort-indicator {
  color: #b9b9b9;

  &:hover {
    color: #000;
  }

  &--active {
    background: none;
    color: #000;
    font-weight: normal;
  }

  &__icon {
    fill: #6b8088;
    border-radius: .188rem;
    padding: .23rem;
    background: none;

    &--hidden {
      // do not use display: none as we want it to continue to occupy the
      // space so that the columns do not change their widths when resorting.
      visibility: hidden;
    }
  }

  &:hover &__icon {
    background: white;
  }
}


