@import "~in-themes/mixins.less";

.in-website-table-row {
  display: flex;
  height: 8.125rem;

  margin-top: 0.6rem;
  padding: .5rem;

  overflow: hidden;
  background: white;
  border: 1px solid #D5DFE4;
  border-radius: 0.313rem;

  box-shadow: 0 rgba(0, 0, 0, 0);
  transition: box-shadow .25s ease-in-out;
  &:hover {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.125);
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 30%;
    font-size: 1.125rem;
    padding-left: 1.875rem;
    font-weight: 600;
    .breakWord();
  }

  &__details-button {
    background: transparent;
    margin-top: 1rem;
    color: #06B7BA;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    transition: color .2s ease-in-out;

    &:hover {
      background: transparent;
      color: #1b7071;
    }
  }

  &__health {
    width: 8rem;
    margin-top: .563rem;
  }

  &__metrics {
    width: 70%;
    margin-left: .75rem;
  }

  &__kpis {
    display: flex;

    margin: .25rem 0 1.25rem 0;
    padding: 0 0.6rem;
  }

  &__kpi-block {
    display: flex;
    flex-direction: column;

    // health
    &:nth-child(4) {
      margin-left: 2.313rem;
    }
  }

  &__metric-name {
    // get aligned with the pseudo element
    margin-left: -.313rem;
    margin-bottom: .5rem;
  }

  &__kpi {
    display: inline-block;

    font-size: 1.125rem;

    &::before {
      position: absolute;

      content: '';
      padding: 0;
      width: .188rem;
      height: 1.125rem;
      margin: .063rem 0 0 -.625rem;
    }

    &__load {
      margin-left: 0.375rem;
      width: 5.688rem;

      &::before {
        background: #eaeff2;
      }
    }

    &__time {
      width: 5.688rem;

      &::before {
        background: #4b626b;
        margin-top: 0.625rem;
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
      }
    }

    &__errors {
      width: 5.688rem;
      &::before {
        background: #f49785;
      }
    }
  }
}

.in-website-table-row:hover {
  .in-website-table-row__details-button {
    opacity: 1;
  }
}
