.in-website-table-header {
  color: #b9b9b9;
  display: flex;

  &__id {
    width: 30%;
    padding-left:1rem;
    text-transform: uppercase;
  }

  &__kpis {
    display: flex;
    width: 70%;

    &__kpi {
      text-transform: uppercase;
      padding-right: 1.2rem;
    }
  }
}

