.in-website-kpi-section {
  display: flex;
  margin: .25rem 0 .75rem;

  &__kpi-block {
    display: flex;
    flex-direction: column;
  }

  &__kpi {
    display: inline-block;

    font-size: 1.125rem;

    &__load {
      width: 5.688rem;
    }

    &__time {
      width: 5.688rem;
    }
  }

  &__metric-name {
    margin-bottom: .5rem;

    &__load {
      color: #5da6da;
      width: 6.188rem;
    }

    &__time {
      color: #61bd68;
      width: 6rem;
    }
  }
}
