.in-eum-table {
  overflow: hidden;
  border-radius: 3px;

  .in-table__cell {
    height: 6rem;
    background-color: #fff;
  }

  .in-table-row > td:first-child{
    color: #3174ed;
    font-size: 0.8rem;
    font-weight: bold;
  }

}
