@import "~in-themes/active.less";

.in-settings {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: @settings__help-text;

  width: 34rem;

  &__dialog {
    &__content {
      position: relative;
      padding: 50px;
      border-radius: 13px;
      background: @settings__background;
      overflow-y: auto;
      max-height: 100%;
      box-sizing: border-box;
    }

    &__child-wrapper {
      max-height: 50%;
      height: 50%;
      position: relative;
    }
  }
}
