@import "~in-themes/active.less";

.in-settingentry {
  // the golden section
  @widthOfLeftItems: ~"calc(61.8% - 10px)";
  @widthOfRightItems: ~"calc(38.2% - 10px)";

  display: flex;
  align-items: center;

  margin: 10px;

  &__label, &__content {
    padding: 5px 10px;
  }

  &__label {
    width: @widthOfLeftItems;
    text-align: right;
  }

  &__content {
    width: @widthOfRightItems;
  }

  &__help {
    width: @widthOfLeftItems;
    text-align: right;
    font-weight: lighter;
    margin-top: -15px;
  }

  &__wrapper {
    width: 100%;
  }
}
