.in-config-http-ex-json-dia {
  &__margin-remover {
    margin: -.625rem;
  }

  &__parse-error {
    margin: 0;
    color: #a94442;
    background-color: #f2dede;
    padding: .125rem .313rem;
  }

  &__editor {
    width: 60vw;

    & > .CodeMirror {
      height: 60vw;
    }
  }
}
