.in-config-http-ex-rule-match-presenter {
  &__label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }

  &__indicator {
    position: relative;
    margin: 0 .313rem 0 .625rem;
    top: .063rem;

    &--match {
      fill: #128D15;
    }

    &--no-match {
      fill: darkred;
    }
  }

  &__capture-groups {
    font-weight: bold;
    display: block;
    margin: .625rem 0 0;;
  }

  &__groups {
    margin: 0 0 0 .625rem;
  }
}
