@import "~in-themes/active.less";

.in-menu-footer {
  display: flex;
  justify-content: space-between;

  font-size: 0.875rem;
  margin-top: 40px;

  &__settings, &__signout, &__release-notes {
    cursor: pointer;
  }

  &__signout {
    color: @menu__signout-label;
    background: transparent;
    padding: 0;
    border: 0;
  }
}
