/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-jail {
  &__error {
    color: #ebccd1;
    background-color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 0.2rem;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 0.9rem;
    display: block;
    overflow-x: auto;
  }

  &__error-reason {
    font-family: monospace;
  }

  &__error-component-props {
    font-size: 0.8rem;
  }
}
