.in-dashboard-nofitication {
  padding: 1rem;
  margin: 1.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 0.8rem;

  &__info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &__warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  &__danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}
