@import "~instana-ui-themes/less/constants.less";

.in-tooltip__metric-ul {
  list-style: none;

  margin: 0 0 -10px;
  padding: 0;
}

.in-tooltip__metric-li:last-child {
  margin-bottom: -13px;
}

.in-tooltip__metric-li {
  margin: -5px 0 0 0;
}

.in-tooltip__metric-li--wrapper {
  display: flex;
  justify-content: space-between;
}

.in-tooltip__metric-li--name {
  font-size: 11px;
  font-weight: bold;

  margin-right: 15px;
}

.in-tooltip__metric-li--value {
  font-size: 11px;
  font-weight: bold;

  color: @map__tooltips__font;
}
