/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-expand-hierarchy {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    margin: 0.188rem 0;
  }
}
