.in-lettering {
  width: 6.4375rem;
  height: 1rem;

  background: url('./Lettering.svg');
  background-size: contain;
  background-repeat: no-repeat;

  // hide the logo text
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
