@import "~in-themes/active.less";

.in-snapshot-detail-sidebarcontent {
  width: 21rem;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  &__content {
    padding: 1.25rem;
    width: 18.5rem;

    height: auto;
    max-height: 50%;
    overflow-y: auto;

    overflow-x: hidden;
    background: white;
  }

  &__icon {
    height: 2.3rem;
    max-width: 5rem;
    margin: 0 0 1rem;
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
  }

  &__open-dashboard {
    background: #203034;
    height: 76px;
  }

  &__tabs {
    position: absolute;
    left: 100%;
  }
}
