.in-annotated-health-bar {
  display: flex;
  align-items: center;

  &__counter {
    padding: 0 0.3rem;
    border-radius: 0.25rem;
    line-height: 1rem;
    font-weight: 300;
    margin: 0 0 0 0.6rem;
  }
}
