@import "~in-themes/less/constants.less";

.in-tooltip__multitag-heading {
  margin: 0;
}

.in-tooltip__multitag-frame--ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.in-tooltip__multitag-frame--li {
  padding: 0 0 10px;
}

.in-tooltip__multitag-frame--li:last-child {
  padding: 0;
}
