.in-sticky-note-group {
  padding: 3px 5px 2px 5px;
  margin: 2px 0 0 2px;

  font-size: 0.6875rem;
  font-weight: bold;

  border-radius: 0 3px 3px 3px;
  color: #2d454c;

  cursor: pointer;

  &:hover {
    color: white;
  }
}
