@import "~in-themes/less/constants.less";

.in-tooltip__node-heading--warning {
  color: @map__tooltips__critical;
}

.in-tooltip__node-heading--danger {
  color: @map__tooltips__danger;
}

.in-tooltip__node-heading--ok {
  color: @map__tooltips__font;
}
