@import "~in-themes/active.less";

.in-tooltip__node {
  &__ul {
    list-style: none;

    margin-bottom: -5px;
    padding: 0;
  }

  &__li:last-child {
    padding-bottom: 0;
  }

  &__li {
    padding-bottom: 10px;
    text-overflow: ellipsis;
  }

  &__li-header {
    font-size: 11px;
    font-weight: bold;

    min-width: 10px;
    margin-right: 5px;
  }

  &__li-content {
    font-size: 11px;

    opacity: 1; //results in color: white
    font-weight: bold;

    color: @map__tooltips__font;
  }

  &__li-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  &__footer {
    margin-top: 5px;
  }
}
