@z-index__timeline: 100;
@z-index__overlays-in-content-area: 101;
@z-index__sticky-header: 122;
@z-index__detail-popup-presenter: 122;
@z-index__graph-view: 123;
@z-index__overlays: 124;
@z-index__dialog: 125;
@z-index__sub-menu: 126;
@z-index__message-flyout: 127;
@z-index__tooltips: 128;

@font-color: #222627;
@font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
@font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
@links__decoration: none;
@links__hover__decoration: underline;

@max-width: 1400;
@grid__gutter: 24;
@grid__columns: 12;

@footer__height: 36;
@footer__height-expanded: 97;
@footer__height-open: 171;

@footer-timeline-events20__height: 36;
@footer-timeline-events20__height-expanded: 73;
@footer-timeline-events20__height-open: 147;

@header__height: 88;

@map__colors__cube-color-falloff-values__right__r: 0.78;
@map__colors__cube-color-falloff-values__right__g: 0.84;
@map__colors__cube-color-falloff-values__right__b: 0.87;

@map__colors__cube-color-falloff-values__top__r: 0.957;
@map__colors__cube-color-falloff-values__top__g: 0.97;
@map__colors__cube-color-falloff-values__top__b: 0.98;

@lib__colors__white: #ffffff;
@lib__colors__black: #000000;
@lib__colors__N050: #fafbfc;
@lib__colors__N100: #f7f9fa;
@lib__colors__N200: #f2f6f7;
@lib__colors__N300: #dfe4e8;
@lib__colors__N400: #d4d8db;
@lib__colors__N500: #6a7c8f;
@lib__colors__N600Light: #637282;
@lib__colors__N700Medium: #47525d;
@lib__colors__N800Dark: #3c444d;
@lib__colors__N900Primary: #1b2733;
@lib__colors__pink800: #e62e8a;
@lib__colors__purple800: #bf73e6;
@lib__colors__deep-purple800: #8257d9;
@lib__colors__indigo800: #4d4dbf;
@lib__colors__blue800: #2483b3;
@lib__colors__light-blue800: #17a1e6;
@lib__colors__cyan800: #00cccc;
@lib__colors__teal800: #00b3b3;
@lib__colors__green800: #39bf7c;
@lib__colors__lime800: #adcc14;
@lib__colors__navy800: #475e66;
@lib__colors__navy900: #031f29;
@lib__colors__yellow800: #ffc600;
@lib__colors__orange800: #ff8c19;
@lib__colors__red800: #ff4040;
@lib__colors__chart__self100: #6a7c8f;
@lib__colors__chart__self25: #f7f8f9;

@lib__colors__primary1: #00b3b3;
@lib__colors__primary2: #2483b3;
@lib__colors__success: #39bf7c;
@lib__colors__failure: #ff4040;
@lib__colors__warning: #ffc600;

@lib__shapes__radius_small: 2px;
@lib__shapes__radius_medium: 3px;
@lib__shapes__radius_large: 5px;
@lib__shapes__radius_round: 50%;

@lib__shadows__subtle: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
@lib__shadows__pronounced: 0px 2px 5px 0px rgba(0, 0, 0, 0.24);
@lib__shadows__strong: 0px 3px 10px 0px rgba(0, 0, 0, 0.24);

@lib__typography__h900__font-size: 5.375rem;
@lib__typography__h900__font-weight: 300;

@lib__typography__h800__font-size: 3.5rem;
@lib__typography__h800__font-weight: 400;

@lib__typography__h700__font-size: 2.375rem;
@lib__typography__h700__font-weight: 300;

@lib__typography__h600__font-size: 2.125rem;
@lib__typography__h600__font-weight: 300;

@lib__typography__h500__font-size: 1.625rem;
@lib__typography__h500__font-weight: 200;

@lib__typography__h400__font-size: 1.5rem;
@lib__typography__h400__font-weight: 500;

@lib__typography__h300__font-size: 1.375rem;

@lib__typography__h200__font-size: 1rem;

@lib__typography__h100__font-size: 0.75rem;

@lib__typography__body-large__font-size: 1rem;

@lib__typography__body-bold__font-size: 0.875rem;
@lib__typography__body-bold__font-weight: bold;

@lib__typography__body__font-size: 0.875rem;

@lib__typography__body-small__font-size: 0.75rem;

@lib__typography__button__font-size: 0.875rem;
@lib__typography__button__font-weight: 500;
