@import '~in-themes/active.less';

.in-message-flyout {
  position: fixed;
  top: 5.25rem;
  right: 1.25rem;

  z-index: @z-index__message-flyout;
}

.in-message-flyout-usage {
  position: fixed;
  bottom: 0.25rem;
  right: 1.25rem;

  z-index: @z-index__message-flyout;
}
