.in-kpi-summary {
  margin-top: 2rem;
  font-size: 1rem;
  color: #6b8088;

  display: flex;

  &__heading, &__kv {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    border-left: 1px solid #ccc;
    padding: 0.3rem 2.5rem 0.3rem 1rem;

    &:first-child {
      border-left: 0;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__key {
    display: block;
  }

  &__value {
    font-weight: bold;
  }
}
