.in-dash-sum-kpi {
  flex-shrink: 0;
  min-width: 10rem;
  padding-right: 5rem;
  box-sizing: border-box;

  &__label {
    font-size: .75rem;
    color: #2D4048;
    display: block;
  }

  &__value-wrapper {
    display: flex;
    align-items: center;
  }

  &__value {
    font-size: 2rem;
    color: #1E3036;
  }

  &__percentage {
    position: relative;
    padding: 0.375rem;
    margin: 0 0 0 16px;
  }

  &__percentage-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #D5DFE4;
  }

  &__percentage-label {
    // increase zIndex
    position: relative;
  }

  &__percentage-value {
    // increase zIndex
    position: relative;
    font-weight: bold;
    margin: 0 4px 0 0;
  }
}
