.in-dash-sum-kpi {
  flex-shrink: 0;
  min-width: 12rem;
  padding-right: 5rem;
  box-sizing: border-box;

  &__label {
    font-size: .75rem;
    color: #2D4048;
    display: block;
  }

  &__value-wrapper {
    display: flex;
    align-items: center;
  }

  &__value-wrapper-grow {
    flex-grow: 2;
  }

  &__value {
    font-size: 2rem;
    color: #1E3036;
  }
}
