@import '~in-themes/active.less';

.in-searchbar {
  display: flex;
  align-items: center;
  padding: 0.313rem 0.9rem 0.313rem 0.9rem;
  background: @lib__colors__navy900;

  &__expand-collapse-wrapper,
  &__delete-query-button,
  &__filter-menu-button,
  &__save-button {
    height: 1.875rem;
    border: 1px solid #2d4048;
    padding: 0 0.625rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #0e1619;
    cursor: pointer;
    color: #6b8088;

    &--menu-visible,
    &:hover {
      background: #2d4048;

      .in-searchbar__expand-collapse {
        fill: #fff;
        color: #fff;
      }
    }
  }

  &__delete-query-button,
  &__save-button {
    border: 0;
    border-top: 1px solid #2d4048;
    border-bottom: 1px solid #2d4048;
  }

  &__icon {
    margin-left: 5px;
    fill: @lib__colors__N500;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    border: 1px solid #2d4048;
    border-left: 0;
    border-right: 0;
    background: #0e1619;
  }
}
