@import '~in-themes/active.less';

.in-searchbar {
  display: flex;
  align-items: center;
  padding: 0.313rem 1rem;
  background: @lib__colors__N300;
  height: 3rem;

  &__with-time-selection {
    padding: 0.313rem 18.5rem 0.313rem 1rem;
    height: @header__height * 1px;
  }

  &__expand-collapse-wrapper,
  &__delete-query-button,
  &__filter-menu-button,
  &__save-button {
    height: 1.875rem;
    border: 1px solid @lib__colors__N600Light;
    padding: 0 0.625rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: @lib__colors__N050;
    color: @lib__colors__N500;
    cursor: pointer;

    &--menu-visible,
    &:hover {
      background: @lib__colors__N300;

      .in-searchbar__expand-collapse {
        fill: #fff;
        color: #fff;
      }
    }
  }

  &__delete-query-button,
  &__save-button {
    border: 0;
    border-top: 1px solid @lib__colors__N600Light;
    border-bottom: 1px solid @lib__colors__N600Light;
  }

  &__icon {
    fill: @lib__colors__N500;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    border: 1px solid @lib__colors__N600Light;
    border-left: 0;
    border-right: 0;
    background: @lib__colors__N050;
  }
}
