.in-event-view-event-information {
  display: flex;
  align-items: center;

  margin-left: .313rem;

  &__on {
    font-weight: bold;
  }

  &__entity-icon {
    width: 1.3rem;
    height: auto;
    filter: brightness(0);
    margin: 0.25rem 0.25rem 0 0.25rem;
  }
}
