.in-event-view-icon-label {
  display: flex;
  align-items: center;

  height: 100%;
  border-left: 1px solid #6b8088;
  padding-left: .625rem;

  &__icon {
    margin-right: .625rem;
  }

  &__title {
    font-size: .688rem;
    color: white;
  }
}
