.in-event-view-event-details-content {
  width: 100%;

  &__problem-text {
    font-size: 0.8rem;

    &--preview {
      font-size: 0.8rem;
      margin-left: 1rem;
      word-break: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__suggestion {
    font-size: .688rem;
    color: #818a8f;
    word-break: break-word;
  }
}
