.in-event-view-detail-incident-header {
  &__date {
    font-weight: normal;;
  }

  &__time {
    font-weight: bold;
  }

  &__key {
    color: #30434b;
    float: left;
    margin-right: 5px;
  }

  &__value {
    color: #92A5AE;
    float: left;
    margin-right: 10px;
  }
}
