.in-event-view-incident-event-list {

  &__counter {
    margin: 1rem 0 0 1rem;
    font-size: 1rem;
  }

  &__timeline {
    position: relative;
    padding: 2rem 0;
  }

  &__time-marker {
    position: absolute;

    display: flex;
    justify-content: flex-end;
    width: 6.4rem;

    &__started {
      top: .625rem;
    }

    &__ended {
      bottom: .938rem;
    }
  }
}
