.in-event-view-incident-event-list {

  &__counter {
    margin: 1rem 0 0 1rem;
    font-size: 1rem;
  }

  &__timeline {
    position: relative;
    padding: 2rem 0;
  }

  &__time-marker {
    position: absolute;
    right: ~'calc(100% - 6.8rem)';

    &__started {
      top: .625rem;
    }

    &__ended {
      bottom: .938rem;
    }
  }
}
