.in-event-view-event-detail-time-axis {
  position: relative;

  &__tick {
    position: absolute;
    top: 0;
    bottom: 0.8rem;
    height: 1.25rem;

    color: #6B8088;
    border-left: 1px dashed #92A5AE;
  }
}
