@import '~in-themes/active.less';

.in-view-switcher-view {
  text-transform: capitalize;
  font-size: 0.6875rem;

  color: #9aa7ad;

  &:hover,
  &__active {
    color: white;

    .in-view-switcher-view__link {
      color: white;
    }

    .in-view-switcher-view__icon {
      fill: white;
    }
  }

  &:hover {
    .in-view-switcher-view__menu {
      display: block;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    text-decoration: none;
    padding: 0.25rem 0.5rem;
    color: #9aa7ad;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    margin: 0.125rem 0.2rem 0.188rem 0;
    padding-left: 0.2rem;
    fill: #9aa7ad;
  }

  &__label {
    font-size: 0.75rem;
  }

  &__menu {
    position: absolute;
    z-index: @z-index__sub-menu;
    /*
    * this pixel is used to make appearing of submenu in firefox work. seems like there's a 5 px gap that causes
    * the hover state to disappear
    */
    border-top: 0.25rem solid transparent;

    display: none;
  }
}
