@import '~in-themes/active.less';

.in-view-switcher {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__incident-menu {
    position: relative;
  }

  &__counter {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: @lib__colors__N900Primary;
  }
}
