@import "~in-themes/active.less";

.in-sidebar-map {
  @borderRadius: 5px;
  @sidebarWidth: @sidebar__width * 1px;

  position: absolute;
  top: 5rem;
  left: 2.6rem;
  max-width: @sidebarWidth;
  min-width: @sidebarWidth;

  z-index: @z-index__sidebar;

  &__heading-navigation {
    border-radius: @borderRadius @borderRadius 0 0;
  }

  &__detail-list {
    border-radius: 0 0 @borderRadius @borderRadius;
  }

  &__focus-button {
    position: absolute;
    right: 3px;
    top: 6px;
  }
}
