/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
@import '~in-themes/active.less';

.in-map-overlaycontrols {
  position: absolute;
  right: 1.25rem;

  display: flex;
  align-items: flex-end;

  transition: bottom 0.25s ease-in-out;
}
