.in-lazy-table {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    display: flex;
    min-height: 1.625rem;
  }

  &__content {
    overflow-y: overlay;
    overflow-x: hidden;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }

  &__button {
    margin: 0.5rem 0;
    min-height: 2rem;
  }
}
