/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-save-status {
  &__success {
    fill: #3c763d;
  }

  &__failure {
    fill: #a94442;
  }

  &__space-blocker {
    content: ' ';
  }
}
