@import '~in-themes/active.less';

.in-map {
  // needed for the stickies and the tooltips
  position: relative;

  // needed for blend modes
  background: black;

  &__canvas {
    display: block;
    transition: height 0.2s ease-in-out;
  }
}
