{
  "environment": "{{TARGET_ENVIRONMENT}}",
  "analyticsTrackingId": "{{GOOGLE_ANALYTICS_TRACKING_ID}}"
  "keys": {
    "xing": "{{XING_API_KEY}}",
    "linkedin": "{{LINKEDIN_API_KEY}}",
    "google": "{{GOOGLE_CLIENT_ID}}"
  }
}
