{
  "analyticsTrackingId": "{{GOOGLE_ANALYTICS_TRACKING_ID}}",
  "eumTrackingId": "{{INSTANA_EUM_TRACKING_ID}}",
  "groundskeeperDomain": "{{GROUNDSKEEPER_DOMAIN}}",
  "tenantUnitDomainSuffix": "{% if OPERATION_MODE == 'on-prem' %}{{INSTANA_HOSTNAME}}{% else %}instana.io{% endif %}",
  "environment": "{{ENVIRONMENT}}",
  "tenant": "{{TENANT}}",
  "tenantUnit": "{{UNIT}}",
  "operationMode": "{{OPERATION_MODE}}"
}
