{
  "analyticsTrackingId": "{{GOOGLE_ANALYTICS_TRACKING_ID}}",
  "groundskeeperDomain": "{{GROUNDSKEEPER_DOMAIN}}",
  "environment": "{{ENVIRONMENT}}",
  "tenant": "{{TENANT}}",
  "tenantUnit": "{{UNIT}}"
}
