worker_processes             1;

error_log                    syslog:server=localhost,facility=local4,tag=nginx_error,severity=info;

pid                          /run/nginx.pid;

{% if OPERATION_MODE == "on-prem" and USER_AND_GROUP_NAME != "" %}
user                         {{ USER_AND_GROUP_NAME }};
{% endif %}

events {
  worker_connections         1024;
}

http {
  include                    mime.types;
  default_type               application/octet-stream;
  server_tokens              off;
  sendfile                   on;
  keepalive_timeout          65;
  client_max_body_size       1m;

  log_format                 standard_format
                             '$remote_addr - $remote_user [$time_local] '
                             '"$request" $status $bytes_sent '
                             '"$http_referer" "$http_user_agent" "$gzip_ratio"';

  limit_req_zone             $binary_remote_addr zone=onePerSecond:20m rate=1r/s;
  limit_req_zone             $binary_remote_addr zone=publicTenantUnitApi:50m rate=84r/m;

  upstream localNodeInstance {
    server                   127.0.0.1:{% if OPERATION_MODE == 'fleet' %}{{ NOMAD_PORT_node}}{% else %}3131{% endif %};
  }

  upstream api {
    server                   {{UI_BACKEND_PORT_8080_TCP_ADDR}}:{{UI_BACKEND_PORT_8080_TCP_PORT}};
  }

  upstream wsApi {
    server                   {{UI_BACKEND_PORT_8082_TCP_ADDR}}:{{UI_BACKEND_PORT_8082_TCP_PORT}};
  }

  upstream groundskeeper {
    server                   {{GROUNDSKEEPER_PORT_8280_TCP_ADDR}}:{{GROUNDSKEEPER_PORT_8280_TCP_PORT}};
  }

  upstream uiTracker {
    server                   {{UI_TRACKER_PORT_8484_TCP_ADDR}}:{{UI_TRACKER_PORT_8484_TCP_PORT}};
  }

  server {
{% if OPERATION_MODE != "fleet" %}
    listen                   80;
    return                   301 https://$host$request_uri;

{% if OPERATION_MODE != "on-prem" and OPERATION_MODE != "fleet" %}
    add_header               Strict-Transport-Security "max-age=10886400";
{% endif %}
  }

  server {
    listen                   443 ssl http2;
{% else %}
    listen                   {{ NOMAD_PORT_app }};
{% endif %}

    server_name              {{PUBLIC_DOMAIN}};

    access_log               /var/log/nginx/access.log standard_format buffer=32k;
    log_not_found            on;
    log_subrequest           on;

    gzip                     on;
    gzip_static              on;
    gzip_min_length          1100;
    gzip_buffers             4 32k;
    gzip_types               text/plain text/css application/javascript application/x-javascript text/xml application/xml+rss image/png;
    gzip_vary                on;
    gzip_disable             "MSIE [1-6]\.";

    ssi                      on;
    ssi_silent_errors        off;

{% if OPERATION_MODE != "fleet" %}
    ssl                      on;
    ssl_certificate          /etc/ssl/certs/star_instana_io.crt;
    ssl_certificate_key      /etc/ssl/private/star_instana_io.key;

    ssl_session_cache        builtin:1000  shared:SSL:10m;
    ssl_protocols            TLSv1 TLSv1.1 TLSv1.2;
    # these ciphers are recommended by https://weakdh.org/sysadmin.html
    ssl_ciphers              'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
    ssl_prefer_server_ciphers on;

  {% if OPERATION_MODE != "on-prem" %}

    ssl_dhparam              /etc/ssl/dhgroup.pem;

  {% endif %}

{% endif %}

    {% if ENVIRONMENT != 'internal' %}
    location ~* \.js\.map$ {
      auth_basic             "Restricted";
      auth_basic_user_file   .htpasswd;

      proxy_pass             http://localNodeInstance;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    {% endif %}

    location /nginx_status {
      stub_status on;
      access_log   off;

      # only allow local access
      allow 127.0.0.1;
      deny all;
   }

    location /bundle {
      proxy_pass             http://localNodeInstance;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location ~* ^(/|/index\.html)$ {
      proxy_pass             http://localNodeInstance;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;

      add_header             Cache-Control "private, no-cache, no-store, must-revalidate, max-age=0";
      add_header             X-Frame-Options deny;
      add_header             X-Content-Type-Options nosniff;
      add_header             X-XSS-Protection "1; mode=block";

{% if OPERATION_MODE != "on-prem" and OPERATION_MODE != "fleet" %}
      add_header             Strict-Transport-Security "max-age=10886400";
{% endif %}

      # tell browsers to preconnect google for downloading webfonts
      add_header             Link "<https://fonts.googleapis.com>; rel=preconnect; crossorigin";
      add_header             Link "<https://fonts.gstatic.com>; rel=preconnect; crossorigin";
    }

    location / {
      proxy_pass             http://localNodeInstance;
      proxy_cache            off;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /api/data/ {
      proxy_pass             http://wsApi/;
      proxy_http_version     1.1;
      proxy_set_header       Upgrade $http_upgrade;
      proxy_set_header       Connection "upgrade";
    }

    # This endpoint is only supported to support local development mode. It is harmless in
    # production but greatly eases local ui development.
    location /api/checkUserAccessPermitted {
      proxy_pass             http://api/checkUserAccessPermitted;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /api/ {
      limit_req              zone=publicTenantUnitApi burst=5;
      limit_req_status       429;
      proxy_pass             http://api/api/;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /auth/signIn {
      limit_req              zone=onePerSecond burst=10;
      limit_req_status       429;

      proxy_pass             http://groundskeeper/signIn;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /auth/signOut {
      proxy_pass             http://groundskeeper/signOut{% if OPERATION_MODE == "on-prem" %}?returnUrl=https://{{ INSTANA_HOSTNAME }}{% endif %};
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /auth/users/current {
      proxy_pass             http://groundskeeper/users/current;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /auth/users/tenants/ {
      proxy_pass             http://groundskeeper/users/tenants;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /assets/ {
      proxy_pass             http://groundskeeper/assets/;
      proxy_cache            off;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /lostPassword/ {
      proxy_pass             http://groundskeeper/lostPassword/;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /uiTracker/ {
      proxy_pass             http://uiTracker/;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

{% if OPERATION_MODE != "on-prem" %}
    location /notifications/ {
      proxy_pass             https://instana.github.io/ui-notifications/content/;
      proxy_cache            off;
      proxy_hide_header      Cache-Control;
      add_header             Cache-Control "private, no-cache, no-store, must-revalidate, max-age=0";
    }
{% endif %}

    location /secured/ {
      limit_req              zone=onePerSecond burst=10;

      proxy_pass             http://groundskeeper/secured/;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /ump/ {
      proxy_pass             http://groundskeeper/ump/;
      proxy_set_header       X-Real-IP $remote_addr;
      proxy_set_header       Host $host;
      proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
    }
  }
}
