{
  "baseUrl": "https://{{PUBLIC_DOMAIN}}",
  "uiBackendBaseUrl": "http://{{UI_BACKEND_PORT_8080_TCP_ADDR}}:{{UI_BACKEND_PORT_8080_TCP_PORT}}",
  "port": {% if OPERATION_MODE == 'fleet' %} {{ NOMAD_PORT_node}} {% else %} 3131 {% endif %},
  "cookie": {
    "name": {% if OPERATION_MODE == 'fleet' or OPERATION_MODE == 'on-prem' %}"in-token"{% else %}"in-token-{{ENVIRONMENT}}"{% endif %}
  }
}
