.in-alters-config {
  &__alerts {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__alert {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: .125rem;
    padding: .313rem .625rem;
    background: #eef2f4;
    margin-bottom: .375rem;
  }
}
