.in-integrations-config-form {
  &__input-delete-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    margin-right: 1rem;
  }

  &__delete-button {
    align-items: center;
    width: 6.25rem;
    height: 1.75rem;
    padding: 0 0.938rem;
  }

  &__add-button {
    margin-top: 0.5rem;
  }
}
