@import "~in-themes/active.less";

.in-sticky-note-process-cluster {
  position: absolute;
  top: 0px;
  color: #333333;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    padding: 5px 2px 5px 6px;
    max-height: 20px;
    max-width: 50px;

    margin-left: -50%;
  }

  &__icon {
    font-size: 2rem;
    color: #333333;
    max-width: 33px;
  }
}
