@import "~in-themes/active.less";

.in-sticky-note-process-cluster {
  position: absolute;
  top: 0px;

  &__content {
    &--expanded {
      border-radius: 3px;
      background: #2d4048;
      box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &__header {
    display: flex;
    align-items: center;

    margin: 2px 0 0 10px;
    padding-top: 3px;
    font-size: 0.8rem;
    white-space: nowrap;
    color: #92a5ae;
    cursor: pointer;

    &--highlighted, &--expanded {
      color: white;
    }
  }

  &__icon {
    font-size: 1.5rem;
b    margin-left: 5px;
  }
}
