/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';

.in-graph-view {
  width: 100%;
  overflow-x: hidden;
  z-index: @z-index__graph-view;

  &__universe {
    width: 100%;
    height: 100%;
  }

  &__full-height-wrapper {
    width: 100%;
    height: 100%;
  }
}
