.in-alerting-config-form-step-2 {
  &__labeled-toggle-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__filter-label {
    margin-bottom: 0;
  }

  &__input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  &__button {
    background: #eef2f4;
    &--selected {
      background: #91ecee;
    }
  }

  &__button-wrapper {
    display: flex;
    margin-bottom: 0.625rem;
  }

  &__advanced-mode-option {
    &:nth-child(1) {
      border-radius: 0.25rem 0 0 0.25rem;
      border-right: 0;
    }
    &:nth-child(2) {
      border-left: 0;
      border-radius: 0 0.25rem 0.25rem 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    padding: 0.625rem 0.875rem;
    border-radius: 0.25rem;
    border: 1px solid #d5dfe4;
    cursor: pointer;

    &__active {
      border: 1px solid transparent;
      background: #91ecee;
    }
  }
}
