.in-alerting-config-form-step-3 {
  &__labeled-toggle-group,
  &__labeled-toggle {
    display: flex;
    align-items: center;
  }

  &__label {
    text-transform: capitalize;
  }

  &__toggle {
    transform: scale(0.75);
    margin-right: 1rem;
  }
}
