.in-alerting-config-form-step-2 {
  &__labeled-toggle-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__filter-label {
    margin-bottom: 0;
  }

  &__input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  &__button {
    background: #eef2f4;
    &--selected {
      background: #91ecee;
    }
  }
}
