.in-alerting-config-form-step-3 {
  &__labeled-toggle-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__button {
    background: #eef2f4;
    &--selected {
      background: #91ecee;
    }
  }
}
