.in-event-view-event-table-row {
  display: flex;

  height: 1.625rem;
  line-height: 1.625rem;

  font-size: .688rem;
  color: #2D4048;
  cursor: pointer;

  &:hover, &--selected.in-event-view-event-table-row {
    background: #2d4048;
    color: white;

    .in-event-view-event-table-row__entity-icon {
      filter: brightness(1);
    }
  }

  &__cell {
    padding-left: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #D5DFE4;
    border-right: 1px solid #D5DFE4;

    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      line-height: 24px;
    }

    &:nth-child(1) {
      width: 5%;
      padding-left: 0;
    }

    &:nth-child(2), &:nth-child(3) {
      width: 16%;
    }

    &:nth-child(4) {
      width: 29%;
    }

    &:nth-child(5) {
      width: 34%;
    }

    &:last-child {
      border-right: 0;
    }
  }

  &__icon-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.625rem;
  }

  &__entity-wrapper {
    display: flex;
    align-items: center;
  }

  &__entity-icon {
    margin-right: 0.313rem;
  }
}
