.in-event-view-event-detail-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100%;
  width: 100%;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;

    background: #92a5ae;
    transition: background 0.25s ease-in-out;

    &:hover {
      background: white;
    }
  }

  &__toggle-right {
    cursor: pointer;
    margin: .063rem 0.625rem 0 0;

    path {
      fill: #D5DFE4;
    }

    &:hover path {
      fill: #fff;
    }
  }
}
