.in-event-view-header {
  display: flex;
  align-items: stretch;
  background: white;
  margin-bottom: .25rem;

  &__icon-wrapper {
    display: flex;
    align-items: center;

    padding: 0 0.5rem;
    margin-right: 0.5rem;

    border-right: 1px solid #D5DFE4;
  }

  &__right {
    padding: .5rem .5rem .5rem 0;
  }

  &__heading {
    margin: 0 0 .25rem;
    font-size: 0.875rem;
    font-weight: bold;
  }
}
