@import "~in-themes/active.less";

.in-logical-map-controls {
  position: absolute;
  right: 20px;
  bottom: @footer__height * 1px;

  display: flex;
  align-items: flex-end;

  transition: right 0.25s ease-in-out,
              bottom 0.25s ease-in-out;

  z-index: @z-index__view-controls;

  &--right-sidebar-open {
    right: 420px;
  }
}
