@import "~in-themes/active.less";

.in-timeline-change-time-button {
  padding: 3px 8px;
  margin: 0 5px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid @timeline__timepicker__panel-border;
  border-radius: 5px;
  white-space: nowrap;

  &:hover {
    border: 2px solid white;
    background: white;
    color: black;
  }
}
