@import "~in-themes/active.less";

.in-timeline-change-time-button {
  padding: 3px 8px;
  margin: 0 5px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid @timeline__timepicker__panel-border;
  border-radius: 5px;
  white-space: nowrap;

  &:hover, &__selected {
    border: 2px solid white;
    background: white;
    color: black;
  }

  &__timepicker--left, &__timepicker--right {
    position: absolute;
    bottom: 60px;
  }

  &__timepicker--left {
    left: 20px;
  }

  &__timepicker--right {
    right: 20px;
  }
}
