@import "~in-themes/active.less";

.in-timeline-eventline {
  position: relative;
  flex-shrink: 1;

  width: 100%;
  height: 2px;

  background: @timeline__line;

  &__focused-moment {
    @size: 20px;

    position: absolute;
    top: @size / -2;

    width: 1px;
    height: @size;

    background: red;
  }
}
