@import "~in-themes/active.less";

.in-timepicker {
  @background: #223238;

  margin: 5px;
  padding: 5px 5px 8px 5px;

  background: @background;
  border-radius: 4px;

  z-index: @z-index__timepicker;

  &__button {
    cursor: pointer;
    color: #91999c;
    font-size: 12px;
    margin-bottom: 10px;

    &:hover {
      color: white;
    }
  }

  &__entry {
    display: flex;

    padding: 5px 20px 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: @timeline__timepicker__font-color;

    &:hover {
      background: @timeline__timepicker__background-highlight;
      color: @timeline__timepicker__font-color-highlight;
    }
  }

  &__key {
    font-size: 12px;
    font-weight: bold;

    margin-right: 20px;
    text-transform: capitalize;
    width: 80px;
  }

  &__value {
    font-size: 12px;
  }
}
