@import "~in-themes/active.less";

.in-timeline-timerange {
  position: absolute;
  flex-shrink: 1;

  width: 100%;
  height: 15px;
  bottom: @footer__height * 1px;

  &__tile {
    position: absolute;
    width: 100px;
    margin-left: -50px;
    height: 20px;
    text-align: center;
    font-size: 9px;
  }
}
