@import "~in-themes/active.less";

.in-timeline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: @footer__height * 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  background: #2e4149;

  &__timepicker {
    position: absolute;
    left: 0;
    bottom: 100%;
    z-index: @z-index__timepicker;
  }

  &__servertime {
    height: @footer__height * 1px;

    color: #6d828a;
    font-size: 9px;

    margin: 0 5px 0 5px;
    padding-top: 7px;
  }
}
