@import "~in-themes/active.less";

.in-timeline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: @footer__height * 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  background: @timeline__background;

  &__timepicker {
    position: absolute;
    bottom: 60px;

    &__left {
      left: 20px;
    }

    &__right {
      right: 20px;
    }
  }
}
