@import "~in-themes/active.less";

.in-popupable-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;

  background: #3b4d55;
  color: white;
  cursor: pointer;
  border-radius: 50%;

  &__icon {
    font-size: 1.5rem;
    margin-top: 1px;
  }
}
