@import "~in-themes/mixins.less";

.in-message-flyout-message {
  background: hsla(198, 23%, 23%, 0.9);
  font-size: 0.8rem;
  max-width: 19rem;
  padding: 0rem 1.075rem;
  margin: 0 0 1rem;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &--info {
    border-left: 3px solid #9fffff;
  }

  &--warning {
    border-left: 3px solid rgb(255, 222, 0);
  }

  &--danger {
    border-left: 3px solid rgb(255, 66, 41);
  }

  &--clickable {
    cursor: pointer;
  }

  &__icon {
    fill: #9FFFFF;
    margin-right: 0.75rem;
    min-width: 18px;
  }

  &__msg {
    color: #92A5AE;
    .breakWord();

    em {
      color: #fff;
      font-style: normal;
    }
  }

  &__title {
    margin: .5rem 0;
  }

  &__content {
    margin: .5rem 0;
  }
}
