@import "~in-themes/active.less";

.in-button {
  background: #9fffff;
  color: black;
  font-family: @common__font-family;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: .188rem;
  cursor: pointer;

  transition: background 0.25s ease-in-out;

  &:hover {
    color: black;
    background: @common__highlight-color;
  }

  &--disabled {
    cursor: default;
    opacity: .6;
  }

  &--secondary {
    background: #92A5AE;
    color: #fff;

    &:hover {
      background: #6B8088;
      color: #fff;
    }
  }

  &--lg {
    padding: .625rem .938rem;
    font-size: .688rem;
  }

  &--sm {
    padding: .375rem .625rem;
    font-size: .625rem;
  }
}
