@import "~in-themes/active.less";

.in-button {
  background: #9fffff;
  color: black;
  font-family: @common__font-family;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: .188rem;
  cursor: pointer;

  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;

  &:hover {
    color: black;
    background: #94eced;
  }

  &--secondary, &--secondary.in-button--disabled:hover {
    background: #92A5AE;
    color: #fff;
  }

  &--secondary:hover {
    background: #6B8088;
    color: #fff;
  }

  &--secondaryv2, &--secondaryv2.in-button--disabled:hover {
    background: transparent;
    color: #06B7BA;
    border: 1px solid;
  }

  &--secondaryv2:hover {
    background: transparent;
    color: #1b7071;
  }

  &--danger, &--danger.in-button--disabled:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }

  &--danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }

  &--primary, &--primary.in-button--disabled:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  &--primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }

  &--primaryv2, &--primaryv2.in-button--disabled:hover {
    color: #fff;
    background-color: #22D8D8;
  }

  &--primaryv2:hover {
    color: #fff;
    background-color: #1b7071;
  }

  &--info, &--info.in-button--disabled:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
  }

  &--info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
  }

  &--success, &--success.in-button--disabled:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }

  &--success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }

  &--lg {
    padding: .625rem .938rem;
    font-size: .688rem;
  }

  &--sm {
    padding: .375rem .625rem;
    font-size: .625rem;
  }

  &--xs {
    padding: .188rem .313rem;
    font-size: .563rem;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: .6;
    outline: 0;
  }
}
