@import "~in-themes/active.less";

.in-button {
  background: #9fffff;
  color: black;
  font-family: @common__font-family;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: .188rem;
  cursor: pointer;

  transition: background 0.25s ease-in-out;

  &:hover {
    color: black;
    background: @common__highlight-color;
  }

  &--secondary {
    background: #92A5AE;
    color: #fff;

    &:hover {
      background: #6B8088;
      color: #fff;
    }
  }


  &--danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;

    &:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
    }
  }

  &--primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    &:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
    }
  }

  &--info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;

    &:hover {
      color: #fff;
      background-color: #31b0d5;
      border-color: #269abc;
    }
  }

  &--success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;

    &:hover {
      color: #fff;
      background-color: #449d44;
      border-color: #398439;
    }
  }

  &--lg {
    padding: .625rem .938rem;
    font-size: .688rem;
  }

  &--sm {
    padding: .375rem .625rem;
    font-size: .625rem;
  }

  &--disabled {
    cursor: default;
    opacity: .6;
    outline: 0;
  }
}
