@import "~in-themes/active.less";

.in-notification-dialog {
  &__type {
    display: flex;
    align-items: center;
    margin-top: 0;

    color: #94eced;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__header {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0;
    color: black;
  }

  &__content {
    position: relative;
    background: @help-dialog__background;
    border-radius: 13px;
    padding: 50px;
    color: @help-dialog__text;
  }

  &__info-icon {
    width: 1.5rem;
    margin-right: 0.6rem;
  }

  &__button-close {
    @size: 30px;
    position: absolute;
    height: @size;
    top: -@size / 2;
    right: -@size / 2;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    &__icon {
      position: absolute;
      top: -4px;
      left: 6px;
      font-size: 2.3rem;
      color: @settings__close-button-color;
    }
  }
}
