.in-notification-dialog {

  &__type {
    display: flex;
    align-items: center;
    margin-top: 0;

    color: #94eced;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__header {
    font-size: 1.8rem;
    font-weight: 300;
  }

  &__info-icon {
    width: 1.5rem;
    margin-right: 0.6rem;
  }

}
