.in-control {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: .625rem 0 0 .625rem;
  background: #2d4048;

  border-radius: 0.1875rem;
  cursor: pointer;

  width: 2.125rem;
  height: 2.125rem;

  transition: background 0.25s ease-in-out;

  &:hover {
    background: #9fffff;
  }

  &--active {
    background: white;
  }
}
