@import "~in-themes/active.less";

.in-controls-menu {
  position: absolute;
  right: 2.75rem;

  max-height: 15rem;
  max-width: 20rem;

  background: #2d4048;
  border-radius: 0.1875rem;
  padding: 0.5rem;
  overflow: hidden;

  z-index: @z-index__view-controls;
  transition: bottom 0.25s ease-in-out;
}
