@import "~in-themes/active.less";

.in-controls-menu {
  position: absolute;
  right: 2.75rem;

  width: 10rem;
  height: 5rem;
  background: #2d4048;

  z-index: @z-index__view-controls;
  transition: bottom 0.25s ease-in-out;
}
