/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-tooltip-layer-listing {
  list-style: none;
  padding-left: 0;
  margin: 0.5rem 0 0.1rem 0;
  font-weight: bold;
  font-size: 0.68rem;

  &__count {
    margin-right: 10px;
  }
}
