.in-sign-with-linked-in {
  width: 215px;
  height: 41px;
  border: 0;
  text-indent: 100%;
  white-space: nowrap;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  background: url('./img/Sign-in-Large---Default.png');

  &:hover {
    background: url('./img/Sign-in-Large---Hover.png');
  }

  &:active {
    background: url('./img/Sign-in-Large---Active.png');
  }
}
