.in-health-icon {
  @size: 25px;

  position: relative;

  border-radius: 50%;
  width: @size;
  height: @size;
  cursor: default;

  &__counter {
    position: absolute;
    left: 9px;
    top: 3px;
    color: #203036;
    font-size: 13px;
    font-weight: bold;
  }
}
