.in-app-header {
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #172429;
  position: relative;

  &__right {
    position: absolute;
    top: 5px;
    right: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__lettering {
    cursor: pointer;
    position: absolute;
    top: .813rem;
    left: 1rem;
  }

  &__early {
    position: absolute;
    top: 0.55rem;
    left: 7.1rem;
    transform: scale(0.8);
  }
}
