@import "~instana-ui-themes/less/constants.less";

.in-sticky-note__icon {
}

.in-sticky-note__icon-background {
  width: 36px;
  height: 36px;
  margin-left: -18px;
  border-radius: 50%;

  background-color: #FFFFFF;
  transition: all 0.5s ease;

  .in-map--zoom-50 &, .in-map--zoom-100 & {
    width: 64px;
    height: 64px;

    margin-left: -32px;
  }
}

.in-sticky-note__icon-svg {
  margin: 0;
  padding: 0;
}
