@import "~in-themes/active.less";

.in-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, .8);
  z-index: @z-index__dialog;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &__content-wrapper {
    cursor: auto;
    border-radius: .125rem;
    overflow: hidden;
    min-width: 30%;
    max-width: 90%;
  }

  &__header {
    height: 2.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem;
    box-sizing: border-box;
    background: #2D4048;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
    font-size: .75rem;
  }

  &__close {
    fill: #fff;
    cursor: pointer;

    &:hover {
      fill: darken(#fff, 20%);
    }
  }

  &__content {
    overflow-y: auto;
    max-height: 30rem;
    font-size: .75rem;
    background: #fff;
    color: #2D4048;
    padding: .625rem;
  }
}
