.in-switchable-view-header {
  background: #71868D;
  color: #fff;
  line-height: 2.25rem;
  height: 2.25rem;
  padding: 0 0.625rem;
  overflow: hidden;

  &__container {
    margin-left: 0.9rem;
    display: flex;
  }

  &__chevron {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  :last-child{
    color: #fff;
  }
}
