@import "~in-themes/active.less";

.in-dashboard {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  bottom: @footer__height * 1px;

  background: white;
  z-index: @z-index__dashboard;

  overflow-x: hidden;
  overflow-y: hidden;

  &__graphs {
    width: 100%;
    height: 100%;
    box-shadow: inset 50px 0 50px -50px #ccc;
  }

  &__jail {
    overflow-y: scroll;
    max-height: ~"calc(100% - 140px)";
  }

  &__sidebar {
    height: auto;
  }

  &__siderbar-content {
    &__content {
      max-height: 100%;
      overflow-y: hidden;
    }

    &__open-dashboard {
      display: none;
    }

    // TODO: define how tabs should look like on the dashboard
    &__tabs {
      left: 20.5rem;
      z-index: 1000;
      display: none;
    }
  }
}
