@import "~in-themes/active.less";

.in-dashboard {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  bottom: @footer__height * 1px;
  left: 0;
  right: 0;

  background: white;
  z-index: @z-index__dashboard;

  overflow-x: hidden;
  overflow-y: auto;

  &__content {
    width: 100%;
  }

  &__sidebar {
    box-shadow: -10px -50px 50px #aaa;
    height: auto;
  }

  &__siderbar-content {
    &__content {
      max-height: 100%;
      overflow-y: hidden;
    }

    &__open-dashboard {
      display: none;
    }

    // TODO: define how tabs should look like on the dashboard
    &__tabs {
      left: 20.5rem;
      z-index: 1000;
      display: none;
    }
  }
}
