.in-dashboard {
  position: absolute;
  top: 0;
  bottom: 56px;
  left: 0;
  right: 0;

  background: #344750;

  overflow-x: hidden;
  overflow-y: auto;

  &__content-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__content {
    padding: 40px 40px 40px 30px;
    width: 100%;
  }

  &__sidebar {
    width: 500px;
    padding: 20px;
  }

}
