.in-dashboard-header {
  position: relative;

  display: flex;
  align-items: center;

  padding: 10px 15px;

  &__icon {
    height: 28px;
    min-width: 50px;

    margin: 0 10px 0 0;
  }

  &__label {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }

  &__plugin-type {
    margin: 0;
    line-height: 1.4;
    font-size: 14px;
    color: #999;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
