@import "~in-themes/active.less";

.in-dashboard-header {
  position: relative;

  display: flex;
  align-items: center;

  padding: 25px 20px 25px 0;
  min-height: 25px;

  background: @dashboard__header__background;
  z-index: @z-index__dashboard-header;

  &__icon {
    color: @dashboard__header__back-to-map-button-icon;
    font-size: 1.5rem;
    margin-right: 10px;
  }
}
