@import "~in-themes/active.less";

.in-dashboard-header {
  position: relative;

  display: flex;
  align-items: center;

  padding: 25px 20px;

  background: @dashboard__header__background;
  z-index: @z-index__dashboard-header;

  &__back-to-map {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: @dashboard__header__back-to-map-button-label;

    &:hover {
      color: @dashboard__header__back-to-map-button-label-highlight;
      .in-dashboard-header__back-to-map__icon {
        color: @dashboard__header__back-to-map-button-icon-highlight;
      }
    }

    &__icon {
      color: @dashboard__header__back-to-map-button-icon;
      font-size: 2rem;
      margin-right: 10px;
    }
  }
}
