@import "~in-themes/active.less";

.in-dashboard-navigation {
  display: flex;

  padding-left: 30px;
  height: 56px;

  color: #bfc8cb;
  border-bottom: 1px solid silver;

  &__item {
    cursor: pointer;

    padding: 15px 10px;

    &__true {
      border-bottom: 3px solid #2d4048;
      color: #435b65;
    }

    &:hover {
      border-bottom: 3px solid #2d4048;
      color: #435b65;
    }
  }
}
