@import "~in-themes/active.less";

.in-dashboard-navigation {
  display: flex;

  padding-left: 30px;
  height: 56px;

  color: @dashboard__tabs__text;
  border-bottom: 1px solid @dashboard__tabs__line;

  &__item {
    padding: 20px 10px;
    font-size: 12px;
    cursor: pointer;

    &__true {
      border-bottom: 3px solid @dashboard__tabs__line;
      color: @dashboard__tabs__text-highlight;
    }

    &:hover {
      border-bottom: 3px solid @dashboard__tabs__line;
      color: @dashboard__tabs__text-highlight;
    }
  }
}
