@import "~in-themes/active.less";

.in-dashboard-navigation {
  display: flex;

  padding-left: 30px;
  height: 56px;

  color: red;
  border-bottom: 1px solid green;

  &__item {
    cursor: pointer;

    padding: 15px 0;
    margin-right: 20px;

    &:hover {
      border-bottom: 3px solid yellow;

      color: blue;
    }
  }
}
