@import "~in-themes/active.less";

.in-dashboard {
  position: absolute;
  top: @header__height * 1px;
  left: 0;
  right: 0;
  bottom: @footer__height * 1px;

  font-size: 0.6875rem;
  color: #172429;
  background: #fff;
  z-index: @z-index__dashboard;

  overflow-x: hidden;
  overflow-y: auto;

  transition: bottom 0.25s ease-in-out;
}
