.in-popupable-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;

  background: #3b4d55;
  color: white;
  cursor: pointer;
  border-radius: 50%;

  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;

  &:hover {
    background: white;
    color: black;
  }
}
