.in-detail-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: #6b8088;

  &__filter-input {
    padding: 0.5rem 0.6rem;
    margin: 0 0.5rem;
    width: 12rem;

    background: #435b65;
    color: #fff;
    border-radius: 0.38rem;
    box-sizing: border-box;
    border: 0;
    font-size: 0.8rem;

    // position above content when scrolling
    z-index: 1;
  }

  &__right-side {
    display: flex;
    align-items: center;
  }
}
