/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-event-view-detail-chart-events {
  position: relative; // only required for z-index stacking
  margin-top: 1rem;
  z-index: 2;
}
