/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-event-view-detail-chart-time-axis {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;

  &__tick {
    position: absolute;
    top: 0;
    bottom: 0;

    border-left: 1px dashed #92a5ae;
    color: #6b8088;

    font-size: 0.625rem;
    white-space: nowrap;
  }
}
