@import "~in-themes/active.less";

.in-crumb {
  display: inline-flex;
  list-style: none;
  margin-left: 20px;

  font-size: 14px;
  font-weight: bold;
  color: @dashboard__header__breadcrumb__text;
  cursor: pointer;
  transition: color .25s ease-in-out;

  &:hover, &__selected {
    color: @dashboard__header__breadcrumb__text-hover;

    .in-crumb__icon {
      opacity: 1;
    }
  }

  &__icon {
    margin: 0 10px;
    @icon-height: 1.25rem;
    height: @icon-height;
    min-width: @icon-height;
    transition: opacity .25s ease-in-out;
    opacity: 0.4;
  }

}
