/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  & > .react-toggle {
    position: relative;
    top: 1px;
  }

  &--without-bottom-margin {
    margin-bottom: 0;
  }
}
