.in-event-view-event-information {
  display: inline-flex;
  margin-right: 1rem;

  &__flex-wrapper {
    display: flex;
    align-items: center;
    height: 1rem;
  }

  &__label {
    font-weight: bold;
    font-size: 0.625rem;
  }

  &__entity-icon {
    margin: 0 0.25rem;
  }

  &__link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 29vw;
    line-height: 0.875rem;
  }
}
