.in-rules-table-header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 1.875rem;
  font-size: .688rem;
  color: #6B8088;

  &__column_heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
    padding-left: 0.625rem;

    &:nth-child(1) {
      width: 38%;
    }

    &:nth-child(2) {
      width: 54%;
    }

    &:nth-child(3) {
      width: 8%;
    }
  }
}
