@import "~in-themes/less/constants.less";

.in-snapshot-detail-sidebar {
  position: fixed;
  top: 1rem;
  left: 0.8rem;

  width: 21rem;
  max-height: ~"calc(100% - 7rem)";

  z-index: @z-index__sidebar;

  &__content {
    position: fixed;
    top: 1rem;
    left: 0.8rem;

    width: 19rem;
    max-height: ~"calc(100% - 7rem)";
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    background: @sidebar__background;
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
  }

  &__label {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }

  &__plugin-type {
    margin: 0;
    line-height: 2;
    font-size: 14px;
    color: #999;
  }

  &__health {
    font-size: 24px;
    position: relative;
    top: 5px;
    margin: 0 0 0 10px;
  }

  &__zone {
    margin: 0 0 0 10px;
  }

  &__tabs {
    position: absolute;
    left: 100%;
  }
}
