@import "~in-themes/active.less";

.in-snapshot-detail-sidebar {
  position: fixed;
  top: 5rem;
  left: 5rem;
  bottom: 0; // we need bottom = 0 because we cant calculate a %-value for childrens

  max-height: ~"calc(100% - 200px)";

  z-index: @z-index__sidebar;

  &__close {
    margin-bottom: 10px;
    padding: 8px 10px;
  }
}
