@import "~in-themes/less/constants.less";

.in-snapshot-sidebar-tab {
  margin: 0 0 0.5rem 0.5rem;
  width: 3rem;
  height: 3rem;

  border-radius: 0.25rem;
  background: @sidebar__background;
  text-align: center;

  &__selected {
    background: #9fffff;
  }

  &:hover {
    cursor: pointer;
    border: 0.1rem solid white;
    margin: -0.1rem 0 0.48rem 0.48rem;
  }

  &__icon {
    height: 1.5rem;
    min-width: 3rem;
    margin-top: 1rem;
  }
}
