@import "~in-themes/less/constants.less";

.in-snapshot-sidebar-tab {
  margin: 0 0 10px 10px;
  width: 70px;
  height: 70px;

  border-radius: 4px;
  background: @sidebar__background;

  &__selected {
    background: #9fffff;
  }

  &:hover {
    cursor: pointer;
  }

  &__icon {
    height: 40px;
    width: 40px;

    margin: 15px;
  }
}
