@import "~in-themes/less/constants.less";

.in-snapshot-sidebar-tab {
  margin: 0 0 10px 10px;
  width: 70px;
  height: 70px;

  background: @sidebar__background;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    height: 30px;
    width: 30px;

    margin: 20px;
  }
}
