@import "~in-themes/less/constants.less";

.in-snapshot-sidebar-tabs {
  width: 70px;
  height: 70px;

  &__tab {
    margin: 0 0 10px 10px;
    width: 70px;
    height: 70px;

    background: @sidebar__background;
  }
}
