.in-stack-trace {
  list-style: none;
  padding: 0;

  &__element {
  }

  &__label {
    color: #ccc;
    margin: 0 0.5rem;
  }

  &__function {
    font-weight: bold;
  }

  &__file,
  &__line {
    color: #6b8088;
  }
}
