@import "~in-themes/active.less";

.in-tooltip__connection {
  &__ul {
    list-style: none;

    margin-bottom: -5px;
    padding: 0;
  }

  &__li:last-child {
    margin-bottom: -10px;
  }

  &__li {
    margin: -5px 0 0 0;
  }

  &__li--arrow {
    color: @map__tooltips__font;
    opacity: 0.4;

    margin-top: -5px;
    margin-right: 5px;
  }

  &__li--header {
    font-size: 11px;
    font-weight: bold;

    min-width: 75px;

    margin-right: 5px;
  }

  &__li--ip {
    font-size: 11px;

    opacity: 1; //results in color: white
    font-weight: bold;

    color: @map__tooltips__font;
  }

  &__footer {
    margin-top: 5px;
  }

  &__li--wrapper {
    display: flex;
    justify-content: flex-start;
  }
}
