.in-log-lines {
  background: #172429;
  overflow: hidden;

  &__scroller {
    padding: 10px .5rem;
    overflow-x: auto !important;
    overflow-y: scroll !important;
  }

  &__refresh {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  &__refresh-icon {
    fill: #fff;
  }
}
