.in-lazy-table-column {
  border-left: 1px solid #40535b;
  background: #6b8088;
  color: #fff;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 1.625rem;
    margin: 0 0.5rem;
  }

  &--clickable {
    cursor: pointer;
    &:hover {
      background: #40535b;
    }
  }

  &--selected {
    background: #40535b;
  }

  &__icon {
    padding: 0.25rem;
    background: #92a5ae;
    border-radius: 0.188rem;

    &:hover {
      background: #fff;
    }
  }
}
