@import "~in-themes/active.less";

.in-sidebar__close-button {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  &__icon {
    color: @common__highlight-color;
    margin-right: 10px;
    font-size: 32px;
  }
}
