@import "~in-themes/active.less";

.in-sidebar__close-button {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
  cursor: pointer;
  color: @filterbar__controls__close-button-label;

  &:hover {
    color: @filterbar__controls__close-button-label-highlight;

    .in-sidebar__close-button__icon {
      color: @filterbar__controls__close-button-icon-highlight;
    }
  }

  &__icon {
    color: @filterbar__controls__close-button-icon;
    margin-right: 10px;
    font-size: 32px;
  }
}
