@import "~in-themes/active.less";

.in-map-sidebar {
  position: absolute;
  top: 5rem;
  left: 2.6rem;
  width: 17.125rem;
  background: #fff;
  border-radius: .125rem;

  z-index: @z-index__sidebar;

  &__scroll-wrapper {
    overflow-y: auto;
  }
}
