.in-sidebar-metric-tree--leaf {
  padding: 8px 8px 8px 0px;
  margin: 2px 2px 2px 0px;
  color: #959fa4;

  font-size: 11px;
  font-weight: bold;

  &:hover {
    background: #3b4e57;
    cursor: pointer;
  }
}
