.in-sidebar-resetButton {
  padding: 15px 0 25px 0;
  font-size: 12px;
  color: white;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  cursor: pointer;

  &__icon {
    color: #99F6F6;
    font-size: 24px;
    margin-left: 6px;
  }

  &:hover {
    .in-sidebar-resetButton__icon {
      color: white;
    }
  }
}
