@import "~in-themes/less/constants.less";

.in-sidebar {
  @content-width: 21rem;
  @transition-duration: .5s;
  @transition-easing: ease-in-out;

  &__controls {
    right: 0;
    transition: right @transition-duration @transition-easing;

    &--open {
      right: @content-width;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: @content-width * -1;
    bottom: @footer__height * 1px;
    width: @content-width;

    z-index: @z-index__sidebar;
    transition: right @transition-duration @transition-easing;

    background: hsla(199, 24%, 24%, 0.95);

    &--open {
      right: 0;
    }
  }
}
