/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-two-columns-view-labeled-value {
  margin-right: 1rem;
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 1.25rem;
  white-space: nowrap;

  &__label {
    font-size: 0.563rem;
    border-radius: 0.125rem;
    padding: 0.125rem 0.5rem 0.188rem 0.438rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: 0.3rem;
  }
}
