.in-two-columns-view-view-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 2.25rem;
  background: #40535b;

  &__left,
  &__right {
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
  }

  &__toggle-left {
    margin: 0.063rem 0 0 0.625rem;
  }

  &__toggle-right {
    margin: 0.063rem 0.625rem 0 0;
  }

  &__toggle-left,
  &__toggle-right {
    cursor: pointer;

    path {
      fill: #d5dfe4;
    }

    &:hover path {
      fill: #fff;
    }
  }
}
