.in-toplist {

  width: 100%;
  padding: 0 .4rem;

  &__header {
    display: flex;
    justify-content: space-between;

    &__buttons {
      margin-right: 1rem;
      flex-direction: row;
    }
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

}
