.in-notification-dialog {
  &__type {
    display: flex;
    align-items: center;
    margin-top: 0;

    color: #94eced;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__header {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0;
    color: black;
  }

  &__child-wrapper {
    max-height: 50%;
    height: 50%;
    position: relative;
  }

  &__content {
    background: white;
    border-radius: 0.9rem;
    padding: 3rem;
    color: #6b8088;
    overflow-y: auto;
    max-height: 100%;
    box-sizing: border-box;

    font-size: 0.875rem;

    img {
      max-width: 100%;
      height: auto;
    }

    code {
      background: #eee;
      padding: 0 2px;
      border-radius: 2px;
      font-size: 0.75rem;
    }
  }

  &__info-icon {
    width: 1.5rem;
    margin-right: 0.6rem;
  }

  &__button-close {
    @size: 30px;
    position: absolute;
    height: @size;
    top: -@size / 2;
    right: -@size / 2;
    border-radius: 50%;

    // this avoids the browser outline which looks ugly here and is not needed
    outline: 0;

    // position above popup
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &__icon {
      position: absolute;
      top: -4px;
      left: 6px;
      font-size: 2.3rem;
      color: #203036;
    }
  }
}
