.in-event-view-incident-event-list-item {
  display: flex;
  align-items: stretch;

  &:first-child {
    .in-event-view-incident-event-list-item__line {
      top: 1.375rem;
    }
  }

  &:last-child {
    .in-event-view-incident-event-list-item__line {
      bottom: ~'calc(100% - 1.375rem)';
    }
  }

  &__time-indicator {
    position: relative;
    margin-right: .625rem;
    min-width: 4rem;
    max-width: 4rem;
  }

  &__time, &__line, &__dot {
    position: absolute;
  }

  &__time {
    top: 1rem;
    right: .625rem;
  }

  &__line {
    top: 0;
    bottom: 0;
    right: -2px;
    width: 2px;
    background-color: #d5dfe4;
  }

  &__dot {
    top: 1.375rem;
    right: -.188rem;

    background: #6b8088;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
  }

  &__right {
    position: relative;

    width: 100%;
    margin-bottom: 0.25rem;

    transition: background 0.25s ease-in-out;
    &--highlighted {
      background: yellow !important;
    }
  }

  &__left-border, &__background {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &__background {
    right: 0;
    left: .438rem;;
    z-index: 1;
    opacity: .1;
    border-radius: 0 .25rem .25rem  0;

    transition: opacity 0.25s ease-in-out;
    .in-event-view-incident-event-list-item:hover & {
      opacity: .3;
    }
  }

  &__left-border {
    left: 0;
    width: .438rem;
    z-index: 2;
    opacity: .3;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;

    transition: opacity 0.25s ease-in-out;
    .in-event-view-incident-event-list-item:hover & {
      opacity: .5;
    }
  }

  &__border {
    height: 1px;
    width: ~'calc(100% - .438rem)';
    margin-left: .438rem;
    opacity: .3;
  }

  &__content-wrapper {
    position: relative; // only required for z-index stacking
    z-index: 4;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.1rem 1rem 0.25rem 1rem;
    cursor: pointer;
  }

  &__expanded-details{
    padding: 0.5rem;
    padding-left: 1rem;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: .5;
    min-width: 1.625rem;
    min-height: 1.625rem;
    margin-right: 0.5rem;
    border-radius: 50%;
  }

  &__expand-icon {
    min-width: 12px;
  }

  &__left {
    display: flex;
    align-items: center;
  }
}
