.in-event-view-incident-header {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: .625rem;
  }

  &__title {
    margin: 0 0 .25rem;
    font-size: 0.875rem;
    font-weight: bold;
  }
}
