@import "~in-themes/active.less";

.in-sidebar-component {
  border-bottom: 1px solid @filterbar__metrics__collapsible__line;

  &__label {
    text-transform: uppercase;
  }

  &__list {
    padding-left: 0;
  }
}
