.in-chart-v2-tooltip {
  padding: .438rem;
  background: #21282e;
  border-radius: .188rem;
  font-size: .688rem;

  &__time {
    margin: 0;
    color: #6B8088;
  }

  &__metrics {
    margin-bottom: 0;
  }

  &__metric {
    display: flex;
    justify-content: space-between;
  }

  &__metric-name {
    display: inline-block;
    margin-right: 5px;
  }

  &__metric-value {
    display: inline-block;
    color: #fff;
  }

  &__aggregation-marker {
    color: white;
    margin-bottom: 0.125rem;
  }

  &__time-marker {
    color: #6B8088;
  }

  &__line {
    margin: .313rem 0;
    border-bottom: 1px solid #40535b;
  }
}
