.in-chart-tooltip {
  padding: .25rem .438rem;
  background: #21282e;
  border-radius: .188rem;
  font-size: .688rem;
  color: #6B8088;

  &__metrics {
    margin-bottom: 0;
    margin-top: 0.188rem;
  }

  &__metric-block {
    &:nth-child(2) {
      margin-top: .5rem;
      border-top: 1px solid #5e7178;
      padding-top: .25rem;
    }
  }

  &__metric {
    display: flex;
    justify-content: space-between;
  }

  &__metric-name {
    display: inline-block;
    margin-right: 5px;
  }

  &__metric-value {
    display: inline-block;
    color: #fff;
  }

  &__no-data-points {
    margin-top: .7rem;
  }

  &__aggregated {
    margin: 0 0 .2rem;
    display: flex;
    justify-content: space-between;
  }

  &__aggregation {
    margin-left: 1rem;
  }
}
