.in-map-notes {
  position: fixed;
  top: 8rem;
  left: 50%;

  width: 22rem;
  margin-left: -11rem;
  text-align: center;
  background: #172429;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.6rem 1rem;
  border-radius: 0.125rem;
}
