/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-map-tooltip-node {
  &__content {
    max-width: 25rem;
    white-space: normal;
    word-break: normal;
    word-wrap: break-word;
  }
}
