@import "~in-themes/less/constants.less";

.in-sticky-note__icon-background {
  .in-map--zoom-0 & {
    display: none;
  }
}

.in-sticky-note__icon-svg {
  opacity: 0.75;

  margin: 0;
  padding: 0;
}
