.in-alerting-config-form-step-2 {
  &__filter-label {
    margin-bottom: 0;
  }

  &__input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  &__button {
    margin-bottom: 0.5rem;
    width: 140px;
    background: #eef2f4;

    &:hover {
      background: #eef2f4;
    }

    &--selected {
      background: #91ecee;

      &:hover {
        background: #91ecee;
      }
    }
  }

  &__advanced-options-label-wrapper {
    display: flex;
    align-items: center;
    margin: 1rem 0 0.25rem;
    text-decoration: underline;
    cursor: pointer;
  }

  &__bold-text {
    font-weight: bold;
  }

  &__icon {
    margin-left: 0.5rem;
  }

  &__matching-entities-indicator {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    color: #6b8088;
  }

  &__matching-text {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }

  &__link {
    color: #6b8088;
  }

  &__event-help {
    color: #6b8088;
  }

  &__query-loading {
    height: 13px;
    margin: 0.5rem 0;
  }
}
