@import "~in-themes/active.less";

.in-sticky-note__tag-frame {
  text-align: center;
  width: 50px;
}

.in-tooltip__tag-frame {
  &__ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  &__li {
    display: inline-block;
    list-style: none;
    margin: 2px;
  }
}
