.in-dashboard-tile {
  margin-bottom: 0.6rem;
  padding: 0.75rem 1.5rem;

  background: white;
  border: 1px solid #d5dfe4;
  border-radius: 0.313rem;

  &--interactable {
    box-shadow: 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.25s ease-in-out;

    &:hover {
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.125);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & + *,
    & + * > *:first-child {
      margin-top: 0;
    }
  }

  &__title {
    margin-bottom: 1.2rem;
    font-weight: 600;
  }

  &__details-button {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  & > .in-detail-pane__description-list:last-child > .in-detail-pane__description-item:last-child {
    margin-bottom: 0;
  }
}

.in-dashboard-tile:hover {
  .in-dashboard-tile__details-button {
    opacity: 1;
  }
}
