@import '~in-themes/active.less';

.in-dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: @header__height * 1px;
  padding: 0 0.625rem;

  background: @lib__colors__N900Primary;
  border-left: 1px solid @lib__colors__N700Medium;
  overflow: hidden;

  &__title {
    color: #fff;
    font-weight: bold;
    margin: 0 0 0 0.7rem;
  }
}
