.in-dashboard-jump-labels {
  height: 2.25rem;
  line-height: 2.25rem;
  background: #fff;
  z-index: 1;
  border-bottom: 0.25rem solid #eef2f4;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  overflow: hidden;

  &__item {
    display: inline;
    padding: 0.3rem 0.5rem;
    color: #6b8088;
    cursor: pointer;

    &--in-view {
      color: #1e3036;
      background: #e2e9ec;
    }
  }
}
