@import "~in-themes/active.less";

.in-sticky-note-process-cluster {
  position: absolute;
  top: -20px;

  &__content {
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @map__sticky-notes__process-groups__font-color
  }

  &__button {
    margin-left: 10px;
    cursor: pointer;
  }
}
