.in-fly-out-notification {
  @indention: 2rem;
  @width: 23rem;

  padding: 0.6rem 0.6rem 0.6rem 0;
  margin: 1rem 0 0 @indention;
  width: @width;

  font-size: 0.8rem;
  border-radius: 0.3rem;
  overflow: hidden;
  background: #293138;

  &--enter-active, &--leave-active {
    transition: margin-left 1s ease,
                height .5s ease .5s,
                margin-top .5s ease .5s,
                padding .5s ease .5s;
  }

  &--enter {
    margin-left: -200%;
  }

  &--enter-active, &--leave {
    margin-left: @indention;
  }

  &--leave-active {
    // move the element twice as far to the left as we are using twice the
    // animation duration.
    margin-left: -200%;
    padding: 0;
    margin-top: 0;
    height: 0 !important;
  }

  @icon-width: 5rem;
  &__icon {
    float: left;
    width: @icon-width;
    text-align: center;
    display: block;
    font-size: 1.9rem;
    color: inherit;

    &--ok {
      color: #78F2D9;
    }

    &--warning {
      color: #FDC206;
    }

    &--danger {
      color: #FF1744;
    }
  }

  &__content {
    margin-left: @icon-width;
    width: @width - @icon-width;
  }

  &__heading {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }

  &__health {
    &--ok {
      color: #78F2D9;
    }

    &--warning {
      color: #FDC206;
    }

    &--danger {
      color: #FF1744;
    }
  }

  &__message {
    margin: 0;
    color: #808589;
  }
}
