.in-snapshot-breadcrumb {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #e2e9ec;

  &__icon {
    margin: 0 0.3rem;
    fill: #e2e9ec;
  }

  &:last-child,
  &:hover {
    color: #fff;

    .in-snapshot-breadcrumb__icon {
      fill: #fff;
    }
  }
}
