@import '~in-themes/active.less';

.in-snapshot-breadcrumb {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: @lib__colors__N500;

  &__icon {
    margin: 0 0.3rem;
    fill: @lib__colors__N500;
  }
}
