@import "~in-themes/active.less";

.in-timeline {
  @transition-duration: 0.20s;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: @footer__height * 1px;

  background: #2d4048;
  z-index: @z-index__footer;

  transition: height @transition-duration ease-in-out;
  overflow: hidden;

  &:hover, &--no-auto-collapse {
    height: @footer__height-expanded * 1px;

    .in-timeline__wrapper {
      top: 0;
    }
  }

  &--expanded:hover, &--no-auto-collapse.in-timeline--expanded {
    height: @footer__height-open * 1px;

    .in-timeline__wrapper {
      top: 0px;
    }

    .in-timeline__bottom {
      top: 148px;
    }
  }

  &__wrapper {
    position: absolute;
    top: -37px;
    left: 0;
    right: 0;
    height: 147px;
    overflow: hidden;

    transition: top @transition-duration ease-in-out;

    background: #2D4048;
  }

  &__bottom {
    display: flex;
    position: absolute;
    top: 73px;
    left: 0;
    right: 0;
    height: 24px;
    background: #172429;

    transition: top @transition-duration ease-in-out;
  }

  &__apply-button-container {
    position: absolute;
    top: 1px;
    bottom: 0;
  }
}
