@import "~in-themes/active.less";

.in-timeline {
  @menu-height: 33px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: #2e4048;
  z-index: @z-index__footer;

  &__wrapper {
    height: @footer__height-open * 1px - @menu-height;
    overflow: hidden;

    transition: height 0.25s ease-in-out;

    &--collapsed {
      height: @footer__height * 1px - @menu-height;
    }
  }

  &__bottom {
    display: flex;
  }
}
