.in-dashboard-jump-labels {
  position: absolute;
  top: 36px;
  left: 274px;
  right: 0;
  height: 36px;
  line-height: 36px;
  background: #fff;
  z-index: 1;
  border-bottom: 4px solid #EEF2F4;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  &__item {
    display: inline;
    padding: 0.3rem 0.5rem;
    color: #6B8088;
    cursor: pointer;

    &--in-view {
      color: #1E3036;
      background: #E2E9EC;
    }
  }
}
