.in-dashboard-breadcrumb {
  float: right;
  width: ~'calc(100% - 274px)';
  margin: 0;
  padding: 0;

  overflow: hidden;
  list-style: none;

  display: flex;
  align-items: center;

  &__crumb-wrapper {
    display: flex;
  }

  &__crumb-separator {
    margin: 0 .5rem;
  }

  &__crumb {
    &--selected, &:hover {
      .in-dashboard-breadcrumb__crumb-link {
        color: #fff;
      }

      .in-dashboard-breadcrumb__crumb-icon {
        filter: brightness(1);
      }
    }
  }

  &__crumb-link {
    display: flex;
    align-items: center;
    color: #D5DFE4;
    text-decoration: none;
  }

  &__crumb-icon {
    width: auto;
    height: 14px;
    margin: 0 0.3rem 0 0;
    filter: brightness(0.9);
  }
}
