.in-dashboard-jump-labels {
  position: absolute;
  top: 2.25rem;
  left: 17.125rem;
  right: .813rem;
  height: 2.25rem;
  line-height: 2.25rem;
  background: #fff;
  z-index: 1;
  border-bottom: .25rem solid #EEF2F4;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  &__item {
    display: inline;
    padding: 0.3rem 0.5rem;
    color: #6B8088;
    cursor: pointer;

    &--in-view {
      color: #1E3036;
      background: #E2E9EC;
    }
  }
}
