.in-audit-log {
  &__right,
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    border-radius: 0.125rem;
    padding: 0.313rem 0.625rem;
    background: #eef2f4;
    margin-bottom: 0.375rem;
  }

  &__user-side {
    display: flex;
    align-items: center;
  }

  &__text {
    height: 2.625rem;
  }

  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__spacer {
    width: 4rem;
  }

  &__full-name {
    font-weight: bold;
    padding: 0 0 2px;
  }

  &__time {
    font-weight: 300;
  }

  &__footer {
    display: flex;
    align-items: center;

    padding: 0.5rem;
    color: #6b8088;
  }

  &__icon {
    margin: 0 0.5rem;
    cursor: pointer;
  }

  &__search {
    width: 10rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border: 1px solid #d5e0e4;
  }

  &__search-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 24px;
    padding: 0 0.5rem;
    border: 1px solid #d5e0e4;
    border-right: 0;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background: #d5e0e4;
    }
  }
}
