@import "~in-themes/active.less";

.in-graph-showcase {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: @footer__height * 1px;

  background: #000;
  z-index: @z-index__dashboard;

  overflow-x: hidden;
  overflow-y: hidden;

  &__back-to-map {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
}
