@import "~in-themes/active.less";

.in-date-picker {
  margin: 0 10px;

  &__heading {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 15px;
  }

  &__inputs {
    margin-left: 15px;
    display: flex;
  }

  &__input--heading {
    font-size: 0.8rem;
    color: #8b9898;
  }

  &__input {
    width: 100px;
    padding: 7px 0 7px 7px;
    margin: 5px 15px 0 0;
    font-size: 0.8rem;
    font-weight: lighter;
    border-radius: 4px;
    border: 1px solid @datepicker__matte;
    color: @datepicker__highlight;
    background: transparent;
  }
}

.DayPicker-Day {
  font-size: 0.75rem;
  border: 1px solid @datepicker__matte;

  &:hover {
    color: @datepicker__matte;
    background: @datepicker__highlight;
  }
}

.DayPicker-Day--isSelected {
  background: @datepicker__matte;
}

.DayPicker-Weekday {
  font-size: 0.75rem;
}

.DayPicker-Day--today {
  color: @datepicker__highlight;
}

.DayPicker-Month {
  font-size: 0.9rem;
  font-weight: lighter;
}
