@import "~in-themes/active.less";

.in-date-picker {
  margin: 0 10px;

  &__heading-wrapper {
    margin-left: 15px;
  }

  &__heading {
    font-size: 0.9rem;
    font-weight: normal;
  }
}

.DayPicker-Day {
  border: 1px solid #43565E;
  font-size: 0.75rem;

  &:hover {
    color: @timeline__background;
    background: white;
  }
}

.DayPicker-Weekday {
  font-size: 0.75rem;
}
