.in-website-table {
  display: flex;
  flex-direction: column;

  padding-bottom: 1rem;

  &__no-websites-matching-query {
    color: #92A5AE;
    line-height: 4rem;
    font-weight: lighter;
    font-size: 1.4rem;
    text-align: center;
  }
}
