.in-issue-discription {
  max-width: 300px;
  min-width: 50px;

  &__header {
    display: flex;

    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;
  }

  &__suggestion {
    font-size: 0.7rem;
    color: #818a8f;

    margin: 10px 0 10px 0;
  }

  &__time {
    font-size: 0.7rem;
    color: #cdd3d5;

    margin: 10px 0 25px 0;
  }
}
