@import "~in-themes/active.less";

.in-trace-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: @footer__height * 1px;

  z-index: @z-index__trace-view;

  overflow-x: hidden;
  overflow-y: hidden;


  background: black;

  padding: 5rem;
}
