@import "~in-themes/active.less";

.in-trace-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: @footer__height * 1px;

  z-index: @z-index__trace-view;

  overflow-x: hidden;
  overflow-y: hidden;

  background: #EEF2F4;
  font-size: 0.75rem;
  color: #2D4048;

  padding: 4rem 1rem 1rem;

  transition: bottom 0.25s ease-in-out;

  &__trace-list {
    float: left;
    height: 100%;
    max-width: 40rem;
    width: 50%;
  }

  &__trace-details {
    float: left;
    height: 100%;
    width: 100%;
    max-width: ~"calc(100% - 40rem)";
  }
}
