.in-controls-view-grouping {
  display: flex;
  justify-content: space-between;

  &__right {
    margin-left: 1.5rem;
  }

  &__heading {
    font-size: 0.75rem;
    margin-top: 0;
    color: #fff;
  }

  &__custom-button,
  &__button {
    white-space: nowrap;
  }

  &__custom-button {
    width: 100%;
    margin-top: 0.5rem;
  }
}
