.in-eum-keys-config-key {
  background: #fff;
  border-radius: 0.188rem;
  padding: 0.1rem 0.625rem 0.625rem;
  margin-bottom: 1rem;

  pre&__tracking-code {
    padding-left: 0;
    margin: 0.25rem 0 0;
  }

  &__remove {
    margin-left: 0.2rem;
  }
}
