.in-eum-keys-config-new-app {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__app-name {
    width: 100%;
  }

  &__add {
    flex-shrink: 0;
    margin-left: 1rem;
    position: relative;
    top: 2px;
  }
}
