@import "~in-themes/active.less";

.in-list {
  &__item {
    padding: 10px 10px;
    margin: 0 0 5px;

    list-style: none;
    background: @sidebar__list__background;
    color: @sidebar__list__text;
    font-size: 11px;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: subpixel-antialiased;
    border-radius: 4px;
    word-break: break-all;

    &--clickable {
      cursor: pointer;
    }

    &--highlighted, &:hover {
      background: #dce3e6;
    }
  }
}
