.in-list {

  &__item {
    padding: 6px 8px;
    margin: 0 0 2px;

    list-style: none;
    background: rgba(255, 255, 255, 0.04);
    color: #fff;
    font-size: 11px;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: subpixel-antialiased;
    border-radius: 2px;
    word-break: break-all;

    &--clickable {
      cursor: pointer;
    }

    &--highlighted, &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
