@import "~instana-ui-themes/less/constants.less";

.in-sticky-note-group {
  position: absolute;
  top: 0;

  color: white;
  white-space: nowrap;

  z-index: @z-index__sticky-notes;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  margin-left: 10px;
  margin-top: 10px;

  background-color: black;

  padding: 5px;
}
