.in-event-view-event-header {
  &__status-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 0.5rem;
  }

  &__affected-service-marker {
    margin-right: 0.625rem;
    border-radius: .125rem;
  }
}
