@import "~in-themes/active.less";

.in-classpath-layouter {
  color: black;
  font-size: 0.75rem;

  &__item {
    margin-top: 10px;
    font-weight: bold;
  }

  &__children {
    margin-left: 10px;
    font-weight: normal;
  }
}
