.in-trace-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .75rem;

  &__left-side, &__right-side {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
    font-size: .688rem;
  }

  &__refresh {
    cursor: pointer;

    path {
      fill: #D5DFE4;
    }

    &:hover path {
      fill: #fff;
    }
  }

  &__toggle-left {
    cursor: pointer;
    margin: .063rem 0 0 0.688rem;

    path {
      fill: #D5DFE4;
    }

    &:hover path {
      fill: #fff;
    }
  }

  &__remove-traces {
    margin-left: 1rem;
  }
}
