.in-trace-table {
  height: 100%;
  position: relative;

  &__scroll-area {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__no-traces {
    text-align: center;
    font-style: italic;
  }
}
