.in-trace-table-header {
  display: flex;

  border-left: 0.5rem solid #6b8088;
  font-size: .688rem;
  color: #fff;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__cell {
    position: relative;
    text-transform: capitalize;
    border-right: 1px solid #40535b;

    height: 1.6rem;

    background: #6b8088;
    line-height: 1.5rem;
    cursor: pointer;

    &:hover, &--selected {
      background: #40535b;
      color: #fff;
      font-weight: bold;
    }

    &:nth-child(1) {
      width: ~"calc(18% - 1px)";
    }

    &:nth-child(2) {
      width: ~"calc(29% - 2px)";
    }

    &:nth-child(3) {
      width: ~"calc(13% + 3px)";
    }

    &:nth-child(4) {
      width: ~"calc(12% + 2px)";
    }

    &:last-child {
      width: ~"calc(27% + 1px)";
      border-right: 0;
    }
  }

  &__cell-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;

    height: 1.6rem;
    padding: 0 .625rem;

    background: #6b8088;
    line-height: 1.5rem;
    cursor: pointer;

    &:hover, &--selected {
      background: #40535b;
      color: #fff;
      font-weight: bold;
    }
  }

  &__icon-wrapper {
    background: #92a5ae;
    border-radius: 3px;
    padding: 3px;
    height: 7px;
    width: 7px;
  }

  &__icon {
    margin: 0 0 9px 1px;
  }
}
