.in-trace-table-row {
  display: flex;

  height: 1.625rem;
  line-height: 1.625rem;

  font-size: .688rem;
  color: #2D4048;
  cursor: pointer;

  &:hover, &--selected.in-trace-table-row {
    background: #2d4048;
    color: white;

    .in-trace-table-row__error-icon {
      fill: white;
    }
  }

  &__error-icon {
    padding: 8px 10px 5px 11px;
  }

  &__include_in_analytics {
    margin: 0 0 0 9px;
  }

  &__cell {
    width: 20%;
    padding-left: 7px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #D5DFE4;
    border-right: 1px solid #D5DFE4;

    &:nth-child(1) {
      width: 5%;
      padding-left: 0;
    }

    &:nth-child(2) {
      width: 5%;
      padding-left: 0;
    }

    &:nth-child(3) {
      width: 18%;
    }

    &:nth-child(4) {
      width: 29%;
    }

    &:nth-child(5) {
      width: 12%;
    }

    &:nth-child(6) {
      width: 11%;
    }

    &:last-child {
      width: 26%;
      border-right: 0;
    }
  }
}
