.in-breadcrumb {

  display: flex;
  align-items: center;
  text-decoration: none;
  color: #E2E9EC;

  &__icon {
    margin: 0 .3rem;
    display: flex;
    align-items: center;
  }

  &__active {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}
