.in-snapshot-breadcrumb {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #E2E9EC;

  &__icon {
    margin: 0 .3rem;
    fill: #E2E9EC;
  }

  &:last-child {
    color: #fff;

    .in-snapshot-breadcrumb__icon {
      fill: #fff;
    }
  }
}
