@import "~instana-ui-themes/less/constants.less";

.in-fly-out-notifications {
  position: absolute;
  bottom: 3.3rem;

  // force creation of a composition layer
  transform: translate3d(0,0,0);

  z-index: @z-index__fly-out-notifications;
}
