.in-notification-center {
  @width: 23rem;
  width: @width;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  margin-left: @width * -1;

  background: #293138;
  transition: margin-left .5s ease;

  &--open {
    margin-left: 0;

    & + .in-notification-center__toggle {
      left: @width + 2rem;
    }
  }
}

.in-notification-center__header {
  background: #4D555C;
  text-align: center;

  h2 {
    margin: 0;
    padding: 4rem 0 1.2rem;
    font-size: 1rem;
    font-weight: 400;
    color: #77F1D8;
  }
}

.in-notification-center__toggle {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  padding: 0.3rem 0.8rem .2rem;

  background: #4E575E;
  font-size: 1.2rem;
  border-radius: 0.1rem;

  transition: left .5s ease;
}
