/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';

// File exists to change some behavior in react-grid-layout.
// We also have a PR upstream to add this to react-grid-layout
// natively.

.react-grid-item.react-grid-placeholder {
  pointer-events: none;
  background: var(--ids-color-option-teal-500);
  border-radius: var(--ids-border-radius-option-large);
}

.react-grid-layout {
  @media print {
    height: unset !important;
  }
}

.react-grid-item {
  @media print {
    transform: unset !important;
    position: relative !important;
    margin: 1.5rem 0;

    .carbon-card-wrapper,
    .card-wrapper {
      box-shadow: unset;
      border: 1px solid rgba(0, 0, 0, 0.16);
    }
  }
}
