@import "~in-themes/active.less";

.in-notificationcenter-flyout {
  @notification-center-width: 23rem;
  @transition-easing: ease-in-out;
  @transition-duration: .5s;

  position: absolute;
  top: 40px;;
  bottom: @footer__height * 1px;
  right: 0;

  padding: 1.25rem;
  width: 21rem;
  background: @notification-center__background;
  color: white;
  z-index: @z-index__notification-center;

  transition: bottom 0.25s ease-in-out;

  &--open {
    bottom: @footer__height-open * 1px;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    padding-bottom: 1.25rem;
    font-size: 1rem;
    font-weight: bold;
  }

  &__icon {
    font-size: 2rem;
    color: #99F4F5;
    margin: -0.4rem -0.9rem;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}
