@import "~in-themes/active.less";

.in-key-value-popup {
  &__filter-input {
    margin-left: 0.5rem;
    background: #435b65;
    color: #fff;
    border-radius: 0.38rem;
    box-sizing: border-box;
    padding: 0.5rem 0.6rem;
    border: 0px;
    width: 12rem;
    font-size: 0.8rem;
    position: absolute;
    top: 1.4rem;
    right: 4rem;

    // position above content when scrolling
    z-index: 1;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    font-size: 12px;
    border-top: 1px solid @sidebar__key-value-popup__border;
  }

  &__title {
    width: 45%;

    font-weight: bold;
    color: @sidebar__key-value-popup__title;
  }

  &__text {
    color: @sidebar__key-value-popup__text;
    width: 55%;
    margin-right: 10px;
    word-break: break-all;
  }

}
