@max-width: 1500;
@main-navigation-width: 4.5rem;
@grid__gutter: 24;
@grid__columns: 12;

@map__colors__cube-color-falloff-values__right__r: 0.78;
@map__colors__cube-color-falloff-values__right__g: 0.84;
@map__colors__cube-color-falloff-values__right__b: 0.87;

@map__colors__cube-color-falloff-values__top__r: 0.957;
@map__colors__cube-color-falloff-values__top__g: 0.97;
@map__colors__cube-color-falloff-values__top__b: 0.98;

@lib__colors__N100: #f7f9fa;
@lib__colors__N300: #dfe4e8;
@lib__colors__deep-purple800: #8257d9;
@lib__colors__faded-blue800: rgba(36, 131, 179, 0.08);
@lib__colors__transparent: rgba(255, 255, 255, 0);

@lib__colors__warning: #ffc600;
@lib__colors__failure10: #ffebeb;
