@z-index__map: 1;
@z-index__sticky-notes: 2;
@z-index__view-controls: 3;
@z-index__sidebar: 4;
@z-index__fullscreen-view: 5;
@z-index__footer: 6;
@z-index__fullscreen-view-overlay-timeline: 7;
@z-index__footer-selected-time-notification: 8;
@z-index__footer-time-picker: 9;
@z-index__map-notes: 10;
@z-index__search-menu: 11;
@z-index__search-bar: 12;
@z-index__search-suggestions: 13;
@z-index__fullscreen-view-overlay-search-bar: 14;
@z-index__header: 15;
@z-index__view-switcher: 16;
@z-index__account-menu: 17;
@z-index__detail-popup-presenter: 18;
@z-index__graph-view: 19;
@z-index__toast: 20;
@z-index__tooltips: 21;
@z-index__maintenance-note: 22;
@z-index__backdrop: 23;
@z-index__dialog: 24;
@z-index__sub-menu: 25;
@z-index__message-flyout: 26;

@common__font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@tenant-switcher__headline-background-color: #435b65;
@tenant-switcher__headline-border-color: #2d4048;
@tenant-switcher__font-color: #fff;
@tenant-switcher__link-hover-color: #6c8087;
@tenant-switcher__link-color: #fff;
@tenant-switcher__triangle-color: #6b7f88;
@tenant-switcher__tag-color: #62c0ec;

@font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

@footer__height: 36;
@footer__height-expanded: 97;
@footer__height-open: 171;

@header__height: 80;

@map__colors__cube-color-falloff-values__right__r: 0.78;
@map__colors__cube-color-falloff-values__right__g: 0.84;
@map__colors__cube-color-falloff-values__right__b: 0.87;

@map__colors__cube-color-falloff-values__top__r: 0.957;
@map__colors__cube-color-falloff-values__top__g: 0.97;
@map__colors__cube-color-falloff-values__top__b: 0.98;