@z-index__timeline: 100;
@z-index__overlays-in-content-area: 101;
@z-index__select-box-flyouts: 102;
@z-index__map-overlay-controls: 103;
@z-index__sticky-header: 124;
@z-index__overlays-behind-sidebar: 125;
@z-index__detail-popup-presenter: 126;
@z-index__graph-view: 127;
@z-index__slide-in-view: 128;
@z-index__main-navigation-background: 129;
@z-index__main-navigation: 130;
@z-index__dialog: 131;
@z-index__tv-mode: 132;
@z-index__overlays: 133;
@z-index__message-flyout: 134;
@z-index__tooltips: 135;

@max-width: 1500;
@main-navigation-width: 4.5rem;
@grid__gutter: 24;
@grid__columns: 12;

@map__colors__cube-color-falloff-values__right__r: 0.78;
@map__colors__cube-color-falloff-values__right__g: 0.84;
@map__colors__cube-color-falloff-values__right__b: 0.87;

@map__colors__cube-color-falloff-values__top__r: 0.957;
@map__colors__cube-color-falloff-values__top__g: 0.97;
@map__colors__cube-color-falloff-values__top__b: 0.98;

@lib__carbon-categorical__purple70: #6929c4;
@lib__carbon-categorical__cyan50: #1192e8;
@lib__carbon-categorical__teal70: #005d5d;
@lib__carbon-categorical__magenta70: #9f1853;
@lib__carbon-categorical__red50: #fa4d56;
@lib__carbon-categorical__red90: #520408;
@lib__carbon-categorical__green60: #198038;
@lib__carbon-categorical__blue80: #002d9c;
@lib__carbon-categorical__magenta50: #ee5396;
@lib__carbon-categorical__yellow50: #b28600;
@lib__carbon-categorical__teal50: #009d9a;
@lib__carbon-categorical__cyan90: #012749;
@lib__carbon-categorical__orange70: #8a3800;
@lib__carbon-categorical__purple50: #a56eff;

@lib__carbon-alert__red60: #da1e28;
@lib__carbon-alert__green50: #24a148;
@lib__carbon-alert__orange40: #ff832b;
@lib__carbon-alert__orange60: #ba4e00;
@lib__carbon-alert__yellow30: #f1c21b;
@lib__carbon-alert__yellow60: #8e6a00;
@lib__carbon-alert__blue70: #0043ce;
@lib__carbon-alert__purple50: #a56eff;
@lib__carbon-alert__gray60: #6f6f6f;

@lib__outline-for-color__ #ff832b: #ba4e00;
@lib__outline-for-color__ #f1c21b: #8e6a00;

@lib__colors__white: #ffffff;
@lib__colors__black: #000000;
@lib__colors__N050: #fafbfc;
@lib__colors__N100: #f7f9fa;
@lib__colors__N200: #f2f6f7;
@lib__colors__N300: #dfe4e8;
@lib__colors__N400: #d4d8db;
@lib__colors__N500: #6a7c8f;
@lib__colors__N600Light: #637282;
@lib__colors__N700Medium: #47525d;
@lib__colors__N800Dark: #3c444d;
@lib__colors__N900Primary: #1b2733;
@lib__colors__pink800: #e62e8a;
@lib__colors__purple800: #bf73e6;
@lib__colors__deep-purple800: #8257d9;
@lib__colors__indigo800: #4d4dbf;
@lib__colors__blue800: #2483b3;
@lib__colors__faded-blue800: rgba(36, 131, 179, 0.08);
@lib__colors__light-blue800: #17a1e6;
@lib__colors__cyan800: #00cccc;
@lib__colors__faded-cyan800: rgba(0, 204, 204, 0.1);
@lib__colors__teal800: #00b3b3;
@lib__colors__faded-teal800: rgba(0, 179, 179, 0.11);
@lib__colors__green800: #39bf7c;
@lib__colors__lime800: #adcc14;
@lib__colors__slush-green800: #4596a4;
@lib__colors__batch: #4fd3f8;
@lib__colors__database: #ef914d;
@lib__colors__http: #549ef8;
@lib__colors__messaging: #69b116;
@lib__colors__rpc: #93bedc;
@lib__colors__event: #69b116;
@lib__colors__navy800: #475e66;
@lib__colors__navy900: #031f29;
@lib__colors__yellow800: #ffc600;
@lib__colors__orange800: #ff8c19;
@lib__colors__red800: #ff4040;
@lib__colors__transparent: rgba(255, 255, 255, 0);
@lib__colors__chart__self100: #6a7c8f;
@lib__colors__chart__self25: #f7f8f9;

@lib__colors__primary1: #00b3b3;
@lib__colors__primary2: #2483b3;
@lib__colors__success: #39bf7c;
@lib__colors__failure: #ff4040;
@lib__colors__warning: #ffc600;
@lib__colors__table-row-selected-odd: rgba(0, 179, 179, 0.11);
@lib__colors__table-row-selected-even: rgba(0, 204, 204, 0.1);
@lib__colors__chart-selection: rgba(75, 165, 210, 0.2);
@lib__colors__time-shift: #6f6f6f;
@lib__colors__primary240: #a7cde0;
@lib__colors__light-primary240: #a2d9f5;
@lib__colors__success40: #afe5ca;
@lib__colors__failure10: #ffebeb;
