// :where() is used to add .g10 without affecting specificity
:where(.g10) {
  // Using g90 value for the dark infrastructure map
  --cds-border-interactive-g90: #0f62fe;

  .button {
    border-radius: 0;
  }
  .button-action {
    color: var(--cds-link-primary);
    svg {
      fill: var(--cds-link-primary);
    }
    &:hover {
      color: var(--cds-link-primary-hover);
      background: var(--cds-background);
      svg {
        fill: var(--cds-link-primary);
      }
    }
  }
  .button-primary,
  .button-create {
    background: var(--cds-button-primary);
    &:hover {
      background: var(--cds-button-primary-hover);
    }
  }
  .button-warning,
  .button-danger {
    background: var(--cds-button-danger-primary);
    color: var(--cds-text-on-color);
    &:hover {
      background: var(--cds-button-danger-hover);
      color: var(--cds-text-on-color);
      svg {
        fill: var(--cds-text-on-color);
      }
    }
    svg {
      fill: var(--cds-text-on-color);
    }
  }
  .button-disabled,
  .button-create.button-disabled {
    border-color: var(--cds-button-disabled);
    background: var(--cds-button-disabled);
    box-shadow: none;
    color: var(--cds-text-on-color-disabled);
    &:hover {
      background: var(--cds-button-disabled);
    }
    svg {
      // !important required because it's used in ui-foundation
      // src/components/Button/styles.scss#L60-L63
      fill: var(--cds-text-on-color-disabled) !important;
    }
  }
  .button-info,
  .button-primaryv2 {
    &:hover {
      background: var(--cds-button-secondary-hover);
    }
    background: var(--cds-button-secondary);
    color: var(--cds-text-on-color);
  }
}
