/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';

.breakWord() {
  word-break: break-word;

  .in-browser-ff & {
    overflow-wrap: anywhere;
  }

  hyphens: auto;
}

.ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsisLeft() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  direction: rtl;
  text-align: left;
}

.highlightingBase() {
  transition: 2s ease-in-out background;
}

.highlightingActive() {
  transition: 1s ease-in-out background;
  background: #ffee52;
}

.flexbox() {
  display: flex;
  align-items: center;
}

.inlineFlexbox() {
  display: inline-flex;
  align-items: center;
}

.spaceBetweenFlexbox() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bodyCopy() {
  font-size: 0.9rem;
  line-height: 1.5;

  code {
    border: 1px solid @lib__colors__N300;
    border-radius: @lib__shapes__radius_medium;
    padding: 0 0.1875rem;
    background: @lib__colors__N100;
    font-size: 0.8rem;
  }
}

.browserDefaultFocusStyles() {
  // Firefox
  outline: 5px auto Highlight;
  // Webkit based browsers
  outline: 5px auto -webkit-focus-ring-color;
}
