.breakWord() {
  word-break: break-word;

  .in-browser-ff & {
    overflow-wrap: anywhere;
  }
}

.ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.highlightingBase() {
  transition: 2s ease-in-out background;
}

.highlightingActive() {
  transition: 1s ease-in-out background;
  background: #ffee52;
}
