/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.breakWord() {
  word-break: break-word;

  .in-browser-ff & {
    overflow-wrap: anywhere;
  }

  hyphens: auto;
}

.ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  // When ellipsis is wrapping a link the outline is not visible on focus
  a:focus {
    outline-offset: -1px;
  }
}

.alignLeft() {
  direction: rtl;
  text-align: left;
}

.highlightingBase() {
  transition: 2s ease-in-out background;
}

.highlightingActive() {
  transition: 1s ease-in-out background;
  background: #ffee52;
}

.flexbox() {
  display: flex;
  align-items: center;
}

.inlineFlexbox() {
  display: inline-flex;
  align-items: center;
}

.spaceBetweenFlexbox() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bodyCopy() {
  font-size: 0.9rem;
  line-height: 1.5;

  code {
    border: 1px solid var(--ids-color-option-neutral-300);
    border-radius: var(--ids-border-radius-option-medium);
    padding: 0 0.1875rem;
    background: var(--ids-color-option-neutral-100);
    font-size: 0.8rem;
  }
}

.browserDefaultFocusStyles() {
  // Firefox
  outline: 5px auto Highlight;
  // Webkit based browsers
  outline: 5px auto -webkit-focus-ring-color;
}

.screenReaderOnly {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visibleScrollbar {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: var(--ids-color-option-neutral-300);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.widgetInModal {
  box-shadow: none;
  padding: 0;
  background: transparent;
}

.noPaddingWidgetTitle {
  margin-left: -1rem;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

.print(@display: block, @margin: 0, @padding: 0) {
  @media print {
    display: @display;
    margin: @margin !important;
    padding: @padding !important;
  }
}
