.in-config-api-tokens {
  &__api-tokens {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__api-token {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: .125rem;
    padding: .313rem .625rem;
    background: #eef2f4;
    margin-bottom: .375rem;
  }

  &__name {
    font-weight: bold;
    padding: 0 0 2px;
    display: block;
  }

  &__key {
    display: block;
    font-weight: 300;
  }
}
