.in-config-api-tokens {
  &__api-tokens {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__api-token-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
  }

  &__api-token {
    border-radius: .125rem;
    padding: .313rem .625rem;
    background: #eef2f4;
    margin-bottom: .375rem;

    &:hover {
      background: darken(#eef2f4, 5%);
    }
  }

  &__name {
    font-weight: bold;
    padding: 0 0 2px;
    display: block;
  }

  &__key {
    display: block;
    font-weight: 300;
  }
}
