.in-dash-no-x {
  color: #bec7cb;
  display: flex;
  align-items: center;
  font-size: 1.1rem;

  &--centered {
    justify-content: center;
  }

  &__icon {
    fill: #bec7cb;
    margin-right: .563rem;
  }
}
