.in-dashboard-table {
  overflow: hidden;
  border-radius: 3px;

  .in-table__cell > .in-chart-with-legend:first-child, .in-table__cell > div:first-child > .in-chart-with-legend:first-child {
    margin-top: 1.3rem;
  }

  .in-table__cell > .in-hierarchical-link__link-wrapper {
    line-height: 1;
  }
}
