@media (min-width: 1600px) {
  .in-dashboard-two-column-row {
    display: flex;
    flex-direction: row;

    &__left {
      width: 100%;
      margin-right: 4px;
    }

    &__right {
      width: 100%;
    }

    & + .in-dashboard-two-column-row {
      margin-top: 2rem;
    }
  }
}
