@import "~in-themes/active.less";

.in-tooltip__frame {
  display: inline-block;
  min-height: 10px;
  border-radius: 4px;


  padding: 10px;
  margin: 0;

  word-break: normal;

  z-index: @z-index__tooltips;
  background: @map__tooltips__background;

  &::before {
    position: absolute;

    content: '';
    padding: 0;
    border: 4px solid;
  }

  &__left {
    &::before {
      margin-top: 5px;
      margin-left: -17px;

      border-color:
        @map__tooltips__background
        @map__tooltips__background
        transparent
        transparent;
    }
  }

  &__bottom {
    &__left {
      &::before {
        bottom: -8px;

        border-color:
        @map__tooltips__background
        transparent
        transparent
        @map__tooltips__background;
      }
    }

    &__right {
      &::before {
        bottom: -8px;
        margin-left: ~'calc(100% - 34px)';

        border-color:
        @map__tooltips__background
        @map__tooltips__background
        transparent
        transparent;
      }
    }
  }
}
