@import "~in-themes/active.less";

.in-tooltip__heading {
  font-size: 13px;
  font-weight: bold;
  word-break: break-word;
  color: @map__tooltips__font;

  margin:0;
  padding: 0 0 5px 0;

  .in-browser-ff & {
    word-break: break-all;
  }
}
