@import "~in-themes/active.less";
@import "~in-themes/mixins.less";

.in-tooltip__heading {
  font-size: 13px;
  font-weight: bold;
  .breakWord();
  color: @map__tooltips__font;

  margin:0;
  padding: 0 0 5px 0;
}
