@import "~in-themes/active.less";

.in-tooltip__status-line {
  display: flex;

  justify-content: space-between;

  margin: -10px 0 -10px;
  padding: 0;
}

.in-tooltip__status-line--left {
  font-size: 11px;
  font-weight: bold;
  margin-right: 10px;
  max-width: 55%;

  color: @map__tooltips__font;
}

.in-tooltip__status-line--right {
  font-size: 13px;
  margin-top: 8px;

  color: @map__tooltips__font;
}
