@import "~in-themes/active.less";

.in-tooltip__vertical-frame {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 300px;
  min-width: 200px;
  border-radius: 10px;
  padding: 10px;

  opacity: 0.85;

  display: inline-block;

  z-index: @z-index__tooltips;
  background-color: @map__tooltips__background;
}

.in-tooltip__vertical-frame:before {
  content: ' ';
  position: absolute;

  bottom: -8px;

  padding: 0;

  border: 4px solid;
  border-color:
    @map__tooltips__background
    transparent
    transparent
    @map__tooltips__background;
}
