.in-trace-table {
  position: relative;
  height: 100%;

  &__no-traces {
    text-align: center;
    font-style: italic;
  }

  &__error-icon {
    margin-left: 0.625rem;
  }

  &__call,
  &__service {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
