.in-events-timeline-timestamp {
  position: absolute;

  font-size: 0.6875rem;
  margin: 0 0.313rem;
  white-space: nowrap;
  width: 7.2rem;

  &__light {
    .in-events-timeline-timestamp__date {
      color: #669fa3;
    }

    .in-events-timeline-timestamp__time {
      color: #9fffff;
    }
  }

  &__dark {
    .in-events-timeline-timestamp__date {
      color: #6b8088;
    }

    .in-events-timeline-timestamp__time {
      color: #6b8088;
      font-weight: bold;
    }
  }
}
