.in-events-timeline-menu {
  @width: 250px;

  float: left;
  width: @width;
  position: relative;

  &__icon {
    cursor: pointer;
    position: relative;
    margin: 1px 0 0 5px;
    top: 1px;
    left: -2px;

    &:hover {
      fill: white;
    }
  }

  &__toggle-auto-expand {
    position: relative;
    top: 0;
    left: 0;

    border-right: 1px solid #43565e;
    padding: 0.5rem 0.875rem 0.563rem;
    fill: #6b8088;
    cursor: pointer;

    &:hover {
      fill: #fff;
    }
  }
}
