.in-dashboard-section {
  background: rgba(255, 255, 255, 0.04);
  padding: 14px 20px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

/** make each section scrollable if necessary **/
@media only screen and (max-width: 1250px)  {
  .in-dashboard-section { overflow-x: scroll; }
}
