/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';
@import '~in-themes/mixins.less';

.in-detail-pane__description {
  &-list {
    margin: 0;
  }

  &-list:empty + &-no-details {
    display: block;
  }

  &-no-details {
    display: none;
  }

  &-item {
    justify-content: space-between;
    font-size: 0.688rem;
    margin: 0.5rem 0;

    &--with-separator:not(:first-child) {
      border-top: 1px solid #e2e9ec;
      padding: 0.625rem 0 0;
      margin-top: 0.625rem;
    }
  }

  &-title {
    display: block;
    color: #172429;
    font-weight: bold;
    margin: 0 0 0.063rem;
    .breakWord();
  }

  &-text {
    display: block;
    color: #2d4048;
    .breakWord();
    margin: 0;
  }
}
