.in-lazy-table-cell {
  border-left: 1px solid #d5dfe4;

  &__content {
    display: flex;
    align-items: center;

    white-space: nowrap;

    height: 1.625rem;
    margin: 0 0.5rem;

    &--nowrap {
      margin: 0;
    }
  }
}
