@import "~in-themes/active.less";

.in-table-view-toggle-button {
  @margin-to-timeline: 24px;

  position: absolute;
  bottom: @footer__height * 1px + @margin-to-timeline;
  transition: bottom 0.25s ease-in-out;
  right: 1.5rem;
  padding: 1px 6px 0;

  z-index: @z-index__table-view-toggle-button;

  color: #9FFFFF;
  font-size: 1.6rem;
  background: #2D4048;
  border-radius: 0.25rem;

  &:hover, &--visible {
    color: #2D4048;
    background: #9FFFFF;
  }

  &--timeline-expanded {
    bottom: @footer__height-open * 1px + @margin-to-timeline;
  }
}
