@import '~in-themes/active.less';

@z-index__axisLabel: 1;
@z-index__bar: 2;
@z-index__horizontalLine: 3;
@z-index__barStrike: 4;
@z-index__selection: 5;
@z-index__selectionHandle: 6;
@z-index__tooltipContent: 7;
// glass pane must lay over all other chart elements, in order to capture all mouse events
@z-index__glassPane: 10;
// context menu must lay over the glass pane, because it has its own mouse event handling
@z-index__contextMenuActionsButtonsWrapper: 11;
