.in-line-chart {
  path {
    stroke: transparent;
    stroke-width: 0;
  }

  .axis {
    text {
      stroke: none;
      fill: #3D464C;
      font-size: 0.8rem;
    }

    .tick line {
      stroke: none;
    }

    .domain {
      fill: none;
    }

    &.y line {
      stroke: white;
      stroke-width: 1px;
      opacity: 0.2;
    }
  }
}
