.in-line-chart {
  @fill-opacity: 0.3;

  path {
    stroke-width: 2px;
  }

  path:nth-child(1) {
    stroke: hsl(205, 63%, 61%);
    fill: hsla(205, 63%, 61%, @fill-opacity);
  }

  path:nth-child(2) {
    stroke: hsl(125, 41%, 56%);
    fill: hsla(125, 41%, 56%, @fill-opacity);
  }

  path:nth-child(3) {
    stroke: hsl(54, 71%, 56%);
    fill: hsla(54, 71%, 56%, @fill-opacity);
  }
}
