.in-dev-panel-misc {

  &__title {
    margin: 1rem 1rem 1rem 0;
    font-size: 1rem;
    font-weight: bold;
  }

  &__section {
    padding: 0 1rem 2rem .5rem;
    border: 1px solid #2d4048;
    margin-bottom: .5rem;
  }
}
