@import "~in-themes/active.less";

.in-temporary-notification-presenter {
  @width: 35rem;
  position: absolute;
  top: 30%;
  left: 50%;
  width: @width;
  margin-left: @width / -2;

  padding: 1rem;
  border-radius: 0.2rem;

  background: hsla(198, 23%, 23%, .9);
  z-index: @z-index__temporary-notification;
  cursor: pointer;
}
