.in-tabs {
  @border-radius: 4px;
  height: 100%;

  &__tabs {
    margin: 0;
    padding: 0;
  }


  &__tab {
    display: inline-block;
    cursor: pointer;
    background: transparent;
    border-top-right-radius: @border-radius;
    border-top-left-radius: @border-radius;
    color: #6B8088;
    font-size: 0.875rem;
    line-height: 2.5rem;
    padding: 0 1.25rem;

    &:first-child {
      margin-left: 0.4375rem;
    }

    &--active {
      background: #fff;
      color: #172429;
      font-weight: bold;
    }
  }


  &__tab-content {
    height: ~"calc(100% - 2.5rem)";
    box-sizing: border-box;
    padding: 0.937rem;
    position: relative;
    background: #fff;
    color: #2D4048;
    border-top-right-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
  }
}
