.in-rule-binding-form {
  &__toggle {
    width: 3rem;
    transform: scale(0.75);
  }

  &__issue-preview {
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 3px;
    background: #203036;
  }
}
