@import "~in-themes/active.less";

.in-right-sidebar {
  @content-width: 25rem;

  position: absolute;
  top: @header__height * 1px;
  right: @content-width * -1;
  bottom: @footer__height * 1px;

  display: flex;
  box-sizing: border-box;
  width: @content-width;

  z-index: @z-index__sidebar;
  transition: bottom 0.25s ease-in-out,
              right 0.25s ease-in-out;

  &--open {
    right: 0;
  }

  &--timeline-is-open {
    bottom: @footer__height-open * 1px;
  }

  &__content {
    background: #2d4148;
    overflow-y: auto;
    padding: 1rem;
    width: 100%;
  }
}
