.in-sidebar-separator {
  border: 0;
  border-bottom: 1px solid #e2e9ec;
  margin: 0.625rem -0.75rem;

  .in-dashboard & {
    border-color: #d5dfe4;
    margin: 0.625rem 0;
  }
}

.in-sidebar-separator + .in-sidebar-separator {
  display: none;
}
