.in-detail-panel-server-details {
  width: 500px;
  padding: 110px 40px;
  border-left: 1px solid #666;

  &__heading {
    margin: 0;
    font-size: 20px;
  }

  &__hostname {
    font-size: 20px;
    font-weight: 300;
    margin: 5px 0;
  }

  &__horizontal-list-item {
    width: 33.3%;
    display: inline-block;
  }

  dl {
    font-size: 13px;
  }

  dt {
    color: #666;
    text-transform: uppercase;
  }

  dd {
    margin: 0 0 9px;
    line-height: 1.5;
  }

  &__problems {
    list-style: none;
    padding: 0;
  }

  &__problem-text {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
  }

  &__problem-fix-suggestion {
    margin: 0 0 10px;
    font-size: 13px;
    color: #aaa;
  }
}
