.in-agent-view-table-notification-indicator {
  display: inline;
  padding: .25rem .375rem;
  border-radius: 2px;
  background: #92a5ad;
  color: white;
  font-size: 10px;

  &__active-notifications {
    background: #9fffff;
  }
}
