.in-table-view-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  padding: 0 0.75rem;
  background: #40535b;

  &__left,
  &__right {
    height: 2.25rem;
    display: flex;
    align-items: center;
  }

  &__toggle-aggregations {
    color: #fff;
    margin: 0 1rem 0 0.5rem;
  }

  &__selector {
    margin-left: 1.5rem;
  }
}
