@import "~in-themes/active.less";

.in-presence-lister {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: @footer__height * 1px;
  background: #2F434C;
  z-index: @z-index__dashboard;
  overflow-y: auto;
  padding: 3rem;
}
