@import '~in-components/Icon/Icon.less';
@import '~in-themes/less/constants.less';

.in-sidebar-listing {
  &__tabs {
    background: #233038;

    margin: -20px -20px 20px;
    padding: 6px;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tab {
    display: flex;
    align-items: center;
    padding: 0 10px;

    cursor: pointer;
    opacity: 0.5;

    &:before {
      font-family: instana;
      font-size: 32px;
      -webkit-font-smoothing: antialiased;
      padding-right: 6px;
    }

    &--active, &:hover {
      opacity: 1;
    }

    &--listing:before {
      content: @icon-dot;
    }

    &--metrics:before {
      content: @icon-metrics;
      font-size: 26px;
      padding-right: 0;
    }

    &--tags:before {
      content: @icon-tags;
      padding-right: 0;
    }

    &--danger:before {
      content: @icon-critical;
      color: @health__danger;
    }

    &--warning:before {
      content: @icon-warning;
      color: @health__warning;
    }
  }

}
