.in-sidebar-map-stats {
  &__stat {
    padding: 5px;
    margin: 5px;

    background: #3b4e57;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__name {

  }

  &__value {

  }
}
