@font-face {
  font-family: 'instana';
  src:url('fonts/instana.eot');
  src:url('fonts/instana.eot?#iefix') format('embedded-opentype'),
    url('fonts/instana.ttf') format('truetype'),
    url('fonts/instana.woff') format('woff'),
    url('fonts/instana.svg?#instana') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'instana';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;
  border: 0;
  background: transparent;

  -webkit-font-smoothing: antialiased;

  &:focus {
    outline: none;
  }
}

button.icon {
  cursor: pointer;
}

/*
 * To update the following section do a regex search and replace of the
 * following
 *
 * Search:
 * \.icon-([^:]+):before { content: ([^;]+); }
 *
 * Replace:
 * @icon-$1: $2;ABC.icon-$1:before { content: @icon-$1; }
 */

@icon-arrow_bt: "\e600";
.icon-arrow_bt:before { content: @icon-arrow_bt; }

@icon-arrow_left: "\e601";
.icon-arrow_left:before { content: @icon-arrow_left; }

@icon-arrow_right: "\e602";
.icon-arrow_right:before { content: @icon-arrow_right; }

@icon-arrow_top: "\e603";
.icon-arrow_top:before { content: @icon-arrow_top; }

@icon-x: "\e604";
.icon-x:before { content: @icon-x; }

@icon-menue: "\e607";
.icon-menue:before { content: @icon-menue; }

@icon-sidebar: "\e608";
.icon-sidebar:before { content: @icon-sidebar; }

@icon-plus: "\e60a";
.icon-plus:before { content: @icon-plus; }

@icon-search: "\e60b";
.icon-search:before { content: @icon-search; }

@icon-dashboard: "\e60d";
.icon-dashboard:before { content: @icon-dashboard; }

@icon-warning: "\e60e";
.icon-warning:before { content: @icon-warning; }

@icon-critical: "\e60f";
.icon-critical:before { content: @icon-critical; }

@icon-system: "\e60c";
.icon-system:before { content: @icon-system; }

@icon-zones: "\e610";
.icon-zones:before { content: @icon-zones; }

@icon-dot: "\e611";
.icon-dot:before { content: @icon-dot; }

@icon-tags: "\e622";
.icon-tags:before { content: @icon-tags; }

@icon-metrics: "\e621";
.icon-metrics:before { content: @icon-metrics; }

@icon-close: "\e61b";
.icon-close:before { content: @icon-close; }

@icon-open: "\e612";
.icon-open:before { content: @icon-open; }

@icon-delete: "\e619";
.icon-delete:before { content: @icon-delete; }

@icon-options: "\e620";
.icon-options:before { content: @icon-options; }

@icon-sidebar_close: "\e618";
.icon-sidebar_close:before { content: @icon-sidebar_close; }
