.in-alerting-config-form {
  &__filter-label-wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 0.313rem;
  }

  &__filter-label {
    margin-bottom: 0;
  }

  &__input {
    width: 100%;
  }

  &__add-new-item {
  }
}
