.in-expandable-table {
  overflow-x: auto;
  width: 100%;
  border-spacing: 0;

  th, td {
    padding: 7px;
    font-size: 11px;
    color: #2D4048;
  }

  th {
    text-align: left;
    text-transform: uppercase;
    background: #E2E9EC;
    color: #6B8088;
    font-weight: normal;

    &:empty {
      background: transparent;
    }
  }

  td {
    background: transparent;
    border-bottom: 1px solid #E2E9EC;
    word-break: break-word;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  tr.active > td, tr:hover > td {
    background: #92A5AE;
    color: #fff;
  }

  &__clickable > tbody > tr > td {
    cursor: pointer;
  }

  // increase specificity to overwrite rules seen above
  & &__details {
    padding: 1.4rem 1rem 2rem;
    box-sizing: border-box;
    background: transparent;
    cursor: auto;
  }

  & tr:hover &__details {
    background: transparent;
  }
}
