@import "~in-themes/less/common.less";
@import "./SubtleTable.less";

body {
  // we are a fullscreen app and have dedicated scrollable areas
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: #8c969a;

  &:hover, &:active {
    color: #fff;
  }
}

.in-root-lettering {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 130px;
}
