@import "~in-themes/active.less";

@import ~"url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300&subset=latin,greek,vietnamese,latin-ext,cyrillic,cyrillic-ext)";

body {
  font-family: @common__font-family;
  // We are expecting that this always stays at 16px and that other components
  // are not interested in the exact font size. The remaining parts of the
  // application should be layouted using the rem unit to scale relative to
  // the base font size and the users' zoom levels.
  font-size: 16px;
  color: @common__font-color;
  background: @common__background-color;

  // we are a fullscreen app and have dedicated scrollable areas
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}


a {
  color: #8c969a;

  &:hover, &:active {
    color: #fff;
  }
}

.in-root-lettering {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px;
  height: 34px;
  z-index: @z-index__lettering;
}

.in-root-menu {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  z-index: @z-index__account-menu;
}

.in-root-map-switcher {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: @z-index__map-switcher;
}
