@import "~in-themes/active.less";

body {
  font-family: @common__font-family;
  // We are expecting that this always stays at 16px and that other components
  // are not interested in the exact font size. The remaining parts of the
  // application should be layouted using the rem unit to scale relative to
  // the base font size and the users' zoom levels.
  font-size: 16px;
  color: @common__font-color;
  background: @common__background-color;

  // we are a fullscreen app and have dedicated scrollable areas
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}


a {
  color: #8c969a;

  &:hover, &:active {
    color: #fff;
  }
}

.in-root-lettering {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px;
  height: 34px;
  z-index: @z-index__lettering;
}

.in-root-menu, .in-root-notification-counter {
  position: absolute;
  z-index: @z-index__account-menu;
}

.in-root-menu {
  top: 20px;
  right: 20px;
}

.in-root-notification-counter {
  top: 24px;
  right:50px;
}


// Always show scrollbars in webkit browsers
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
