.in-subtle-table {
  width: 100%;

  border-spacing: 0 2px;

  th, td {
    padding: 7px;
  }

  th {
    color: #666;
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    background: rgba(255, 255, 255, 0.04);
    font-size: 14px;
  }

  tr.active td {
    background: rgba(255, 255, 255, 0.2);
  }

  &--clickable tr:hover td {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

}
