@import "~in-themes/active.less";

.in-event-center-list {
  &__day-heading {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  &__eventlist {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__event-description {
    padding: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: @notification-center__background-highlight;
    }
  }
}
