@import "~in-themes/active.less";

.in-app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: @header__height * 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #172429;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  z-index: @z-index__header;

  .in-browser-safari & {
    box-shadow: none;
  }

  &--without-shadow {
    box-shadow: none;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex-grow: 1;
  }

  &__lettering {
    margin: 0 1rem 0 1rem;

    flex-grow: 1;
  }

  &__toggle-search {
    background: transparent;
    border: 1px solid #6B8088;
    padding: .25rem .438rem .125rem;
    min-width: 1.875rem;

    &:hover {
      border-color: #fff;
      background: transparent;

      .in-app-header__toggle-search-icon  {
        fill: #fff;
      }
    }

    &--active {
      background: #fff;

      .in-app-header__toggle-search-icon  {
        fill: #000;
      }
    }

    &--filtered {
      background: #9fffff;
    }
  }

  &__toggle-search-icon {
    fill: #6B8088;
  }
}
