@import "~in-themes/active.less";

.in-app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: @header__height * 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #172429;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  z-index: @z-index__header;

  &__right {
    display: flex;
    align-items: center;
  }

  &__lettering {
    margin: 0 1rem 0 1rem;
  }

  &__toggle-search {
    background: transparent;
    border: 1px solid #6B8088;
    max-width: 1.875rem;
    white-space: nowrap;
    overflow: hidden;

    transition: 0.5s max-width ease-in-out;

    &:hover, &:focus, &--active {
      border-color: #94eced;

      .in-app-header__toggle-search-icon  {
        fill: #94eced;
      }
    }

    &:hover, &:focus {
      max-width: 12rem;
      transition: 0.5s max-width ease-in-out 1s;
    }
  }

  &__toggle-search-icon {
    fill: #fff;
    margin: 0 0.5rem 0 0;
  }
}
