.in-search-block {
  position: relative;

  display: flex;
  align-items: center;

  margin: 0 .063rem;
  border-radius: .125rem;
  font-size: .688rem;
  background: rgba(45, 64, 72, 0.5);
  color: white;

  &__content {
    display: flex;
    padding: 0.063rem 0 0.063rem 0;
  }

  &__delete-icon {
    margin: 0 .188rem 0 0;
    padding: .188rem;

    cursor: pointer;
    &:hover {
      fill: #fff;
    }
  }
}
