@import "~in-themes/active.less";

.in-maintenance-note {
  position: absolute;
  top: 3.75rem;
  right: 1.25rem;
  background: hsla(198, 23%, 23%, 0.9);
  font-size: 0.8rem;
  width: 18rem;
  padding: 0rem 1.075rem;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: @z-index__maintenance-note;

  &__icon {
    font-size: 2rem;
    color: #9FFFFF;
    margin-right: 0.75rem;
  }

  &__text {
    color: #92A5AE;

    em {
      color: #fff;
      font-style: normal;
    }
  }
}
