@import "~in-themes/active.less";

.in-maintenance-note {
  position: absolute;
  top: 0;
  left: 17rem;
  background: red;
  font-size: 0.9rem;
  width: 21rem;
  padding: 0.5rem 1rem;

  z-index: @z-index__maintenance-note;
}
