@import "~in-themes/active.less";

.in-globe-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-x: hidden;
  z-index: @z-index__graph-view;

  &__universe {
    width: 100%;
    height: 100%;
  }
}
