.in-table-view-table-header {
  font-size: .688rem;
  color: #fff;
  background: #6b8088;

  display: flex;
  flex-shrink: 0;

  &__cell {
    width: 100%;
    margin: 0;
    padding: 0 0.5rem;
    box-sizing: border-box;
    border-right: 1px solid #40535b;
    background: #6b8088;
    line-height: 1.6rem;

    &:last-child {
      max-width: 9.375rem;
      margin-right: .5rem;
      border-right: 0;
    }
  }
}
