@import "~in-themes/mixins.less";

.in-table-view-table-row {
  font-size: .688rem;

  display: flex;

  &__cell {
    width: 100%;
    margin: 0;
    padding: 0 0.5rem;
    line-height: 1.625rem;
    .breakWord();
    box-sizing: border-box;
    border-bottom: 1px solid #D5DFE4;
    border-right: 1px solid #D5DFE4;
    position: relative;
  }
}
