.in-table-view-table-row {
  font-size: .688rem;

  display: flex;

  &__cell {
    width: 100%;
    margin: 0;
    padding: 0 0.5rem;
    line-height: 1.625rem;
    box-sizing: border-box;
    border-bottom: 1px solid #D5DFE4;
    border-right: 1px solid #D5DFE4;
    position: relative;

    &:nth-child(5) {
      max-width: 5rem;
      text-align: right;
    }

    &:nth-child(6) {
      max-width: 5rem;
      text-align: right;
    }

    &:nth-child(7) {
      max-width: 6.25rem;
      text-align: right;
    }

    &:nth-child(8) {
      max-width: 6.25rem;
      text-align: right;
    }

    &:nth-child(9) {
      display: flex;
      align-items: center;
      max-width: 9.375rem;
    }
  }
}
