.in-table-view-table-header {
  font-size: .688rem;
  color: #fff;
  background: #6b8088;

  display: flex;
  flex-shrink: 0;

  &__cell {
    width: 100%;
    margin: 0;
    padding: 0 0.5rem;
    box-sizing: border-box;
    border-right: 1px solid #40535b;
    background: #6b8088;
    line-height: 1.6rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--selected {
      background: #40535b;
      color: #fff;
      font-weight: bold;
    }

    &:last-child {
      margin-right: .5rem;
      border-right: 0;
    }
  }

  &__icon-wrapper {
    background: #92a5ae;
    border-radius: .188rem;
    padding: .188rem;
    height: .438rem;
    width: .438rem;

    &:hover, &--selected {
      background: white;
    }
  }

  &__icon {
      margin: 0 0 .688rem .063rem;
  }
}
