.in-audit-log {
  &__heading {
    padding: 1px 1rem;
    background: #eef2f4;
    border-radius: 4px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    border-radius: 4px;
    border: 1px solid #D5E0E4;
    border-bottom: 0;
  }

  &__item {
    padding: .5rem;
    border-bottom: 1px solid #D5E0E4;
  }
}
