.in-dynamic-rule-dialog-control {
  display: flex;
  margin-bottom: 0.75rem;

  &__left {
    display: flex;
    flex-direction: column;

    width: 32%;
    padding-right: 2.5rem;
  }

  &__right {
    width: 68%;
  }

  &__name {
    font-size: 0.875rem;
    color: #0c1415;
    margin-bottom: 0.75rem;
  }

  &__help-text {
    color: #6b8088;
    font-size: 0.75rem;
  }
}
