.in-detail-pane__description {

  &-item {
    display: block;
    font-size: 13px;

    &--horizontal {
      width: 33.3%;
      display: inline-block;
    }
  }

  &-title {
    color: #666;
    text-transform: uppercase;
  }

  &-text {
    margin: 0 0 9px;
    line-height: 1.5;
  }

}
