.in-detail-panel__sidebar {
  width: 500px;
  padding: 110px 40px;
  border-left: 1px solid #666;

  &-heading {
    margin: 0;
    font-size: 20px;
  }

  &-subheading {
    font-size: 20px;
    font-weight: 300;
    margin: 5px 0;
  }
}
