.in-detail-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #20272c;

  display: flex;
  flex-direction: row;

  &__content {
    padding: 110px 40px 110px 30px;
    width: 100%;
    overflow-y: auto;
  }

  &__sidebar {
    width: 500px;
    padding: 110px 40px;
    border-left: 1px solid #666;
    overflow-y: auto;

    &-heading {
      margin: 0;
      font-size: 20px;
    }

    &-subheading {
      font-size: 20px;
      font-weight: 300;
      margin: 5px 0;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: cyan;
    border: 0;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
  }

}
