.in-highlighted-moment-indicator {
  position: absolute;
  bottom: 148px;

  margin-left: 100%;
  font-size: 0.75rem;
  white-space: nowrap;
  text-align: center;

  padding: 5px 10px;
  background: rgba(24, 37, 42, 0.8);
  border-radius: 2px;

  &__collapsed {
    bottom: 65px;
  }

  &__date {
    color: #92A5AE;
  }

  &__time {
    color: #fff;
  }
}
