.in-highlighted-moment-indicator {
  width: 150px;
  position: absolute;
  top: 0.5rem;
  margin-left: 250px;
  font-size: 0.75rem;
  white-space: nowrap;
  text-align: center;

  &__date {
    color: #669FA3;
  }

  &__time {
    color: #9FFFFF;
  }
}
