.in-selected-window-size-presenter {
  @width: 20rem;

  position: absolute;
  top: -1.25rem;
  left: 50%;
  width: @width;
  margin-left: @width / -2;
  text-align: center;

  &__time {
    font-size: 0.9rem;
    color: #fff;
    background: hsla(197, 28%, 13%, 0.8);
    border-radius: 100px;
    display: inline-block;
    line-height: 2.5rem;
    padding: 0 1rem;
  }
}
