.in-timeline-timestamps {
  position: absolute;

  width: ~'calc(100% - 30px)';

  &__line {
    height: 0;
  }

  &__first {
    position: relative;
    top: 3px;
  }

  &__second {
    position: relative;
    top: 20px;
  }
}
