@import "~in-themes/active.less";

.in-timeline-live-button {
  padding: 0.313rem 0.5rem;
  font-family: @common__font-family;
  font-weight: bold;
  text-decoration: none;
  font-size: .625rem;
  border: 1px solid;
  color: #92A5AE;
  border-radius: 2px;
  cursor: pointer;

  transition: background 0.25s ease-in-out;

  &:hover {
    color: white;
    border: 1px solid white;
  }

  &__active {
    background: #9fffff;
    color: black;
    border: 1px solid transparent;

    &:hover {
      background: transparent;
    }

    .in-timeline-live-button__link {
      color: #B8E986;
      border: 1px solid #B8E986;
    }
  }

  &__link {
    text-decoration: none;
  }
}
