.in-timeline-menu-event-line {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 3px 20px 5px 5px;
  height: 37px;
  font-size: 0.75rem;
  background: rgba(45, 64, 72, 1);
  border-bottom: 1px solid #43565e;
  box-sizing: border-box;

  &--with-additional-content {
    justify-content: space-between;
  }

  &__counter {
    color: #80939c;
    margin-left: 5px;
  }
}
