.in-timeline-selected-time {
  position: relative;
  font-size: 0.8rem;
  cursor: pointer;

  &__date {
    color: #9fffff;
  }

  &__time {
    margin-left: 5px;
    color: #92a5ae;
  }

  &:hover {
    .in-timeline-selected-time__date, .in-timeline-selected-time__time {
      color: white;
    }
  }
}
