.in-timeline-focused-moment {
  @cyan: #9fffff;
  @width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  width: @width;
  height: 0;

  &__marker {
    position: absolute;
    top: 40px;
    left: 20px;

    height: 120px;
    width: 1px;
    background: @cyan;
  }

  &__slider {
    position: absolute;
    left: 0;

    width: ~'calc(100% - 20px)';

    margin: 0;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      height: 0;
    }

    &::-moz-range-track {
      height: 0;
    }

    &::-ms-track {
      height: 0;
    }

    &::-webkit-slider-thumb {
      height: 36px;
      width: 7px;
      margin-top: 6px;
      border-radius: 3px;
      background: @cyan;
      cursor: pointer;
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      height: 36px;
      width: 7px;
      margin-top: 6px;
      top: 6px;
      border-radius: 3px;
      background: @cyan;
      cursor: pointer;
    }

    &::-ms-thumb {
      height: 36px;
      width: 7px;
      margin-top: 6px;
      border-radius: 3px;
      background: @cyan;
      cursor: pointer;
    }
  }
}
