.in-timeline-selected-time {
  position: relative;
  font-size: 0.8rem;
  cursor: pointer;

  &__date {
    color: #669FA3;
  }

  &__time {
    color: #9FFFFF;
  }

  &:hover {
    .in-timeline-selected-time__date, .in-timeline-selected-time__time {
      color: white;
    }
  }
}
