.in-timeline-timeframe-marker {
  position: relative;

  width: 100%;
  height: 1.5rem;
  margin-right: 1rem;

  &__window-size {
    color: #6b8088;
    font-size: .688rem;
    display: inline;
  }

  &__marker {
    position: absolute;
    bottom: .563rem;

    height: .375rem;
    border-radius: .313rem;
    background: #43565e;

    &:hover {
      background: #92a5ae;
      cursor: pointer;
    }
  }
}
