.in-timeline-navigation {
  @dark: #384b53;
  @light: #92a5ae;
  @width: 234px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: @width;
  min-width: @width;
  padding: 0 15px 0 1px;
  position: relative;
  top: 1px;

  &__icon-zoom {
    margin: 0 .4rem;
    cursor: pointer;

    &:hover {
      fill: #fff;
    }
  }

  &__slider {
    width: 100%;
    margin: 6px 4px;

    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      height: 14px;
      width: 4px;
      border-radius: 2px;
      background: #6b8088;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -6px;

      &:hover {
        background: #92a5ae;
      }
    }

    &::-moz-range-thumb {
      height: 14px;
      width: 2px;
      border-radius: 2px;
      background: #6b8088;
      cursor: pointer;

      &:hover {
        background: #92a5ae;
      }
    }

    &::-ms-thumb {
      height: 14px;
      width: 5px;
      border-radius: 2px;
      background: #6b8088;
      cursor: pointer;

      &:hover {
        background: #92a5ae;
      }
    }

    &::-moz-range-track {
      height: 2px;
      cursor: pointer;
      background: #43565e;
    }

    &::-webkit-slider-runnable-track {
      height: 4px;
      cursor: pointer;
      background: #43565e;
    }

    &::-ms-track {
      height: 2px;
      cursor: pointer;
    }

    &::-ms-fill-upper {
      background: #43565e;
    }

    &:focus::-ms-fill-lower {
      background: #43565e;
    }
  }

  &__window-size {
    margin-bottom: 3px;
    font-size: .688rem;
    color: #6b8088;
    width: 2.5rem;

    white-space: nowrap;
    text-align: right;
  }

  &__selection {
    min-width: 8rem;
    background: #435b64;
    color: white;
    border: 1px solid #435b64;
    cursor: pointer;
  }
}
