.in-timeline-focused-moment {
  @cyan: #9fffff;

  position: absolute;
  top: 0;
  left: 0;
  right: 20px;

  height: 40px;

  &__marker {
    position: absolute;
    top: 10px;
    left: 20px;

    height: 32px;
    width: 7px;

    border-radius: 4px;
    background: @cyan;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 30px;
      left: 3px;

      height: 120px;
      width: 1px;
      content: '';
      background: @cyan;
    }
  }
}
