.in-timeline-menu {
  @width: 250px;

  float: left;
  width: @width;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 30px;
    padding: 5px 20px 5px 10px;
  }

  &__icon {
    color: #80939c;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;

    &:hover {
      color: white;
    }
  }
}
