.in-timeline-menu {
  @width: 250px;

  float: left;
  width: @width;
  position: relative;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 37px;
    padding: 5px 20px 5px 3.3rem;
    box-sizing: border-box;
    border-bottom: 1px solid #43565E;
  }

  &__icon {
    cursor: pointer;
    position: relative;
    margin: 1px 0 0 5px;
    top: 1px;
    left: -2px;

    &:hover {
      fill: white;
    }
  }

  &__toggle-auto-expand {
    position: absolute;
    top: 0;
    left: 0;
    fill: #6b8088;
    border-right: 1px solid #43565E;
    padding: .5rem .875rem .563rem;
    cursor: pointer;

    &:hover {
      fill: #fff;
    }
  }
}
