.in-timeline-focused-moment {
  @height: 40px;
  @cyan: #9fffff;

  position: absolute;
  top: 6px;

  width: 7px;
  height: @height;
  background: @cyan;
  border-radius: 3px;
  cursor: pointer;

  &::after {
    position: absolute;
    top: @height;
    left: 3px;

    height: 120px;
    width: 1px;
    content: '';
    background: @cyan;
  }
}
