.in-timeline-canvas {
  position: relative;
  float: left;

  width: ~'calc(100% - 250px)';
  height: 162px;

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  &__glasspane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
