.in-timeline-menu-event-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 5px 20px 5px 5px;
  height: 30px;
  font-size: 0.75rem;
  background: #43565e;
  border-bottom: 1px solid #2e4048;

  &--with-additional-content {
    justify-content: space-between;
  }

  &__counter {
    color: #80939c;
    margin-left: 5px;
  }
}
