.in-timeline-selected-time {
  position: relative;
  font-size: 0.8rem;
  cursor: pointer;

  &__date {
    color: #669FA3;
    font-size: 0.75rem;
  }

  &__time {
    color: #9FFFFF;
    border-bottom: 1px solid #4D676E;
    padding: 0 0 0.1rem 0;
  }

  &:hover {
    .in-timeline-selected-time__date, .in-timeline-selected-time__time {
      color: white;
    }
  }
}
