@import "~instana-ui-themes/less/common.less";

body {
  // we are a fullscreen app and have dedicated scrollable areas
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
