@import "~instana-ui-themes/less/common.less";
@import "./SubtleTable.less";

body {
  // we are a fullscreen app and have dedicated scrollable areas
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.in-root-lettering {
  position: absolute;
  top: 45px;
  left: 40px;
  width: 100px;
}

.in-switch-to-dashboard {
  position: absolute;
  bottom: 30px;
  left:0;
  right:0;

  margin-left:auto;
  margin-right:auto;
  padding: 10px 15px;

  width: 207px;

  background: #4BC2CB;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
