@import "~instana-ui-themes/less/constants.less";

.in-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;

  background-color: #44535d;
  opacity: 0.9;
  box-shadow: 0 6px 1px 0 rgba(0, 0, 0, 0.1);
  z-index: @z-index__header;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &--in-drilldown {
    background-color: rgba(85, 196, 252, 0.9);
  }

  &__navigation, &__settings {
    display: flex;
    align-items: center;
  }

  &__back {
    width: 80px;
    font-size: 40px;
    text-align: center;
    margin-right: 20px;
    color: #aaa;

    &--active {
      color: #fff;
    }
  }

  &__breadcrumb {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    &-group {
      display: inline-block;
    }

    &-item, &-separator {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      color: #aaa;
      padding: 0 5px;
      text-transform: uppercase;

      .in-header--in-drilldown & {
        color: #eee;

        &--active {
          color: #fff;
        }
      }

      &--active {
        color: #fff;
      }
    }
  }

  &__search, &__sidebar {
    font-size: 30px;
    text-align: center;
    color: #aaa;

    &--active {
      color: #fff;
    }
  }

  &__search {
    width: 60px;
    font-size: 40px;
  }

  &__sidebar {
    width: 80px;
  }

}
