.in-subtle-table {
  width: 100%;

  border-spacing: 0 2px;

  th, td {
    padding: 7px;
  }

  th {
    color: #666;
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    background: #2B3238;
    font-size: 14px;
  }
}
