.in-toast {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;

  position: absolute;
  left: 0;
  bottom: -1px;
  right: 0;
  margin: 0 auto;
  width: 30rem;
  padding: 0.9rem 1.3rem 0.6rem;
  background: #323232;

  transition: bottom 1s;

  &-enter {
    bottom: -100%;
  }

  &-enter-active, &-leave {
    bottom: -1px;
  }

  &-leave-active {
    bottom: -100%;
  }

  &__action {
    float: right;
    padding-left: 3rem;

    color: cyan;
    text-decoration: none;
    text-transform: uppercase;
  }

}
