.in-config-generic-ex-json-dia {
  &__margin-remover {
    margin: -0.625rem;
  }

  &__parse-error {
    margin: 0;
    color: #a94442;
    background-color: #f2dede;
    padding: 0.125rem 0.313rem;
  }

  &__editor {
    width: 60vw;

    & > .CodeMirror {
      height: 60vw;
    }
  }
}
