.in-sticky-note-process-connection-metriclist {
  display: flex;
  margin-left: -50%;
  margin-top: -22px;

  &__metric {
    margin-right: 10px;

    &__label {
      font-size: 0.75rem;
      color: #92A5AE;
    }
  }
}
