@import "~in-themes/active.less";

.in-sticky-connection-process-metric {
  position: absolute;
  top: calc(0 - 25px);
  left: calc(0 - 100px);

  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 7px 7px 7px 15px;
}
