/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-controls-layouting {
  display: flex;
  align-items: center;

  &__left {
    border-radius: var(--ids-border-radius-option-medium) 0 0 var(--ids-border-radius-option-medium);
  }

  &__right {
    margin-left: 0;
    border-radius: 0 var(--ids-border-radius-option-medium) var(--ids-border-radius-option-medium) 0;
    border-left: 1px solid #576a72;
  }
}
