/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */
.in-controls-layouting {
  display: flex;
  align-items: center;

  &__left {
    border-radius: 0.1875rem 0 0 0.1875rem;
  }

  &__right {
    margin-left: 0;
    border-radius: 0 0.1875rem 0.1875rem 0;
    border-left: 1px solid #576a72;
  }
}
