/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';

.in-controls-menu {
  position: absolute;
  right: 2.75rem;
  bottom: 2.75rem;

  background: #2d4048;
  border-radius: 0.1875rem;
  padding: 0.5rem;
  overflow: hidden;

  transition: bottom 0.25s ease-in-out;
  z-index: @z-index__map-overlay-controls;
}
