/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';

.in-controls-menu {
  position: absolute;
  right: 2.75rem;
  bottom: 2.75rem;

  background: var(--ids-color-option-blue-500);
  border-radius: var(--ids-border-radius-option-medium);
  padding: 0.5rem;
  overflow: hidden;

  transition: bottom 0.25s ease-in-out;
  z-index: var(--ids-z-index-option-map-overlay-controls);
}
