/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-controls-view-grouping {
  display: flex;
  justify-content: space-between;

  &__right {
    margin-left: 1.5rem;
  }

  &__left {
    flex: none;
  }

  &__heading {
    font-size: 0.75rem;
    margin-top: 0;
    color: #fff;
  }

  &__custom-buttoncarbon {
    width: 100%;
  }
}
