/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

.in-controls-zoom {
  &__in {
    border-radius: 0.1875rem 0.1875rem 0 0;
  }

  &__out {
    margin-top: 0;
    border-radius: 0 0 0.1875rem 0.1875rem;
    border-top: 1px solid #576a72;
  }
}
