@import "~in-themes/active.less";

.in-map-view-switcher {
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 5px 0 0 0;

  &__item-wrapper {
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
  }

  &__item {
    display: inline;
    padding: 10px 15px;

    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;

    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background: @map-view-switcher__background;
    color: @map-view-switcher__label;

    transition: all 0.25s ease-in-out;
    cursor: pointer;

    &:first-child {
      border-radius: 0 0 0 5px;
    }

    &:last-child {
      border-right: 0;
      border-radius: 0 0 5px 0;
    }

    &:hover {
      background: @map-view-switcher__background-hover;
      color: @map-view-switcher__label;
    }

    &__active {
      background: @map-view-switcher__background-highlight;
      color: @map-view-switcher__label-highlight;
    }
  }
}
