@import "~in-themes/active.less";

.in-map-view-switcher {
  text-align: center;
  width: auto;
  padding: 0;
  margin: 5px 0 0 0;

  &__item {
    display: inline;
    padding: 10px 15px 10px 15px;

    font-size: 0.75rem;
    text-transform: uppercase;

    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background: @map-view-switcher__background;
    color: @map-view-switcher__label;
    cursor: pointer;

    &:first-child {
      border-radius: 0 0 0 5px;
    }

    &:last-child {
      border-right: 0;
      border-radius: 0 0 5px 0;
    }

    &:hover {
      background: @map-view-switcher__background-highlight;
      color: @map-view-switcher__label-highlight;
    }

    &__active {
      background: @map-view-switcher__background-highlight;
      color: @map-view-switcher__label-highlight;
    }
  }
}
