@media (min-width: 1200px) {
  .in-dashboard-columize {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;

    & > * {
      width: 100%;
      flex-grow: 0;
    }
    & > div {
      padding-right: 0rem;
    }
  }
}
