@import "~in-themes/less/constants.less";

.in-notificationcenter-issueitem {

  &__header {
    font-size: 0.7rem;
    text-transform: uppercase;

    margin: 20px 0 20px 0;
  }

  &__suggestion {
    font-size: 0.7rem;
    color: #818a8f;

    margin: 20px 0 20px 0;
  }

  &__time {
    font-size: 0.7rem;
    color: #cdd3d5;

    margin: 20px 0 20px 0;
  }

  &__breakingline {
    border-bottom: 1px solid #374349;
    margin: 0 20px 0 0;
  }
}
