@import "~in-themes/less/constants.less";

.in-notificationcenter-issueitemlist {
  list-style: none;
  margin: 0;
  padding: 0;

  &__header-label {
    margin: 5px 5px 5px 0;
    font-size: 0.9rem;
  }

  &__list {
    padding: 0 0 0 15px;
  }
}
