@import "~in-themes/less/constants.less";

.in-notificationcenter-issueitemlist {
  padding: 0 0 0 15px;

  &__header-label {
    margin: 5px 5px 5px 0;
    font-size: 0.9rem;
  }

  &__list-item {
    list-style: none;

  }
}
