@import "~in-themes/less/constants.less";

.in-notificationcenter {
  @notification-center-width: 23rem;
  @transition-easing: ease-in-out;
  @transition-duration: .5s;

  position: absolute;
  bottom: @footer__height * 1px;
  left: -@notification-center-width;
  top: 0;
  width: @notification-center-width;
  background: #233038;

  transition: left @transition-duration @transition-easing;

  &__open {
    left: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    padding: 1.3rem 1.2rem 1.3rem 1.2rem;
    font-size: 0.9rem;

    background: #20272d;
  }

  &__icon {
    font-size: 2rem;
    color: #99F4F5;
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  &__status-bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding: 1rem 0 1.3rem 0;
    font-size: 0.9rem;

    background: #222f37;
  }
}
