@import "~in-themes/less/constants.less";

.in-notificationcenter {
  position: absolute;
  bottom: @footer__height * 1px;
  left: 0;
  top: 0;

  height: 100%;
  width: 23rem;

  background: #233038;

  &__header {
    display: flex;
    justify-content: space-between;

    padding: 1.3rem 1.2rem 1.3rem 1.2rem;
    font-size: 0.9rem;

    background: #20272d;
  }

  &__icon {
    font-size: 2rem;
    color: #99F4F5;
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  &__status-bar {
    display: flex;
    justify-content: center;

    padding: 1.3rem 0 1.3rem 0;
    font-size: 0.9rem;

    background: #222f37;
  }

  &__list {

  }

  &__list-item {
    list-style: none;
  }
}
