@import "~in-themes/active.less";

.in-event-sidebar {
  @borderRadius: 5px;
  @sidebarWidth: 500px;

  position: absolute;
  top: 5rem;
  left: 5rem;
  max-width: @sidebarWidth;
  min-width: @sidebarWidth;
  height: auto;
  background: #EEF2F4;
  color: black;
  overflow-y: auto;
  border-radius: .125rem;

  z-index: @z-index__sidebar;
}
