.in-two-columns-view-labeled-value {
  font-size: .625rem;
  font-weight: bold;
  margin-right: 1rem;

  &__label {
    font-size: .563rem;
    border-radius: .125rem;
    padding: .125rem .5rem .188rem .438rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: .3rem;
  }
}
