.in-two-columns-view-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .75rem;

  &__toggle {
    cursor: pointer;
    margin: .063rem 0 0 0.688rem;

    path {
      fill: #D5DFE4;
    }

    &:hover path {
      fill: #fff;
    }
  }
}
