@import "~instana-ui-themes/less/common.less";
@import "./SubtleTable.less";

body {
  // we are a fullscreen app and have dedicated scrollable areas
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.in-root-lettering {
  position: absolute;
  top: 45px;
  right: 40px;
  width: 100px;
}
