.in-issue-count {
  min-width: 25px;
  height: 25px;
  background: #20272D;

  margin: 20px 10px 20px 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 50%;
}
