@import '~in-themes/active.less';

.in-select {
  box-sizing: border-box;
  height: 2rem;
  padding: 0 0.5rem;
  color: @lib__colors__N900Primary;
  background-color: @lib__colors__N050;
  background-image: none;
  border: 1px solid @lib__colors__N400;
  border-radius: @lib__shapes__radius_small;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &[disabled] {
    color: #3a4b517a;
    cursor: not-allowed;
  }
}
