.hostCSS3DLayer, .containerCSS3DLayer{
  font: 25px Helvetica, Verdana, sans-serif;
  color: #f0f0f0;
  background-color: transparent;
  width: 400px;
  height: 400px;
}
.containerCSS3DLayer{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-size: 24px;
  width: 200px;
  height: 40px;
}
