@import '~in-themes/active.less';

.in-timeline {
  &__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @z-index__timeline;

    overflow: hidden;
    &:hover {
      overflow: visible;
    }
  }

  height: 2.25rem;
  background: #2d4048;

  @transition-duration: 0.2s;
  transition: height @transition-duration ease-in-out;

  &:hover,
  &--no-auto-collapse {
    height: 6.063rem;

    .in-timeline__menu {
      top: 0;
    }
  }

  &--expanded:hover,
  &--no-auto-collapse.in-timeline--expanded {
    height: 10.688rem;

    .in-timeline__menu {
      top: 0px;
    }

    .in-timeline__bottom {
      top: 148px;
    }
  }

  &__menu {
    position: absolute;
    top: -37px;
    left: 0;
    right: 0;
    height: 147px;
    overflow: hidden;

    transition: top @transition-duration ease-in-out;

    background: #2d4048;
  }

  &__bottom {
    display: flex;
    position: absolute;
    top: 73px;
    left: 0;
    right: 0;
    height: 24px;
    background: #172429;

    transition: top @transition-duration ease-in-out;
  }

  &__apply-button-container {
    position: absolute;
    top: 1px;
    bottom: 0;
  }
}
