/*
 * (c) Copyright IBM Corp. 2021
 * (c) Copyright Instana Inc.
 */

@import '~in-themes/active.less';

.in-form-validation-block {
  display: block;
  margin: 0.5rem 0;
  color: @lib__colors__failure;
}
