.in-sidebar-map__focus-icon {
  cursor: pointer;
  margin-right: 0.625rem;

  &:hover {
    fill: white;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &__tooltip {
    max-width: 300px;
    display: block;
  }
}
