.in-lettering {
  width: 90px;
  height: 14px;

  background: url('./Lettering.svg');
  background-size: contain;
  background-repeat: no-repeat;

  // hide the logo text
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  &--clickable {
    cursor: pointer;
  }
}
