.in-lettering {
  width: 235px;
  height: 12px;

  background: url('./Lettering.png');
  background-size: contain;
  background-repeat: no-repeat;

  // hide the logo text
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
