@import "~in-themes/less/constants.less";

.in-guided-tour {
  @z-index: 999999999;
  @transition-duration: .5s;
  @header-text-size: 0.9rem;
  @vertical-spacing: 0.7rem;

  &__overlay {
    z-index: @z-index__tour__overlay;
  }

  &__blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @z-index__tour__input-blocker;
  }

  &__overlay-fragment {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: @z-index__tour__fragment;

    transition: all @transition-duration linear;
  }

  &__dialog {
    position: absolute;
    top: 0;
    left: 0;
    z-index: @z-index__tour__dialog;

    transition: transform @transition-duration * 1.5 ease-in-out;

    width: 20rem;
    background: #4C5D65;
    padding: 1rem;
    border-radius: 5px;
  }

  &__dialog-header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: @common__highlight-color;
    font-size: 1rem;
    font-weight: bold;
    margin: @vertical-spacing 0;
  }

  &__text {
    color: @common__subtle-text;
    margin: @vertical-spacing 0;
  }

  &__progress {
    font-size: @header-text-size;
  }

  &__skip {
    color: @common__subtle-text;
    font-weight: 400;
    font-size: @header-text-size;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
