@import "~in-themes/active.less";

.in-sidebar-incident-event {
  padding-top: 10px;
  background: #eef2f4;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #dce3e6;
  }

  &__description {
    background: transparent;

    &__time {
      color: black;
    }
  }
}
