@import "~in-themes/active.less";

.in-sidebar-incident-event {
  padding-top: 10px;
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &:hover {
    background: #3b4d55;
  }

  &__description {
    background: transparent;
  }
}
