@import "~in-themes/active.less";

.in-sidebar-incidents {
  @borderRadius: 5px;
  @sidebarWidth: @sidebar__width * 1px;

  position: absolute;
  top: 5rem;
  left: 5rem;
  max-width: @sidebarWidth;
  min-width: @sidebarWidth;
  padding: 20px 20px 20px 20px;
  height: auto;

  overflow-y: auto;
  overflow-x: hidden;
  border-radius: @borderRadius;
  background: @sidebar__background;
  color: black;

  z-index: @z-index__sidebar;
}
