@import "~in-themes/active.less";

.in-fullscreen-overlay-view {
  position: absolute;
  top: 2.5rem;
  bottom: 2.25rem;
  transition: bottom 0.25s ease-in-out;
  left: 0;
  right: 0;

  padding: 0;
  z-index: @z-index__fullscreen-view;
  overflow-x: hidden;
  overflow-y: auto;

  background: #EEF2F4;
  font-size: 0.75rem;
  color: #2D4048;

  &__overlay {
    z-index: @z-index__fullscreen-view-overlay-timeline;
  }

  .in-fullscreen-overlay-view {
    top: 0 !important;
    bottom: 0 !important;
  }
}
