.in-account {
  white-space: nowrap;

  &__icon {
    color: #6B8088;
    font-size: 2rem;

    &:hover {
      color: white;
    }
  }
}

.in-tenant-switcher {
  max-height: 14.75rem;
  overflow-y: auto;
}
