@import "~in-themes/active.less";

.in-sidebar-incident-header {
  @borderRadius: 5px;

  padding: 20px 20px 20px 20px;
  border-radius: @borderRadius @borderRadius 0 0;
  background: @sidebar__background;
  font-size: 0.75rem;
  color: #2d4048;

  &__icon {
    font-size: 2rem;
    margin-left: -10px;
  }

  &__heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6b8088;

    &__left {
      display: flex;
      align-items: center;
    }
  }

  &__flex-wrapper {
    display: flex;
  }

  &__heading {
    margin: 0;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: normal;
  }

  &__key-value {
    margin-right: 30px;

    &__key {
      min-width: 75px;
      margin: 0 0 3px 0;
      color: #6b8088;
    }
  }
}
