@import "~in-themes/active.less";

.in-sidebar-incident-recent-events-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  &__counter {
    background: #cdd3d5;
    border-radius: 5px;
    padding: 10px;
    width: 75px;

    &__flex-wrapper {
      display: flex;
      align-items: center;
    }

    &__value {
      font-size: 1rem;
      margin: 0;
    }

    &__total {
      font-size: 0.75rem;
      margin-left: 7px;
      color: #818a8f;
    }

    &__title {
      margin: 0;
      font-size: 0.75rem;
      word-break: break-word;

      .in-browser-ff & {
        word-break: break-all;
      }
    }
  }
}
