@import "~in-themes/active.less";

.in-new-map {
  position: absolute;
  top: @header__height * 1px;
  bottom: @footer__height * 1px;
  left: 0;
  right: 0;

  background: blue;

  canvas {
    display: block;
  }
}
