@import "~in-themes/active.less";

.in-map {
  position: absolute;
  top: @header__height * 1px;
  bottom: @footer__height * 1px;
  left: 0;
  right: 0;
  background: black;

  &--webvr {
    top: 0;
    bottom: 0;
  }

  &__canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}
