.in-sticky-note-process-cluster-expand-icon {
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  background: #92a5ae;
  margin-left: 3px;

  transition: background 0.25s ease-in-out;

  &--expanded {
    transition: background 0.25s ease-in-out;
    background: white;
  }

  &__icon {
    margin: 0 0 50% 0.25rem;
  }
}
