@import "~in-themes/active.less";

.in-sticky-note-process-cluster-entity-list {
  position: absolute;
  top: 10px;
  left: 0;

  border-radius: 3px;
  font-size: 0.75rem;
  background: #2d4048;
  color: white;
  padding: 8px;
  box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.25);

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;

    border-radius: 3px;
    padding: 8px 0 8px 8px;
    cursor: pointer;
    white-space: nowrap;

    &:hover, &--selected {
      background: #42565e;
    }
  }

  &__plugin-icon {
    height: 18px;
    min-width: 18px;
    margin-right: 5px;
  }
}
