@import "~in-themes/active.less";

.in-sticky-note-process-cluster-entity-list {
  font-size: 0.75rem;
  color: #92a5ae;
  padding: 0.5rem;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0.1875rem;
    padding: 0.3125rem 0 0.3125rem 0.5rem;
    cursor: pointer;
    white-space: nowrap;

    &:hover, &--selected {
      background: #42565e;
    }
  }

  &__health-icon {
    margin-left: 10px;
  }

  &__plugin-icon {
    height: 1rem;
    min-width: 1rem;
    margin-right: 0.3125rem;
    color: white;
  }

  &__entity-information {
    display: flex;
    align-items: center;
  }

  &__kpis {
    display: flex;
    align-items: center;

    margin: 0 0.625rem;
  }
}
