.in-timeline-date-time-picker-button-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.75rem;

  &__icon-button {
    cursor: pointer;
    filter: brightness(0.5);
    margin-left: 0.5rem;

    &:hover {
      filter: brightness(1);
    }
  }

  &__live-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__checkbox {
    transform: scale(0.75);
  }
}
