@import "~in-themes/active.less";

.in-timeline-date-time-picker-popup {
  position: absolute;
  z-index: @z-index__footer;

  background: #2d4048;
  padding: 0.5rem;
  border-radius: 0.125rem 0.125rem 0 0;
  border-bottom: 1px solid #435b64;
  min-height: 16.5rem;

  transition: bottom .2s ease-in-out;

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}
