.in-timeline-date-time-picker-date-time-block {
  display: flex;
  align-items: center;

  margin-top: 0.5rem;

  &__heading {
    font-size: 0.75rem;
    width: 4rem;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;

    width: 14rem;
  }
}
