.in-timeline-date-time-picker-input-fields {
  &__heading {
    font-size: 0.75rem;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;

    width: 14rem;
  }

  &__date-time-block {
    margin-top: 0.5rem;
  }

  &__separator {
    margin-top: 0.938rem;
    border-top: 1px solid #435b64;
    width: 100%;
  }
}
