@import "~in-themes/active.less";

.in-date-picker-select-box {
  &__select {
    width: 6.25rem;
    height: 1.688rem;
    font-size: 0.8rem;
    font-weight: lighter;
    border: 1px solid @datepicker__matte;
    color: @datepicker__highlight;
    background: transparent;
  }

  &__heading {
    font-size: 0.75rem;
    color: #8b9898;
  }
}
