@import "~in-themes/active.less";

.in-date-picker-text-input {
  &__input {
    width: 100px;
    padding: .313rem 0 .313rem .313rem;
    font-size: 0.8rem;
    font-weight: lighter;
    border-radius: 0.188rem;
    border: 1px solid @datepicker__matte;
    color: @datepicker__highlight;
    background: transparent;
  }

  &__heading {
    font-size: 0.75rem;
    color: #8b9898;
  }

  &--selected {
  }
}
