@import "~in-themes/active.less";

.in-date-picker-text-input {
  &__input {
    width: 100px;
    padding: 7px 0 7px 7px;
    margin: 5px 15px 0 0;
    font-size: 0.8rem;
    font-weight: lighter;
    border-radius: 4px;
    border: 1px solid @datepicker__matte;
    color: @datepicker__highlight;
    background: transparent;
  }

  &__heading {
    font-size: 0.75rem;
    color: #8b9898;
  }
}
