.in-map-sidebar-header {
  height: 2.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3rem 0 0.625rem;
  box-sizing: border-box;

  background: #2d4048;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}
