.in-collapsible {
  &__header {
    cursor: pointer;
    color: #AAFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0 3px;

    &--closed {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  &__toggle {
    font-size: 38px;
  }
}
