.in-table-saving-toggle {
  &__flex-wrapper {
    display: flex;
    align-items: center;
  }

  &__toggle {
    transform: scale(0.75);

    // scale reduces the size of the element after it was layouted by the browser
    // to align the toggle to the left again, substract some pixels
    margin-left: -0.5rem;
  }

  &__save-status {
    margin: 0 0 0 0.4rem;
  }
}
