@import "~in-themes/active.less";

.in-toast {
  border-top-left-radius: .188rem;
  border-top-right-radius: .188rem;

  position: absolute;
  left: 0;
  bottom: -1px;
  right: 0;
  margin: 0 auto;
  width: 23rem;
  padding: 0.5rem 1.3rem 0.4rem;
  background: #FADA02;
  color: #172429;
  font-size: 0.8rem;
  font-weight: bold;

  z-index: @z-index__toast;

  &__action {
    float: right;
    padding-left: 3rem;

    color: cyan;
    text-decoration: none;
    text-transform: uppercase;
  }

}
