.in-trace-view {
  flex: 1;
  max-height: ~'calc(100% - 31px)';
  height: 100%;

  &__close {
    cursor: pointer;
    margin: .063rem 0 0 0.688rem;

    path {
      fill: #D5DFE4;
    }

    &:hover path {
      fill: #fff;
    }
  }

}
