.in-trace-view-span-entity-information {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;

  &__label {
    font-weight: bold;
  }

  &__icon {
    height: 1rem;
    filter: brightness(0.3);
  }

  &__link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30vw;
  }
}
