.in-trace-table-header {
  color: #6B8088;
  font-size: .688rem;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__cell {
    position: relative;
    display: inline-flex;
    align-items: center;
    line-height: 1.5rem;
    background: #D5DFE4;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 .813rem;
    width: 7.25rem;

    &--selected {
      color: #fff;
      font-weight: bold;
      background: #92A5AE;
    }

    &:first-child {
      width: 9.375rem;
    }

    &:nth-child(2) {
      width: ~'calc(100% - 9.375rem - 7.25rem * 2)';
    }

    &:last-child {
      width: 7.25rem;
    }

    &__sort-icon {
      margin-left: .625rem;

      path {
        fill: #fff;
      }
    }
  }
}
