.in-trace-details {
  &__props {
    margin-top: 1.1rem;
  }

  &__prop-key {
    display: inline-block;
  }

  &__prop-value {
    display: inline-block;
    background: #EEF2F4;
    border-radius: 4px;
    color: #2C4048;
    font-weight: bold;
    margin: 0 1.7rem 0 0.642rem;
    padding: 0.3rem 0.642rem;
  }
}
