.in-trace-list {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__actions {
    display: flex;
    align-items: center;
  }

  &__trace-count {
    color: #6B8088;
  }

  &__reload {
    font-size: 1.6rem;
    color: #6B8088;
  }
}
