.in-trace-waterfall-chart {
  position: relative;
  padding-top: 2rem;
  overflow-x: auto;
  box-sizing: border-box;

  &__span {
    position: relative;
    color: #2D4048;
    padding-left: 0.2rem;
    font-size: 0.75rem;
    line-height: 2.735rem;
    cursor: pointer;
    margin: 0.1875rem 0;
    white-space: nowrap;
    box-sizing: border-box;

    &:hover, &--selected {
      // Text color changes disables due to problems with short chart blocks
      // which result in white text on white ground.
      // color: #fff;

      .in-trace-waterfall-chart__span-block {
        background: #4A90E2;
      }
    }

    & > span {
      // Position text elements above the block highlighter.
      // Needs a different positioning to apply z-index magic.
      position: relative;
    }
  }

  &__span-block {
    background: #E7F1FC;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    border-radius: 0.25rem;
    box-sizing: border-box;
  }
}
