.in-trace-table-row {
  // needs to be kept in sync with the react infinite configuration
  height: 1.625rem;
  line-height: 1.625rem;
  cursor: pointer;
  color: #2D4048;
  font-size: .688rem;
  border-radius: .125rem;
  box-sizing: border-box;

  &:hover, &--selected.in-trace-table-row {
    background: #D5DFE4;
  }

  &__cell {
    display: inline-block;
    box-sizing: border-box;

    // we cannot flow into new lines as this would break infinite scrolling
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #D5DFE4;

    &:first-child {
      width: 8.562rem;
      margin-left: .813rem;
      padding-right: .813rem;
    }

    &:nth-child(2) {
      width: ~'calc(100% - 16rem)';
      padding: 0 .813rem;
    }

    &:last-child {
      width: 5.837rem;
      padding-left: .813rem;
    }
  }
}
