.in-trace-view-tree {
  overflow-y: auto;
  height: 100%;

  &__no-trace-selected {
    text-align: center;
    margin: 2rem;
  }

  &__element-container {
    list-style: none;
    padding-left: 0;

    &--root {
      padding-left: 0.3rem;
      background: #fff;
      padding: .75rem;
      padding-left: 5.688rem;
      margin: 0;
      position: relative;
    }
  }
}
