.in-trace-view-tree {
  overflow-y: auto;
  height: 100%;
  &__no-trace-selected {
    text-align: center;
    margin: 2rem;
  }

  &__tree-wrapper {
    background: #fff;
    padding: .75rem;
    margin: 0;
  }

  &__element-container {
    list-style: none;
    padding-left: 0;

    &--root {
      padding: 0 0 0 5rem;
      margin: 0;
      position: relative;
    }
  }

  &__total-time-label {
    font-size: .625rem;
    font-weight: bold;
    padding-left: 1rem;
  }
}
