.in-trace-view-tree {
  &__no-trace-selected {
    text-align: center;
    margin: 2rem;
  }

  &__element-container {
    list-style: none;
    padding-left: 2rem;

    &--root {
      padding-left: 0.3rem;
      background: #fff;
      padding: .75rem;
      margin: 0 0 0.25rem;
    }
  }
}
