.in-wait-website-form {
  background: #fff;
  border-radius: 2px;
  padding: 3.75rem 4rem;

  &__heading {
    justify-content: center;
  }

  &__heading-icon {
    fill: #fff;
    background: #5DBE64;
    padding: 6px;
  }

  &__explanation {
    font-size: .875rem;
    max-width: 26.875rem;
    display: block;
    margin: 1.5rem auto 2rem;
    text-align: center;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto 0;
    font-size: 12px;
    width: 250px;
  }

  &__spinner {
    margin-right: 1rem;
    fill: #fff;
  }
}
