.in-config-generic-ex-notification {
  font-weight: bold;
  margin: 0 0 0 1rem;
  display: inline-flex;
  align-items: center;

  &--success {
    color: #449d44;
  }

  &--failure {
    color: #a94442;
  }

  &--has-loading-indicator {
    position: relative;
    top: .25rem;
  }
}
