.in-config-generic-ex-rule {
  max-width: 50rem;
  background: #fff;
  padding: .75rem;
  margin-bottom: .25rem;
  border: 1px solid transparent;
  border-radius: .188rem;
  border-top-right-radius: 0;

  &--has-error {
    border-color: #a94442;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__name-group {
    width: 100%;
    margin-right: .938rem;
  }

  &__without-bottom-margin {
    margin-bottom: 0;
  }

  &__actions-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: .063rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    background: #fff;
    padding: .375rem;
    border: 1px solid transparent;
    border-top-left-radius: .188rem;
    border-top-right-radius: .188rem;

    &--has-error {
      border: 1px solid #a94442;
      border-bottom: 0;
    }
  }

  &__down, &__toggle {
    margin-left: .375rem;
  }

  &__up, &__down, &__toggle {
    fill: #2D4048;
    cursor: pointer;

    &:hover {
      fill: lighten(#2D4048, 20%);
    }
  }

  &__buttons {
    text-align: right;
  }

  &__remove-match {
    float: right;
    color: #2D4048;
    font-weight: normal;

    &:hover, &:active {
      color: #8c969a;
    }
  }
}
