.in-timeline-live-indicator {
  position: absolute;
  top: 0.93rem;
  right: 0.4rem;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #80939c;

  &--live {
    background: #9fffff;
  }
}
