.in-timeline-focused-moment {
  position: relative;

  &__marker {
    position: absolute;
    left: -0.25rem;
    top: 0.188rem;

    width: 0.5rem;
    height: 2.375rem;
    border-radius: 0.25rem;

    background: #9fffff;
  }

  &__fixed-marker {
    position: relative;

    display: flex;
    align-items: center;
  }
}
