.in-svg-icon {
  &--spinning {
    animation: svg-icon-spin 2s infinite linear;
  }

  &--clickable {
    cursor: pointer;
  }

  &__icons {
    .in-svg-icon {
      fill: #000;
    }
  }
}

@keyframes svg-icon-spin {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
