.in-svg-icon {
  &--spinning-counter-clockwise {
    animation: svg-icon-spin-counter-clockwise 2s infinite linear;
  }

  &--spinning-clockwise  {
    animation: svg-icon-spin-clockwise 2s infinite linear;
  }

  &--clickable {
    cursor: pointer;
  }

  &__icons {
    .in-svg-icon {
      fill: #000;
    }
  }
}

@keyframes svg-icon-spin-counter-clockwise {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes svg-icon-spin-clockwise {
  0% {
    transform: rotate(-359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
